<#bs4Body>
<div class="container-fluid">
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="likeDriverName">司机</label>
                <input type="text" class="form-control" name="likeDriverName" id="likeDriverName"/>
            </div>
            <div class="form-group col">
                <label for="likeTruckPlate">车牌号</label>
                <input type="text" class="form-control" name="likeTruckPlate" id="likeTruckPlate"/>
            </div>

            <div class="form-group col">
                <label for="truckTypeId">车型</label>
                <select id="truckTypeId" name="truckTypeId" class="form-control">
                    <option value="">--全部--</option>
                    <%for(carType in carTypeList){%>
                    <option value="${carType.id}">${carType.name}</option>
                    <%}%>
                </select>
            </div>
            <div class="form-group col">
                <label for="likeDriverPhone">手机号</label>
                <input type="text" class="form-control" name="likeDriverPhone" id="likeDriverPhone"/>
            </div>
            <div class="form-group col">
                <label for="likeCode">报备单号</label>
                <input type="text" class="form-control" name="likeCode" id="likeCode"/>
            </div>
            <div class="form-group col-auto">
                <label for="createdStart">报备时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="createdStart" id="createdStart" class="form-control laydatetime laystart" value="${createdStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="createdStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="createdEnd" id="createdEnd" class="form-control laydatetime layend" value="${createdEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="createdEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-auto">
                <label for="checkinCreatedStart">进门时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="checkinCreatedStart" id="checkinCreatedStart" class="form-control laydatetime laystart" value="${checkinCreatedStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="checkinCreatedStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="checkinCreatedEnd" id="checkinCreatedEnd" class="form-control laydatetime layend" value="${checkinCreatedEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="checkinCreatedEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-auto align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>
    <hr>
    <div>
        <div id="toolbar" class="btn-group" role="group" aria-label="工具栏">
            <#resource code="truckEnterRecord#detail">
                <button id="detail-btn" type="button" class="btn btn-primary"><i class="fa fa-eye"></i>查看</button>
            </#resource>
            <#resource code="truckEnterRecord#add">
                <button id="add-btn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>新增</button>
            </#resource>
            <#resource code="truckEnterRecord#undo">
                <button id="undo-btn"   type="button" class="btn btn-primary"><i class="fa fa-trash"></i>删除</button>
            </#resource>
            <#resource code="truckEnterRecord#export">
                <button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('grid','queryForm')"><i class="fa fa-download"></i> 导出</button>
            </#resource>
        </div>
        <table id="grid" data-toggle="table" data-title="司机报备列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="10"
               data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="true"
               data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="created" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
               data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true" data-detail-view="false">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="created" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    报备时间
                </th>
                <th data-field="code" data-sortable="true" data-align="center">
                    报备编号
                </th>
                <th data-field="created" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    进门时间
                </th>
                <th data-field="driverName" data-sortable="true" data-align="center">
                    司机名称
                </th>
                <th data-field="corporateName" data-sortable="true" data-align="center">
                    企业名称
                </th>
                <th data-field="truckPlate" data-sortable="true" data-align="center">
                    车牌
                </th>
                <th data-field="truckTypeName" data-sortable="true" data-align="center">
                    车型
                </th>
                <th data-field="driverPhone" data-sortable="true" data-align="center" data-formatter="phoneFormatter">
                    手机号码
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</#bs4Body>
<#webGlobalConfig/>

<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js?v=${v}"></script>
<script src="${contextPath!}/resources/js/WebConfig.js?v=${v}"></script>
<script src="${contextPath!}/resources/js/CategoryController.js?v=${v}"></script>
<script src="${contextPath!}/resources/js/CityController.js?v=${v}"></script>
<script src="${contextPath!}/resources/assets/dep/jquery/laydate/laydate.js"></script>
<script src="${contextPath!}/resources/assets/dep/systemjs/system.min.js"></script>
<script src="${contextPath!}/resources/assets/dep/systemjs/extras/amd.min.js"></script>
<#importmap/>
<script type="text/javascript">
    lay('.laydatetime').each(function(){
        laydate.render({
            elem: this
            ,type: 'datetime'
            ,trigger: 'click'
        });
    });
    function phoneFormatter(val,row){
        if(val){
            return val.replace(val.substring(3,7), "****")
        }
        return val;
    }
    System.import('TruckEnterRecordGrid').then(function(grid){
        new grid.TruckEnterRecordGrid($('#grid'),$('#queryForm'),$('#toolbar'));
    });

</script>


