
<#body head_title="用户列表">
<style>
    .textbox-text[readonly] {
        background: #ebebe4;
    }
</style>
<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center">
        <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
        </div>
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left">
            <form id="form" class="easyui-form" method="post" fit="true">
                <input type="hidden" name="userId"/>
                <table width="580px">
                    <tr>
                        <td style="padding:5px;width:50%">
                            <select class="easyui-combobox" name="nameCombobox" id="nameCombobox" style="width:100%;" labelAlign="right"
                                    data-options="label:'业户名',loader:queryUserInfo,mode: 'remote',valueField:'id' ,textField:'name',prompt:'请输入', panelMinWidth:'55', panelHeight:'auto',panelMaxHeight:'300', 
                                    editable:true,required:false,onSelect:function(record){
                                $('input[name=\'userId\']').val(record.id);
                                $('#phoneCombobox').combotree('setText',record.phone);
                            }"></select>
                        </td>

                        <td style="padding:5px;">
                            <input class="easyui-combobox" name="phoneCombobox" id="phoneCombobox" style="width:100%" value="${user.phone!}"
                                data-options="label:'电话*:', loader:queryUserInfo,mode: 'remote',valueField:'id' ,textField:'phone',validType:'phoneNum',required:true,onSelect:function(record){
                                    $('input[name=\'userId\']').val(record.id);
                                    $('#nameCombobox').combotree('setText',record.name);
                                }" />
                        </td>
                    </tr>
                    
                    <%for(bill in registerBillList){%>
                        <input type="hidden" name="upStreamIdList[${billLP.index-1}]" value="${bill.upStreamId!}"/>
                        <input type="hidden" name="productIdList[${billLP.index-1}]" value="${bill.productId!}"/>
                        <input type="hidden" name="productNameList[${billLP.index-1}]" value="${bill.productName!}"/>

                        <input type="hidden" name="originIdList[${billLP.index-1}]" value="${bill.originId!}"/>
                        <input type="hidden" name="originNameList[${billLP.index-1}]" value="${bill.originName!}"/>
                        
                        <input type="hidden" name="idList[${billLP.index-1}]" value="${bill.id!}"/>
                        <td style="padding:5px;width:50%">
                            <select class="easyui-combobox" index="${billLP.index-1}" name="upStreamNameCombobox-${billLP.index-1}" id="nameCombobox-${billLP.index-1}" style="width:100%;" labelAlign="right"
                                    data-options="label:'上游',loader:queryUpStream,mode: 'remote',valueField:'id' ,textField:'name',prompt:'请输入', panelMinWidth:'55', panelHeight:'auto',panelMaxHeight:'300', 
                                    editable:true,required:false,onSelect:function(record){
                                        var index=$(this).attr('index')
                                        $('input[name=\'upStreamIdList['+index+']\']').val(record.id);
                                        
                                        $('#upStreamTelphoneCombobox-'+index).combotree('setText',record.telphone);
                            }"></select>
                        </td>

                        <td style="padding:5px;">
                            <input class="easyui-combobox" index="${billLP.index-1}" name="upStreamTelphoneCombobox-${billLP.index-1}" id="upStreamTelphoneCombobox-${billLP.index-1}" style="width:100%" value="${user.phone!}"
                                data-options="label:'联系方式*:', loader:queryUpStream,mode: 'remote',valueField:'id' ,textField:'telphone',validType:'phoneNum',required:true,onSelect:function(record){
                                    var index=$(this).attr('index')
                                    $('input[name=\'upStreamIdList['+index+']\']').val(record.id);
                                    $('#upStreamNameCombobox-'+index).combotree('setText',record.name);
                                }" />
                        </td>
                    <tr>
                        <td style="padding:5px;">

                            <input class="easyui-combobox" index="${billLP.index-1}" name="productCombobox-${billLP.index-1}" id="productCombobox-${billLP.index-1}" style="width:100%" value="${user.phone!}"
                            data-options="label:'商品*:', loader:queryProduct,mode: 'remote',valueField:'id' ,textField:'value',required:true,onSelect:function(record){
                                var index=$(this).attr('index')
                                $('input[name=\'productIdList['+index+']\']').val(record.id);
                                $('input[name=\'productNameList['+index+']\']').val(record.value);
                            }" />
                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-textbox" name="weightList[${billLP.index-1}]" id="weightList[${billLP.index-1}]" style="width:100%"
                                value="${bill.weight}"
                                data-options="label:'重量*:', validType:['isWord','length[0,40]'],required:true" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px;">

                            <input class="easyui-combobox" index="${billLP.index-1}" name="productCombobox-${billLP.index-1}" id="productCombobox-${billLP.index-1}" style="width:100%" value="${user.phone!}"
                            data-options="label:'原产地*:', loader:queryOrigin,mode: 'remote',valueField:'id' ,textField:'value',required:true,onSelect:function(record){
                                var index=$(this).attr('index')
                                $('input[name=\'originIdList['+index+']\']').val(record.id);
                                $('input[name=\'originNameList['+index+']\']').val(record.value);
                            }" />
                        </td>
                        <td style="padding:5px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-item-group">
                                <h4 class="form-item-title">产地证明</h4>
                                <div class="fileimg-box" style="margin-left: 50px;">
                                    <span class="fileimg-plus-icon">+</span>
                                    <span class="fileimg-des">点击上传</span>
                                    <input id="originCertifiyUrlFile" type="file" name="file" data-url="${contextPath!}/action/imageApi/upload" multiple="multipart/form-data"/>
                                    <input type="hidden" name="originCertifiyUrlList[${billLP.index-1}]" id="originCertifiyUrlList[${billLP.index-1}]">
                                    <img class="magnifying">
                                    <div class="fileimg-cover" style="display: none;"></div>
                                    <div class="fileimg-edit" style="display: none;">
                                        <span class="fileimg-view">查看</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-item-group">
                                <h4 class="form-item-title">检测报告</h4>
                                <div class="fileimg-box" style="margin-left: 50px;">
                                    <span class="fileimg-plus-icon">+</span>
                                    <span class="fileimg-des">点击上传</span>
                                    <input id="detectReportUrlFile" type="file" name="file" data-url="${contextPath!}/action/imageApi/upload" multiple="multipart/form-data"/>
                                    <input type="hidden" name="detectReportUrlList[${billLP.index-1}]" id="detectReportUrlList[${billLP.index-1}]">
                                    <img class="magnifying">
                                    <div class="fileimg-cover" style="display: none;"></div>
                                    <div class="fileimg-edit" style="display: none;">
                                        <span class="fileimg-view">查看</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <%}%>
            </table>
            
            <input type="button" id="submitFormBtn" style="display: none;">
        </form>
        
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    
</div>
<link rel="stylesheet" type="text/css" href="${contextPath!}/resources/jquery-file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" type="text/css" href="${contextPath!}/resources/css/jquery-editable-select.min.css">
<script src="${contextPath!}/resources/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="${contextPath!}/resources/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="${contextPath!}/resources/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="${contextPath!}/resources/js/jquery-editable-select.min.js"></script>
<script src="http://base.nong12.com/static/log/log.build.js"></script>
<script src="${contextPath!}/resources/js/jquery-serializeForm.min.js"></script>
<script type="text/javascript">
    function queryUserInfo(param,successCallBack,error){
  		$.ajax({
  			url:'${contextPath!}/user/queryUser.action?name=',
  			success:function(resp){
                var data=resp.data.map(function(v,i){v['parentId']='';return v});
                successCallBack(data);
  			}
  		})
    }
    function queryUpStream(param,successCallBack,error){
  		$.ajax({
  			url:'${contextPath!}/upStream/queryUpStream.action',
  			success:function(resp){
                var data=resp.data.map(function(v,i){v['parentId']='';return v});
                successCallBack(data);
  			}
  		})
    }
    function queryProduct(param,successCallBack,error){
        $.ajax({
  			url:'${contextPath!}/toll/category?name='+param.q,
  			success:function(resp){
                var data=resp.suggestions.map(function(v,i){v['parentId']='';return v});
                successCallBack(data);
  			}
  		})
    }
    function queryOrigin(param,successCallBack,error){
        $.ajax({
  			url:'${contextPath!}/toll/city?name='+param.q,
  			success:function(resp){
                var data=resp.suggestions.map(function(v,i){v['parentId']='';return v});
                successCallBack(data);
  			}
  		})
    }
    $('#submitFormBtn').click(function(){
        if(!$('#form').form("validate")){
            return;
        }
        var formData = $('#form').serializeForm();
        debugger
        $.ajax({
            type: "POST",
            url:'${contextPath!}/registerBillHZ/update.action',
            data: JSON.stringify(formData),
            processData:true,
            dataType:  "json",
            async : true,
            contentType: "application/json; charset=utf-8",
  			success:function(resp){
                debugger
  			}
  		})
    });
 // 文件上传组件初始化
 function initFileUpload(selecter) {
        $(selecter).fileupload({
            dataType: 'json',
            formData: {type: 4, compress: true},
            done: function (e, res) {
                if (res.result.code == 200) {
                    var url = res.result.data;
                    $(this).siblings('.magnifying').attr('src', url).show();
                    $(this).siblings("input:hidden").val(url);
                    $(this).siblings('.fileimg-cover,.fileimg-edit').show();
                }
            },
            add: function (e, data) {// 判断文件类型 var acceptFileTypes =
										// /\/(pdf|xml)$/i;
                var acceptFileTypes = /^gif|bmp|jpe?g|png$/i;
                var name = data.originalFiles[0]["name"];
                var index = name.lastIndexOf(".") + 1;
                var fileType = name.substring(index, name.length);
                if (!acceptFileTypes.test(fileType)) {
                    swal('错误', '请您上传图片类文件jpe/jpg/png/bmp!', 'error');
                    return;
                }
                var size = data.originalFiles[0]["size"];
                // 10M
                if (size > (1024 * 10 * 1024)) {
                    swal('错误', '上传文件超过最大限制!', 'error');
                    return;
                }
                data.submit();
            }
        });
    }
   $(function () {
     initFileUpload('input[type="file"]');
   });

</script>


<style>
    /*a  upload */
    .a-upload {
        padding: 4px 28px;
        position: relative;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
        display: inline-block;
        color: #fff !important;
        background-color: #3370ff;
    }

    .a-upload  input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
    }

    .a-upload:hover {
        color: #444;
        background: #eee;
        border-color: #ccc;
        text-decoration: none
    }
</style>
</#body>
