<#bs4Body>

<div class="container-fluid">
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="registType">报备单类型</label>
                <select id="registType" name="registType" class="form-control"></select>
                <#bcomboProvider _id="registType" _provider="registTypeProvider" _value="" _onLoadSuccess=""/>
            </div>
            <!--div class="form-group col">
                <label for="registerSource">登记来源</label>
                <select id="registerSource" name="registerSource" class="form-control"></select>
                <#bcomboProvider _id="registerSource" _provider="registerSourceProvider" _value="" _onLoadSuccess=""/>
            </div-->
            <div class="form-group col">
                <label for="verifyStatus">审核状态</label>
                <select id="verifyStatus" name="verifyStatus" class="form-control"></select>
                <#bcomboProvider _id="verifyStatus" _provider="billVerifyStatusEnumProvider" _value="" _onLoadSuccess=""/>
            </div>
            <div class="form-group col">
                <label for="detectStatus">检测状态</label>
                <select id="detectStatus" name="detectStatus" class="form-control"></select>
                <#bcomboProvider _id="detectStatus" _provider="detectStatusProvider" _value="" _onLoadSuccess=""/>
            </div>
            <div class="form-group col">
                <label for="hasDetectReport">检测报告</label>
                <select id="hasDetectReport" name="hasDetectReport" class="form-control">
                    <option value="">--请选择--</option>
                    <option value="1">有</option>
                    <option value="0">无</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="hasOriginCertifiy">产地证明</label>
                <select id="hasOriginCertifiy" name="hasOriginCertifiy" class="form-control">
                    <option value="">--请选择--</option>
                    <option value="1">有</option>
                    <option value="0">无</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="hasHandleResult">处理结果</label>
                <select id="hasHandleResult" name="hasHandleResult" class="form-control">
                    <option value="">--请选择--</option>
                    <option value="1">有</option>
                    <option value="0">无</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="likeName">经营户姓名</label>
                <input type="text" class="form-control" name="likeName" id="likeName"/>
            </div>
            <div class="form-group col">
                <label for="likePhone">手机号</label>
                <input type="text" class="form-control" name="likePhone" id="likePhone"/>
            </div>
            <div class="form-group col">
                <label for="likeCode">报备单号</label>
                <input type="text" class="form-control" name="likeCode" id="likeCode"/>
            </div>
            <div class="form-group col">
                <label for="likeDetectCode">检测单号</label>
                <input type="text" class="form-control" name="likeDetectCode" id="likeDetectCode"/>
            </div>
            <div class="form-group col">
                <label for="likePlate">车牌号</label>
                <input type="text" class="form-control" name="likePlate" id="likePlate"/>
            </div>
            <!--div class="form-group col">
                <label for="detectType">检测类型</label>
                <select id="detectType" name="detectType" class="form-control"></select>
                <#bcomboProvider _id="detectType" _provider="detectTypeEnumProvider" _value="" _onLoadSuccess=""/>
            </div-->
            <div class="form-group col">
                <label for="detectResultSelect">检测结果</label>
                <select id="detectResultSelect" name="detectResultSelect" class="form-control" data-value-type="skip">
                    <option value='{"detectType":"","detectResult":"}'>-- 请选择 --</option>
                    <option value='{"detectType":"${@com.dili.trace.enums.DetectTypeEnum.INITIAL_CHECK.getCode()}","detectResult":"${@com.dili.trace.enums.DetectResultEnum.PASSED.getCode()}"}'>初检合格</option>
                    <option  value='{"detectType":"${@com.dili.trace.enums.DetectTypeEnum.INITIAL_CHECK.getCode()}","detectResult":"${@com.dili.trace.enums.DetectResultEnum.FAILED.getCode()}"}'>初检不合格</option>
                    <option  value='{"detectType":"${@com.dili.trace.enums.DetectTypeEnum.RECHECK.getCode()}","detectResult":"${@com.dili.trace.enums.DetectResultEnum.PASSED.getCode()}"}'>复检合格</option>
                    <option  value='{"detectType":"${@com.dili.trace.enums.DetectTypeEnum.RECHECK.getCode()}","detectResult":"${@com.dili.trace.enums.DetectResultEnum.FAILED.getCode()}"}'>复检不合格</option>
                </select>
                <input type="hidden" name="detectType" class="form-control">
                <input type="hidden" name="detectResult" class="form-control">
            </div>
            <div class="form-group col-auto">
                <label for="billCreatedStart">报备时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="billCreatedStart" id="billCreatedStart" class="form-control laydatetime laystart" value="${createdStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="billCreatedStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="billCreatedEnd" id="billCreatedEnd" class="form-control laydatetime layend" value="${createdEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="billCreatedEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-auto">
                <label for="checkinCreatedStart">进门时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="checkinCreatedStart" id="checkinCreatedStart" class="form-control laydatetime laystart" value="${checkinCreatedStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="checkinCreatedStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="checkinCreatedEnd" id="checkinCreatedEnd" class="form-control laydatetime layend" value="${checkinCreatedEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="checkinCreatedEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-auto">
                <label for="detectTimeStart">检测时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="detectTimeStart" id="detectTimeStart" class="form-control laydatetime laystart" value="${checkinCreatedStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="detectTimeStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="detectTimeEnd" id="detectTimeEnd" class="form-control laydatetime layend" value="${checkinCreatedEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="detectTimeEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>
    <hr>
    <div>
        <div id="toolbar" class="btn-group" role="group" aria-label="工具栏">
            <#resource code="customerDetectRequest#spot-check">
                <button id="sample-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-eyedropper"></i> 抽检</button>
            </#resource>
            <#resource code="customerDetectRequest#unqualified-handle">
                <button id="unqualified-handle-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-eyedropper"></i> 不合格处理</button>
            </#resource>
            <#resource code="customerDetectRequest#booking">
                <button id="booking-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 预约检测</button>
            </#resource>
            <#resource code="customerDetectRequest#assign">
                <button id="assign-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-file-text"></i> 接单</button>
            </#resource>
            <#resource code="customerDetectRequest#sampling">
                <button id="sampling-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-get-pocket"></i> 采样检测</button>
            </#resource>
            <#resource code="customerDetectRequest#auto">
                <button id="auto-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-car"></i> 主动送检</button>
            </#resource>
            <#resource code="customerDetectRequest#manual">
                <button id="manual-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-user"></i> 人工检测</button>
            </#resource>
            <#resource code="customerDetectRequest#review">
                <button id="review-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-repeat"></i> 复检</button>
            </#resource>
            <#resource code="customerDetectRequest#undo">
                <button id="undo-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-undo"></i> 撤销</button>
            </#resource>
            <#resource code="customerDetectRequest#detail">
                <button id="detail-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-eye"></i>查看</button>
            </#resource>
            <#resource code="customerDetectRequest#createsheet">
                <button id="createSheet-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-print"></i>创建打印报告</button>
            </#resource>
            <#resource code="customerDetectRequest#upload-handleresult">
            <button id="upload-handleresult-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-upload"></i>上传处理结果</button>
            </#resource>
            <#resource code="customerDetectRequest#export">
                <button id="export" style="display: none" type="button" class="btn btn-primary" onclick="bui.util.doExport('detectRequestGrid','queryForm')"><i class="fa fa-download"></i> 导出</button>
            </#resource>
        </div>
        <table id="detectRequestGrid" data-toggle="table" data-title="检测请求列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="10"
               data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="true"
               data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="b.id" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
               data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true" data-detail-view="false">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="billCreated" data-sortable="true" data-sort-name="b.created" data-align="center" data-provider="datetimeProvider">
                    报备时间
                </th>
                <th data-field="code" data-sortable="true" data-align="center">
                    报备单号
                </th>
                <th data-field="sampleCode" data-sort-name="sample_code" data-sortable="true" data-align="center">
                    采样编号
                </th>

                <!--th data-field="sourceDesc"  data-sort-name="" data-sortable="false" data-align="center">
                    登记来源
                </th-->
                <th data-field="detectCode" data-sortable="true" data-align="center">
                    检测单号
                </th>
                <th data-field="verifyStatusName" data-sort-name="verify_status" data-sortable="true" data-align="center" >
                    审核状态
                </th>
                <th data-field="detectStatusName" data-sort-name="detect_status" data-sortable="true" data-align="center" >
                    检测状态
                </th>
                <th data-field="registTypeName" data-sort-name="regist_type" data-sortable="true" data-align="center">
                    报备单类型
                </th>
                <th data-field="name" data-sortable="true" data-align="center">
                    业户姓名
                </th>
                <th data-field="corporateName"  data-sort-name="corporate_name" data-sortable="true" data-align="center">
                    企业姓名
                </th>
                <th data-field="plate" data-sortable="true" data-align="center">
                    车牌
                </th>
                <th data-field="productName" data-sort-name="product_name" data-sortable="true" data-align="center">
                    商品名称
                </th>
                <th data-field="brandName" data-sort-name="brand_name" data-sortable="true" data-align="center">
                    品牌
                </th>
                <th data-field="weight" data-sortable="true" data-align="center">
                    重量
                </th>
                <th data-field="weightUnitName" data-sort-name="weight_unit" data-sortable="true" data-align="center">
                    重量单位
                </th>
                <th data-field="originName" data-sort-name="origin_name" data-sortable="true" data-align="center">
                    产地
                </th>
                <th data-field="hasOriginCertifiyName" data-sort-name="has_origin_certifiy" data-sortable="true" data-align="center">
                    产地证明
                </th>
                <th data-field="hasDetectReportName" data-sort-name="has_detect_report" data-sortable="true" data-align="center">
                    检测报告
                </th>
                <th data-field="hasHandleResultName" data-sort-name="has_handle_result" data-sortable="true" data-align="center">
                    处理结果
                </th>
                <th data-field="confirmTime" data-sort-name="confirm_time" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    接单时间
                </th>
                <th data-field="sampleTime" data-sort-name="sample_time" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    采样时间
                </th>
                <th data-field="detectTime"  data-sort-name="detect_time" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    检测时间
                </th>
                <th data-field="detectDesc" data-sort-name="detect_result" data-sortable="true" data-align="center">
                    检测结果
                </th>
                <th data-field="detectorName" data-sort-name="detector_name" data-sortable="true" data-align="center">
                    检测员
                </th>
                <th data-field="detectReservationTime" data-sort-name="detect_reservation_time" data-sortable="false" data-align="center" data-provider="datetimeProvider">
                    预约时间
                </th>
                <th data-field="isPrintCheckSheetName" data-sort-name="is_print_checksheet" data-sortable="false" data-align="center">
                    打印报告
                </th>
                <th data-field="isDeletedName" data-sort-name="is_deleted" data-sortable="true" data-align="center">
                    是否删除
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</#bs4Body>
<#webGlobalConfig/>
<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js"></script>
<script src="${contextPath!}/resources/js/WebConfig.js"></script>
<script src="${contextPath!}/resources/js/CustomerDetectRequestGrid.index.js?v=${v}"></script>
<script src="${contextPath!}/resources/assets/dep/jquery/laydate/laydate.js"></script>

<script type="text/javascript">
    lay('.laydatetime').each(function(){
        laydate.render({
            elem: this
            ,type: 'datetime'
            ,trigger: 'click'
        });
    });
    $(function () {
        new CustomerDetectRequestGrid($('#detectRequestGrid'),$('#queryForm'),$('#toolbar'));
    });

</script>