<#bodyOrigin>
<div class="main-container" style="padding: 0">
    <div class="form-box border">
        <form id="createRecordForm" class="form-inline" role="form">
            <div class="form-item-group row row-cols-3">
                <h4 class="form-item-title">基础信息</h4>

                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>报备时间</label>
                    <input class="form-control input-sm"
                           value="<%if(null!= registerBill.created!){%>${registerBill.created,dateFormat='yyyy-MM-dd HH:mm:ss'}<%}else{%>-<%}%>"
                           readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>报备编号</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.code!}" readonly/>
                </div>

                <!--div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>登记来源</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.sourceDesc}"  readonly/>
                </div-->
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测状态</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.detectStatusName!}" required
                           readonly/>
                </div>
                <br>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>审核状态</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.verifyStatusName!}" required
                           readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>报备单类型</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.registTypeName!}" required
                           readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>业户名称</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.name!}" required readonly/>
                </div>
                <br>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>企业名称</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.corporateName!}" required
                           readonly/>
                </div>
                <%if (@filedNameRetMap.containsKey('truckType')){
                if(filedNameRetMap['truckType'].displayed!0==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>车牌号</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.plate!}" required readonly/>
                </div>
                <%}}%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>商品</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.productName!}" required
                           readonly/>
                </div>
                <br>
                <%if (@filedNameRetMap.containsKey('brandName')){
                if(filedNameRetMap['brandName'].displayed!0==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>品牌</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.brandName!}" required readonly/>
                </div>
                <%}}%>
                <%if (@filedNameRetMap.containsKey('measureType')){
                if(filedNameRetMap['measureType'].displayed!0==1&&@filedNameRetMap.get('measureType').getAvailableValueList().contains('20')&&registerBill.measureType==20){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>重量/${registerBill.weightUnitName!}</label>
                    <input type="text" class="form-control input-sm"  value=" ${registerBill.weight!,'0.00'}" required readonly/>
                </div>
                <%}}%>

                <%if (@filedNameRetMap.containsKey('originId')){
                if(filedNameRetMap['originId'].displayed!0==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>产地</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.originName!}" required readonly/>
                </div>
                <%}}%>


                <%if (@filedNameRetMap.containsKey('measureType')){
                if(filedNameRetMap['measureType'].displayed!0==1&&@filedNameRetMap.get('measureType').getAvailableValueList().contains('10')&&registerBill.measureType==10){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>件数</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= pieceNum!){%>${pieceNum}<%}else{%>-<%}%>" required readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>件重</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= pieceWeight!){%>${pieceWeight}<%}else{%>-<%}%>" required readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>合计</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= pieceNum! && null!= pieceWeight){%>${pieceNum*pieceWeight}<%}else{%>-<%}%>" required readonly/>
                </div>
                <%}}%>


                <%if (@filedNameRetMap.containsKey('arrivalDatetime')){
                if(filedNameRetMap['arrivalDatetime'].displayed!0==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>预计到场时间</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.arrivalDatetime,'yyyy-MM-dd HH:mm:ss'} " required readonly/>
                </div>
                <%}}%>

                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测报告</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.hasDetectReportName!}"
                           required readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>产地证明</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.hasOriginCertifiyName!}"
                           required readonly/>
                </div>
                <br>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>采样时间</label>
                    <input type="text" class="form-control input-sm"
                           value="<%if(null!= detectRequest.sampleTime!){%>${detectRequest.sampleTime,dateFormat='yyyy-MM-dd HH:mm:ss'}<%}else{%>-<%}%>"
                           required readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>采样编号</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.sampleCode!}" required
                           readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>接单时间</label>
                    <input type="text" class="form-control input-sm"
                           value="<%if(null!= detectRequest.confirmTime!){%>${detectRequest.confirmTime,dateFormat='yyyy-MM-dd HH:mm:ss'}<%}else{%>-<%}%>"
                           required readonly/>
                </div>
                <br>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>是否删除</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.isDeletedName!}" required
                           readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>打印报告</label>
                    <input type="text" class="form-control input-sm"
                           value="<%if(null!= registerBill.isPrintCheckSheetName!){%>${registerBill.isPrintCheckSheetName}<%}else{%>-<%}%>"
                           required readonly/>
                </div>

                <%if (@filedNameRetMap.containsKey('truckType')){
                if(filedNameRetMap['truckType'].displayed!0==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>是否拼车</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.truckTypeShow!}" required readonly/>
                </div>
                <%}}%>

                <%if (@filedNameRetMap.containsKey('truckTareWeight')){
                if(filedNameRetMap['truckTareWeight'].displayed!0==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>皮重/${registerBill.weightUnitName!}</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= truckTareWeight!){%>${truckTareWeight,'0.00'}<%}else{%>-<%}%>" required readonly/>
                </div>
                <%}}%>

                <%if (@filedNameRetMap.containsKey('specName')){
                if(filedNameRetMap['specName'].displayed!0==1){%>

                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>商品规格</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.specName!}" required readonly/>
                </div>

                <%}}%>
                <%if (@filedNameRetMap.containsKey('unitPrice')){
                if(filedNameRetMap['unitPrice'].displayed!0==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>商品单价</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.unitPrice!,'0.00'}" required readonly/>
                </div>
                <%}}%>


                <%if (@filedNameRetMap.containsKey('upStreamId')){
                if(filedNameRetMap['upStreamId'].displayed!0==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>上游企业</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= upStreamName!){%>${upStreamName}<%}else{%><%}%>" required readonly/>
                </div>
                <%}}%>

                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>是否进门</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.checkInStatusName!}" required
                           readonly/>
                </div>

                <%if (@filedNameRetMap.containsKey('arrivalTallynos')){
                if(filedNameRetMap['arrivalTallynos'].displayed!0==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>到货摊位</label>
                    <input type="text" class="form-control input-sm" value='${@registerBill.getArrivalTallynos().stream().collect(@java.util.stream.Collectors.joining(","))}' required readonly/>
                </div>
                <%}}%>

                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>指定检测人</label>
                    <input type="text" class="form-control input-sm"
                           value="<%if(null!= detectRequest.designatedName!){%>${detectRequest.designatedName!}<%}else{%>-<%}%>"
                           required readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>指定检测时间</label>
                    <input type="text" class="form-control input-sm"
                           value="<%if(null!= detectRequest.scheduledDetectTime!){%>${detectRequest.scheduledDetectTime,dateFormat='yyyy-MM-dd HH:mm:ss'}<%}else{%>-<%}%>"
                           required readonly/>
                </div>

                <%if (@filedNameRetMap.containsKey('remark')){
                if(filedNameRetMap['remark'].displayed!0==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>备注</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.remark}" required readonly/>
                </div>
                <%}}%>



                <div class="form-item-group">
                    <h4 class="form-item-title">检测信息</h4>
                    <div class="table-showlist" style="width: 1200px">
                        <table class="table table-bordered">
                            <thead>
                            <th><span class="red">&lowast;</span>检测时间</th>
                            <th><span class="red">&lowast;</span>检测批号</th>
                            <th><span class="red">&lowast;</span>标准数值</th>
                            <th><span class="red">&lowast;</span>检测结果</th>
                            <th><span class="red">&lowast;</span>检测数值</th>
                            <th><span class="red">&lowast;</span>检测人员</th>
                            </tr>
                            </thead>
                            <% for(detectRecord in detectRecordList!){%>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               value="${detectRecord.detectTime,'yyyy-MM-dd HH:mm:ss'}" required
                                               readonly/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="${detectRecord.detectBatchNo}"
                                               required readonly/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="${detectRecord.normalResult}"
                                               required readonly/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm"
                                               value="<%if(detectRecord.detectType == 20){%>初检<%}else if(detectRecord.detectType == 30){%>复检<%}else if(detectRecord.detectType == 40){%>抽检<%}else{%>其他<%}%><%if(detectRecord.detectState==1){%>合格<%}else{%>不合格<%}%>" required
                                               readonly/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" name="weight" class="form-control"
                                               value="${detectRecord.pdResult}" required readonly/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" name="weight" class="form-control input-sm"
                                               value="${detectRecord.detectOperator}" required readonly/>
                                    </div>
                                </td>
                            </tr>
                            <%}%>
                        </table>
                        <!-- 表格后的统计 end -->
                    </div>
                </div>

                <!--TODO:detectState 如何处理？-->
                <%
                if(registerBill.registerSource! == 1){
                if( registerBill.salesType! == 2
                && !isEmpty(registerBill.detectStatus!)
                && (registerBill.detectStatus! == 1 || registerBill.detectStatus! == 3)){
                %>
                <div class="form-item-group">
                    <h4 class="form-item-title">溯源二维码</h4>
                    <div class="imageUploadWrap">
                        <div class="form-group">
                            <div class="imageUpload rectangle">
                                <img id="registerBillQRCode" alt="" class="show-image">
                                <#imgQR selector="registerBillQRCode" width="300" height="300"
                                qrUrl="${baseWebPath}/registerBill/registerBillQRCode.html?id=${registerBill.id!}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <%
                if(isNotEmpty(separateSalesRecords) && separateSalesRecords.~size>0){%>
                <div class="form-item-group">
                    <h4 class="form-item-title">分销信息</h4>
                    <div class="table-showlist" style="width: 1200px">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th><span class="red">&lowast;</span>分销客户</th>
                                <th><span class="red">&lowast;</span>分销地</th>
                                <th><span class="red">&lowast;</span>分销重量/KG</th>
                                <th><span class="red">&lowast;</span>车牌号</th>
                                <th>溯源二维码</th>
                            </tr>
                            </thead>
                            <%for(record in separateSalesRecords){
                            %>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm"
                                               value="${record.salesUserName!}" required readonly/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm"
                                               value="${record.salesCityName!}" required readonly/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" name="weight" class="form-control input-sm"
                                               value="${record.salesWeight}" required readonly/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" name="salesPlate" class="form-control input-sm"
                                               value="${record.salesPlate}" required readonly/>
                                    </div>
                                </td>
                                <td>
                                    <div class="imageUploadWrap">
                                        <div class="form-group">
                                            <div class="imageUpload rectangle">
                                                <img id="separateSalesRecordQR${recordLP.index}" alt=""
                                                     class="show-image">
                                                <#imgQR selector="separateSalesRecordQR${recordLP.index}" width="300"
                                                height="300"
                                                qrUrl="http://trace.nong12.com/registerBill/separateSalesRecordQRCode.html?id=${record.id!}"/>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                        <!-- 表格后的统计 end -->
                    </div>
                </div>
                <%}
                }else{ %>

                <%
                if(isNotEmpty(qualityTraceTradeBills) && qualityTraceTradeBills.~size>0){
                %>
                <div class="form-item-group">
                    <h4 class="form-item-title">交易单</h4>
                    <div class="table-showlist" style="width: 1200px">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>交易单号</th>
                                <th>结算时间</th>
                                <th>重量/KG</th>
                                <th>卖家</th>
                                <th>买家</th>
                                <th></th>
                            </tr>
                            </thead>
                            <%
                            for(qttb in qualityTraceTradeBills){
                            %>
                            <tr>
                                <td>${qttb.orderId!}</td>
                                <td>${qttb.orderPayDate,dateFormat='yyyy-MM-dd HH:mm:ss'}</td>
                                <td>${qttb.netWeight!}</td>
                                <td>${qttb.sellerName!}</td>
                                <td>${qttb.buyerName!}</td>
                                <td>
                                    <% if(!isEmpty(qttb.salesType)) {
                                    if(qttb.salesType == 1){
                                    %>
                                    <a href="javascript:void(0)" data-trade-id="${qttb.id!}" class="ssr-view">分销记录</a>
                                </td>
                                <% }else{ %>
                                <a href="javascript:void(0)"><img id="tradeBillQR${qttbLP.index}" alt="" width="30px"
                                                                  height="30px" class="show-image"></a>
                                <#imgQR selector="tradeBillQR${qttbLP.index}" width="300" height="300"
                                qrUrl="${baseWebPath}/registerBill/tradeBillQRCcode.html?id=${qttb.id!}"/>
                                <% } } %>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
                <%} } %>

                <div class="form-item-group">
                    <h4 class="form-item-title">产地证明</h4>
                    <%if((registerBill.imageCertList.~size!0)>0){
                    for(img in registerBill.imageCertList){
                    if(img.certType == @com.dili.trace.enums.ImageCertTypeEnum.ORIGIN_CERTIFIY.getCode()){
                    %>
                    <div class="fileimg-box"  >
                        <img class="magnifying show-image"   style="width: 100%" src="${imageViewPathPrefix}/${img.uid!}" >
                    </div>
                    <%	} }
                    }%>
                </div>
                <div class="form-item-group">
                    <h4 class="form-item-title">检测报告</h4>
                    <%if((registerBill.imageCertList.~size!0)>0){
                    for(img in registerBill.imageCertList){
                    if(img.certType == @com.dili.trace.enums.ImageCertTypeEnum.DETECT_REPORT.getCode()){
                    %>
                    <div class="fileimg-box"  >
                        <img class="magnifying show-image"   style="width: 100%" src="${imageViewPathPrefix}/${img.uid!}" >
                    </div>
                    <%	} }
                    }%>
                </div>

                <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.QUARANTINE_CERTIFICATE].~size!0)>0){%>
                <div class="form-item-group" id="quarantineDiv">
                    <h4 class="form-item-title">检疫合格证</h4>

                    <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.QUARANTINE_CERTIFICATE]){
                    %>
                    <div class="fileimg-box" >
                        <img class="magnifying show-image" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                    </div>
                    <%}%>
                </div>
                <%}%>

                <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.PURCHASE_VOUCHER].~size!0)>0){%>
                <div class="form-item-group" id="purchaseDiv">
                    <h4 class="form-item-title">购货凭证</h4>

                    <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.PURCHASE_VOUCHER]){
                    %>
                    <div class="fileimg-box" >
                        <img class="magnifying" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                    </div>
                    <%}%>
                </div>
                <%}%>

                <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.CUSTOMS_DECLARATION].~size!0)>0){%>
                <div class="form-item-group" id="customsDeclarationDiv">
                    <h4 class="form-item-title">报关单</h4>

                    <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.CUSTOMS_DECLARATION]){
                    %>
                    <div class="fileimg-box" >
                        <img class="magnifying" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                    </div>
                    <%}%>
                </div>
                <%}%>

                <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.PURCHASE_AGREEMENT].~size!0)>0){%>
                <div class="form-item-group" id="purchaseAgreementDiv">
                    <h4 class="form-item-title">采购协议</h4>

                    <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.PURCHASE_AGREEMENT]){
                    %>
                    <div class="fileimg-box" >
                        <img class="magnifying" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                    </div>
                    <%}%>
                </div>
                <%}%>

                <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.Handle_Result].~size!0)>0){%>
                <div class="form-item-group">
                    <h4 class="form-item-title">处理结果图片</h4>
                    <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.Handle_Result]){
                    %>
                    <div class="fileimg-box"  >
                        <img class="magnifying show-image"   style="width: 100%" src="${imageViewPathPrefix}/${img.uid!}" >
                    </div>
                    <%}%>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>处理结果备注</label>
                    <input type="text" class="form-control input-sm"   value="${registerBill.handleResult}" required readonly/>
                </div>
                <%}%>

                <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.OTHERS].~size!0)>0){%>
                <div class="form-item-group" id="othersDiv">
                    <h4 class="form-item-title">其他</h4>

                    <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.OTHERS]){
                    %>
                    <div class="fileimg-box"  >
                        <img class="magnifying" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                    </div>
                    <%}%>
                </div>
                <%}%>


                <%if(isNotEmpty(registerBill.checkSheetId)){%>
                <div class="form-item-group">
                    <h4 class="form-item-title"><a href="javascript:void(0);"
                                                   onclick="showCheckSheet(${registerBill.checkSheetId})">点击此处查看打印报告详情</a>
                    </h4>
                </div>
                <%}%>
        </form>
    </div>

</div>
</#bodyOrigin>
<style>
    .layui-layer-btn0 {
        border: 1px solid #dedede !important;
        background-color: #f1f1f1 !important;
        color: #333 !important;
    }

</style>
<script type="text/javascript" src="${contextPath!}/resources/js/jquery.rotate.js"></script>
<script>
    function showCheckSheet(checkSheetId) {
        var url = "${contextPath}/checkSheet/view.html?id=" + checkSheetId;
        $(window.parent.document.body).append('<iframe id="checksheet_view_win" name="view_win" src="' + url + '" style="border:0px;width:100%;height:100%;position:fixed;left:0;top:0;z-index:99999"></iframe>');
    }

    function rotateImg(angle) {
        $('#showedImg').rotate($('#showedImg').getRotateAngle()[0] + angle);
    }

    $('.show-image').on('click', function () {
        debugger;
        var url = $(this).attr('src');
        // url='http://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/241f95cad1c8a786d814d6eb6709c93d70cf501c.jpg'
        if (url) {
            layer.open({
                title: '图片',
                type: 1,
                skin: 'layui-layer-rim',
                // closeBtn: 2,
                btn: ["顺时针旋转", "逆时针旋转"],
                btnAlign: 'c',
                area: ['90%', '90%'], //宽高
                content: '<div id="cropContainer" style="text-align:center"><img id="showedImg"   src="' + url + '" alt="" class="show-image-zoom"></div>'
                , btn1: function () {
                    rotateImg(90);
                    return false;
                }, btn2: function () {
                    rotateImg(-90);
                    return false;
                }
            });
        }
    });

    $('.ssr-view').on('click', function () {
        let tradeId = $(this).attr('data-trade-id');
        layer.open({
            type: 2,
            area: ['820px', '450px'],
            title: '分销记录',
            scrollbar: true,
            content: ['/sg/registerBill/tradeBillSsRecord.html?id=' + tradeId], //iframe的url
            yes: function (index, layero) {
            }
        });
    });
</script>
