<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    模板变量table信息参见:org.mybatis.generator.api.IntrospectedTable<br/>
    类名首字母小写:qualityTraceTradeBill<br/>
    类名:QualityTraceTradeBill<br/>
    表名:quality_trace_trade_bill<br/>
    表注释:<br/>
    实体对象名:QualityTraceTradeBill<br/>
    列信息:<br/>
    获取指定id列JDBC类型:BIGINT<br/>
    所有列:
        actualColumnName:String:id,
        javaProperty:String:id,
        defaultValue:String:,
        remarks:String:,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:true,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:order_id,
        javaProperty:String:orderId,
        defaultValue:String:,
        remarks:String:订单号,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:order_status,
        javaProperty:String:orderStatus,
        defaultValue:String:,
        remarks:String:,
        length:int:0,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIT,
        scale:int:0,
        jdbcTypeName:String:BIT,
        jdbcType:int:-7:BIT
        ===========================================================================
        actualColumnName:String:seller_account,
        javaProperty:String:sellerAccount,
        defaultValue:String:,
        remarks:String:卖家账号,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:seller_name,
        javaProperty:String:sellerName,
        defaultValue:String:,
        remarks:String:卖家名称,
        length:int:50,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:buyer_account,
        javaProperty:String:buyerAccount,
        defaultValue:String:,
        remarks:String:买家账号,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:buyer_name,
        javaProperty:String:buyerName,
        defaultValue:String:,
        remarks:String:买家名称,
        length:int:50,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:order_create_date,
        javaProperty:String:orderCreateDate,
        defaultValue:String:,
        remarks:String:订单创建时间,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:order_pay_date,
        javaProperty:String:orderPayDate,
        defaultValue:String:,
        remarks:String:订单支付时间,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:pdResult,
        javaProperty:String:pdresult,
        defaultValue:String:,
        remarks:String:残留值,
        length:int:18,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:DECIMAL,
        scale:int:2,
        jdbcTypeName:String:DECIMAL,
        jdbcType:int:3:DECIMAL
        ===========================================================================
        actualColumnName:String:conclusion,
        javaProperty:String:conclusion,
        defaultValue:String:,
        remarks:String:合格值  0-未知 1合格  2不合格 3作废,
        length:int:0,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIT,
        scale:int:0,
        jdbcTypeName:String:BIT,
        jdbcType:int:-7:BIT
        ===========================================================================
        actualColumnName:String:check_result_EID,
        javaProperty:String:checkResultEid,
        defaultValue:String:,
        remarks:String:检测结算单唯一标志,NULL表示无检测信息,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:trade_flow_id,
        javaProperty:String:tradeFlowId,
        defaultValue:String:,
        remarks:String:交易号,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:total_money,
        javaProperty:String:totalMoney,
        defaultValue:String:,
        remarks:String:总金额,
        length:int:30,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:order_item_id,
        javaProperty:String:orderItemId,
        defaultValue:String:,
        remarks:String:订单项号,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:product_name,
        javaProperty:String:productName,
        defaultValue:String:,
        remarks:String:商品名称,
        length:int:50,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:cate_name,
        javaProperty:String:cateName,
        defaultValue:String:,
        remarks:String:品类名称,
        length:int:50,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:price,
        javaProperty:String:price,
        defaultValue:String:,
        remarks:String:价格,
        length:int:30,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:amount,
        javaProperty:String:amount,
        defaultValue:String:,
        remarks:String:数量,
        length:int:30,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:sale_unit,
        javaProperty:String:saleUnit,
        defaultValue:String:,
        remarks:String:销售单位 1:斤 2：件,
        length:int:0,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIT,
        scale:int:0,
        jdbcTypeName:String:BIT,
        jdbcType:int:-7:BIT
        ===========================================================================
</body>
</html>