.idea/
*/target/
logs
*.iml
*.log
/.project
/.settings
/.classpath
/app.pid

**/.project
**/.settings
**/.classpath
**/app.pid
**/rebel.xml
*/.idea/
*/target/
*/*.iml
*/*.log
.vscode/launch.json
trace/nb-configuration.xml
**/node_modules
**/*.js.map
**/application.pid
**/package-lock.json
**/tsconfig.tsbuildinfo
/jrebel-classpath-16588.jar
/trace/.factorypath
