<#bodyOrigin>
<style	>
	html {
	    height: 100%;
	}
	html::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		background: url(/resources/images/sy_logo.png) repeat 0 0;
		background-size: 25%;
		opacity: 0.5;
	} 
	.contenttable  th, .contenttable  td {
		white-space: nowrap;
        border: 1px solid;
	}
	.logobox  img {
		vertical-align: middle;
	}
	.sg_qrcode {
		width: 8rem;;
		height: auto;
		padding-left: 15px;
	}
	.sg_Logo {
	    width: 15rem;
	    height: auto;
	    margin-top: 1rem;
	    padding-right: 0px;
	}
</style>
<div class="main-container">
    <div class="topicTop">
        <div class=" text-center">
            <h4 class=" ">寿光地利农产品物流园</h4>
	     	<h4 class=" "> 检验检测中心检测报告单</h4>
        </div>
    </div>
    <div class=" logobox  clearfix">
        <img class="sg_qrcode  fl" alt="" src="${ item.base64Qrcode}">
    	<img class="sg_Logo fr" alt="" src="/resources/images/sg_Logo.png">
    </div>
    <div class="form-box border">
        <form id="createCheckSheetForm" class="form-inline" role="form">
            <div class="mt10">
               <%if(item.checkSheetDetailList.~size==0){%>
	            <div class="form-group " >
	                   <label class="label-title text-right"  style="width: 300px;"><font style="font-size: 20px">没有有效的打印报告</font></label>
	             </div>
            <%}%>
            
			<div class="clearfix">
				<span class="fl">送检人:${item.userName!}</span>
				<span class="fr">编号:${item.code!}</span>
			</div>
            <table class="contenttable" width="100%">
	            <thead>
		             <tr>
		              <th>序号</th> 
		              <th>品名</th>
		              <%if(item.showProductAlias==true){%> <th>别名</th> <%}%>
		              <th>产地</th>
		              <th>抑制率(%)</th>
		              <th>结果</th>
		              </tr>
	            </thead>
            <tbody>
	            <%for (checkSheetDetail in item.checkSheetDetailList){%>
	            <tr>
		            <td>${checkSheetDetail.orderNumber}</td>
		            <td>${checkSheetDetail.productName}</td>
		            <%if(item.showProductAlias==true){%>       <td>${checkSheetDetail.productAliasName}</td>      <%}%>
		            <td>${checkSheetDetail.originName}</td>
		            <td>${checkSheetDetail.latestPdResult}</td>
		            <td>${checkSheetDetail.detectStateView}</td>
		            </td>
				</tr>
				<%}%>
            </tbody>
			</table>
			<div style="border: 1px solid;border-top: 0px;">
			备注：
						<br/> 
						1、检测依据：根据国标GB/T5009.199-2003，检测果蔬中的有机磷和氨基甲酸酯类农药，凡酶抑制率小于50%，则视为合格。
						<br/>
						2、检测结果只对送检样品负责。
						<br/>
						3、有效期为${item.validPeriod!}天。
						<br/>
						4、本报告单盖章有效，复印无效
			</div>
			<div class="clearfix">
				<span class="fl">检测人:${item.detectOperatorName!}</span>
				<span class="fl"  style="position: relative; padding-left: 10px;padding-right: 10px;"><span class="fl" >审核人:</span><img src="${item.approverBase64Sign!}"   style="width: 60px;height: 60px;"/><img src="${contextPath!}/resources/images/stamp.png"   style=" position:absolute;right: -20px;top: -50px; width: 100px;height: 100px;"/></span>
			    <span class="fl" >${item.created}</span>
			</div>
			
            </div>
        </form>
        
    </div>
</div>
</#bodyOrigin>
<script src="${contextPath!}/resources/js/jquery.serializeObject.js"></script>
<script src="${contextPath!}/resources/js/jquery-serializeForm.min.js"></script>
<script type="text/javascript">

</script>

