<#bs4Body>

<div class="container-fluid">
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col-auto">
                <label for="createdStart">创建时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="createdStart" id="createdStart" class="form-control laydatetime laystart" />
                        <div class="input-group-append">
                            <label for="createdStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group" id="datetimepicker3">
                        <input type="text" name="createdEnd" id="createdEnd" class="form-control laydatetime layend" />
                        <div class="input-group-append">
                            <label for="createdEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col">
                <label for="userName">提交人</label>
                <input type="text" class="form-control" name="userName" id="userName"/>
            </div>
            <div class="form-group col">
                <label for="detectOperatorName">检测人</label>
                <input type="text" class="form-control" name="detectOperatorName" id="detectOperatorName"/>
            </div>

            <div class="form-group col">
                <label for="likeApproverUserName">审核人</label>
                <input type="text" class="form-control" name="likeApproverUserName" id="likeApproverUserName"/>
            </div>
            <div class="form-group col">
                <label for="likeOperatorName">操作人</label>
                <input type="text" class="form-control" name="likeOperatorName" id="likeOperatorName"/>
            </div>

            <div class="col-auto align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>
    <hr>
    <div>
        <div id="toolbar" class="btn-group" role="group" aria-label="工具栏">
            <#resource code="checkSheet#view-bill">
                <%if(billType== @com.dili.trace.enums.BillTypeEnum.REGISTER_BILL.getCode()){%>
                    <button id="detail-btn" type="button" class="btn btn-primary"><i class="fa fa-eye"></i> 查看</button>
                <%}%>
            </#resource>
            <#resource code="checkSheet#view-comm">
                <%if(billType== @com.dili.trace.enums.BillTypeEnum.COMMISSION_BILL.getCode()){%>
                <button id="detail-btn" type="button" class="btn btn-primary"><i class="fa fa-eye"></i> 查看</button>
                <%}%>
            </#resource>


            <#resource code="checkSheet#reprint-bill">
                <%if(billType== @com.dili.trace.enums.BillTypeEnum.REGISTER_BILL.getCode()){%>
                    <button id="reprint-btn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 补打</button>
                <%}%>
            </#resource>
            <#resource code="checkSheet#reprint-comm">
                <%if(billType== @com.dili.trace.enums.BillTypeEnum.COMMISSION_BILL.getCode()){%>
                <button id="reprint-btn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 补打</button>
                <%}%>
            </#resource>

        <#resource code="checkSheet#export-bill">
            <%if(billType== @com.dili.trace.enums.BillTypeEnum.REGISTER_BILL.getCode()){%>
            <button id="export" type="button" class="btn btn-primary"><i class="fa fa-download"></i> 导出</button>
            <%}%>
        </#resource>
        <#resource code="checkSheet#export-bill">
            <%if(billType== @com.dili.trace.enums.BillTypeEnum.COMMISSION_BILL.getCode()){%>
            <button id="export" type="button" class="btn btn-primary"><i class="fa fa-download"></i> 导出</button>
            <%}%>
        </#resource>





        </div>
        <table id="checkSheetGrid" data-toggle="table" data-title="${gridTitle}" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="10"
               data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="true"
               data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="id" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
               data-show-refresh="true" data-show-fullscreen="true" data-show-columns="false" data-detail-view="false">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="created" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    创建时间
                </th>

                <th data-field="code" data-sortable="true" data-align="center">
                    编号
                </th>
                <th data-field="validPeriod" data-sortable="true" data-align="center">
                    有效天数
                </th>
                <th data-field="userName" data-sortable="true" data-align="center">
                    提交人
                </th>
                <th data-field="detectOperatorName" data-sortable="true" data-align="center">
                    检测人
                </th>

                <th data-field="approverInfoId" data-sortable="true" data-align="center" data-provider='approverInfoProvider'>
                    审核人
                </th>

                <th data-field="operatorName" data-sortable="true" data-align="center">
                    操作人
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

</#bs4Body>
<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js?v=${v}"></script>
<script src="${contextPath!}/resources/js/WebConfig.js?v=${v}"></script>
<script src="${contextPath!}/resources/js/CheckSheet.index.js?v=${v}"></script>
<script src="${contextPath!}/resources/assets/dep/jquery/laydate/laydate.js"></script>
<#webGlobalConfig/>
<script>
    laydate.render({
        elem: '#createdStart',
        type: 'datetime'
    });
    laydate.render({
        elem: '#createdEnd',
        type: 'datetime'
    });
    $(function () {
        var checkSheetIndex=new CheckSheetIndex($('#checkSheetGrid'),$('#queryForm'),$('#toolbar'),'${billType}');
    });

</script>

