<#bodyOrigin>
<div class="main-container">
    <div class="topicTop">
        <div class="toppic-title">
            <span class="topic-title-text maincolor">打印报告详情</span>
            <button class="btn-greyweak btn-sm topic-back-btn" onclick="parent.closeWin('checksheet_view_win')">返回</button>
        </div>
    </div>
    <div class="form-box border">
        <form id="createCheckSheetForm" class="form-inline" role="form">
            <div class="form-item-group">
            <%for (checkSheetDetail in checkSheetDetailList){%>
 				<div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>编号</label>
                    <input class="form-control input-sm" value="${registerBillIdMap[checkSheetDetail.registerBillId].code}" readonly="readonly"  disabled="disabled"/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>商品</label>
                    <input type="text" class="form-control input-sm"  value="${checkSheetDetail.productName}"  readonly="readonly" disabled="disabled"/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>重量(KG)</label>
                    <input type="text" class="form-control input-sm"  value="${registerBillIdMap[checkSheetDetail.registerBillId].weight}"  readonly="readonly" disabled="disabled"/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>别名</label>
                    <input type="text" class="form-control input-sm" value="${checkSheetDetail.productAliasName}"  readonly="readonly"  disabled="disabled" />
                </div>
                 <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>产地</label>
                    <input type="text" class="form-control input-sm"  value="${checkSheetDetail.originName}"   readonly="readonly"  disabled="disabled"/>
                </div>
				<br/>
			<%}%>
			<br/>
			
			     <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>有效天数</label>
                    <input type="text" class="form-control input-sm  "  value="${item.validPeriod}"   readonly="readonly"  disabled="disabled"/>
                </div>
                 <div class="form-group">
                      <label class="label-title text-right"><span class="red">&lowast;</span>提交人</label>
                      <input type="text" class="form-control input-sm  "  value="${item.userName}"   readonly="readonly"  disabled="disabled"/>
                </div>
                 
                 <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测人</label>
                               <input type="text" class="form-control input-sm  " value="${item.detectOperatorName}"   readonly="readonly"  disabled="disabled"/>

                </div>
                <div class="form-group">
                                  <label class="label-title text-right"><span class="red">&lowast;</span>审核人</label>
                                  <input type="text" class="form-control input-sm  " value="${approverInfo.userName}"   readonly="readonly"  disabled="disabled"/>
                </div>
               <div class="form-group" style="width: 100%;padding-top: 20px">
                    <label class="label-title text-right">备注</label>
                    <textarea  class="form-control" name="remark" style="width: 55%"  rows="5" cols="10"  readonly="readonly"  disabled="disabled">${item.remark}</textarea>
                </div>
            </div>
        </form>
        
    </div>
    <!--div class="text-center mt30" style="width: 60%">
        <button class="btn-greyweak btn-sm" onclick="parent.closeWin('view_win')">取消</button>
    </div-->
</div>
</#bodyOrigin>
<script src="${contextPath!}/resources/js/jquery.serializeObject.js"></script>
<script src="${contextPath!}/resources/js/jquery-serializeForm.min.js"></script>
<script type="text/javascript">

</script>

