<#bodyOrigin>
<div class="main-container" style="padding: 0">
    <div class="form-box border">
        <form id="updateForm" class="form-inline" role="form">
            <div class="form-item-group">
                <h4 class="form-item-title">基础信息</h4>

                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>报备时间</label>
                    <input class="form-control input-sm"
                           value="${purchaseIntentionRecord.created,dateFormat='yyyy-MM-dd HH:mm:ss'}"
                               readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>报备编号</label>
                    <input type="text" class="form-control input-sm" value="${purchaseIntentionRecord.code}" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>买家名称</label>
                    <input type="text" class="form-control input-sm" value="${purchaseIntentionRecord.buyerName!}" required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right">
                        企业名称</label>
                    <input type="text" class="form-control input-sm" value="${purchaseIntentionRecord.corporateName!}" />
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>手机号</label>
                    <input type="text" class="form-control input-sm" value="${purchaseIntentionRecord.buyerPhone!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>车牌</label>
                    <input type="text" class="form-control input-sm" value="${purchaseIntentionRecord.plate!}"  readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>采购商品</label>
                    <input type="text" class="form-control input-sm"  value="${purchaseIntentionRecord.productName!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        品牌</label>
                    <input type="text" class="form-control input-sm"  value="${purchaseIntentionRecord.brandName!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>重量</label>
                    <input type="text" class="form-control input-sm"
                           value=" ${purchaseIntentionRecord.productWeight!} ${purchaseIntentionRecord.weightUnitName!}" required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right">
                        产地</label>
                    <input type="text" class="form-control input-sm" value="${purchaseIntentionRecord.originName!}" required
                           readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>进门时间</label>
                    <input class="form-control input-sm"
                           value="${purchaseIntentionRecord.created,dateFormat='yyyy-MM-dd HH:mm:ss'}"
                           readonly/>
                </div>
            </div>
        </form>

        <!--<h5 class="mt10 red">操作员：陈良芳</h5>-->
        <div class="text-center mt30">
            <button class="btn-main2 btn-sm" onclick="duUpdate()">提交</button>&nbsp;&nbsp;
            <button class="btn-greyweak btn-sm" onclick="parent.bs4pop.removeAll()">取消</button>
        </div>
    </div>
</div>

</div>
</#bodyOrigin>
<script type="text/javascript" src="${contextPath!}/resources/js/jquery.rotate.js"></script>
<script>

function duUpdate(){

}

var resubmit = 0;
function create(){
    if(resubmit==0){
        resubmit=1;
    }else{
        resubmit=0;
        swal(
            '错误',
            '重复提交',
            'error'
        );
        return;
    }
    if($('#updateForm').validate().form() != true){
        resubmit = 0;
        return;
    }
    var data=$('#updateForm').serializeJSON({useIntKeysAsArrayIndex:true});
    $.ajax({
        type: "POST",
        url: "${contextPath}/purchaseIntentionRecord/doUpdate.action",
        data :  JSON.stringify(data),
        dataType: "json",
        async : true,
        contentType: "application/json; charset=utf-8",
        success: function (ret) {
            if (ret.success) {
                parent.window['RegisterBillGridObj'].removeAllAndLoadData()
            } else {
                resubmit=0;
                swal(
                    '错误',
                    ret.result,
                    'error'
                );
            }
        },
        error: function(){
            resubmit=0;
            swal(
                '错误',
                '远程访问失败',
                'error'
            );
        }
    });
}
</script>