<#bs4Body>
<div class="container-fluid">
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">

            <div class="form-group col">
                <label for="likeBuyerName">买家姓名</label>
                <input type="text" class="form-control" name="likeBuyerName" id="likeBuyerName"/>
            </div>
            <div class="form-group col">
                <label for="likeCode">报备单号</label>
                <input type="text" class="form-control" name="likeCode" id="likeCode"/>
            </div>
            <div class="form-group col">
                <label for="likePlate">车牌号</label>
                <input type="text" class="form-control" name="likePlate" id="likePlate"/>
            </div>
            <div class="form-group col">
                <label for="productName">商品</label>
                <input type="hidden" name="productId" id="productId" />
                <input type="text" class="form-control" name="productName" id="productName" for="productId"/>
            </div>
            <div class="form-group col-auto">
                <label for="createdStart">登记时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="createdStart" id="createdStart" class="form-control laydatetime laystart" value="${createdStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="createdStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="createdEnd" id="createdEnd" class="form-control laydatetime layend" value="${createdEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="createdEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-auto">
                <label for="checkinCreatedStart">进门时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="checkinCreatedStart" id="checkinCreatedStart" class="form-control laydatetime laystart" value="${checkinCreatedStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="checkinCreatedStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="checkinCreatedEnd" id="checkinCreatedEnd" class="form-control laydatetime layend" value="${checkinCreatedEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="checkinCreatedEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-auto align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>
    <hr>
    <div>
        <div id="toolbar" class="btn-group" role="group" aria-label="工具栏">
            <#resource code="purchaseIntentionRecord#detail">
                <button id="detail-btn" type="button" class="btn btn-primary"><i class="fa fa-eye"></i>查看</button>
            </#resource>
            <#resource code="purchaseIntentionRecord#export">
                <button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('grid','queryForm')"><i class="fa fa-download"></i> 导出</button>
            </#resource>
        </div>
        <table id="grid" data-toggle="table" data-title="司机进门列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="10"
               data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="true"
               data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="id" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
               data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true" data-detail-view="false">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="created" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    报备时间
                </th>
                <th data-field="code" data-sortable="true" data-align="center">
                    报备编号
                </th>
                <th data-field="created" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    进门时间
                </th>
                <th data-field="buyerName" data-sortable="true" data-align="center">
                    买家名称
                </th>
                <th data-field="buyerPhone" data-sortable="true" data-align="center">
                    手机号码
                </th>
                <th data-field="corporateName" data-sortable="true" data-align="center">
                    企业名称
                </th>
                <th data-field="plate" data-sortable="true" data-align="center">
                    车牌
                </th>
                <th data-field="productName" data-sortable="true" data-align="center">
                    采购商品
                </th>
                <th data-field="brandName"  data-sort-name="brand_name" data-sortable="true" data-align="center">
                    品牌
                </th>
                <th data-field="productWeight" data-sortable="true" data-align="center">
                    重量
                </th>
                <th data-field="originName" data-sortable="true" data-align="center">
                    产地
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</#bs4Body>
<#webGlobalConfig/>
<script src="${contextPath!}/resources/assets/dep/systemjs/system.min.js"></script>
<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js"></script>
<script src="${contextPath!}/resources/js/WebConfig.js"></script>
<script src="${contextPath!}/resources/js/CategoryController.js?v=${v}"></script>
<script src="${contextPath!}/resources/assets/dep/jquery/laydate/laydate.js"></script>
<script src="${contextPath!}/resources/assets/dep/systemjs/extras/amd.min.js"></script>
<!--<script src="${contextPath!}/resources/js/PurchaseIntentionRecordGrid.index.js"></script>-->
<#importmap/>
<script type="text/javascript">
    lay('.laydatetime').each(function(){
        laydate.render({
            elem: this
            ,type: 'datetime'
            ,trigger: 'click'
        });
    });

    System.set('app:jquery', window.jQuery);
    System.set('app:underscore', window._);
    System.import('PurchaseIntentionRecordGrid').then(function(grid){
        new grid.PurchaseIntentionRecordGrid($('#grid'),$('#queryForm'),$('#toolbar'));
    });
    System.import('demo').then(function(ut){
       debugger
    });

</script>


