<#bodyOrigin>
    <div class="table-showlist" style="padding:0px 50px;width: 800px">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th><span class="red">&lowast;</span>分销客户</th>
                <th><span class="red">&lowast;</span>分销地</th>
                <th><span class="red">&lowast;</span>分销重量/KG</th>
                <th><span class="red">&lowast;</span>车牌号</th>
                <th>溯源二维码</th>
            </tr>
            </thead>
            <%for(record in separateSalesRecords){
            %>
            <tr>
                <td>${record.salesUserName!}</td>
                <td>${record.salesCityName!}</td>
                <td>${record.salesWeight!}</td>
                <td>${record.salesPlate!}</td>
                <td>
                    <a href="javascript:void(0)" class="show-img"><img id="separateSalesRecordQR${recordLP.index}" alt="" width="30px" height="30px" class="show-image"></a>
                    <#imgQR selector="separateSalesRecordQR${recordLP.index}" width="300" height="300" qrUrl="${baseWebPath}/registerBill/tradeSsrQRCcode.html?id=${record.id!}"/>
                </td>
            </tr>
            <% } %>
        </table>
        <!-- 表格后的统计 end -->
    </div>
</#bodyOrigin>


<script>

    $('.imageUpload,.show-img').on('click', function () {
        var url = $(this).find("img").attr('src');
        if(url){
            layer.open({
                title:'图片',
                type: 1,
                skin: 'layui-layer-rim',
                closeBtn: 2,
                area: ['90%', '90%'], //宽高
                content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
            });
        }
    });

</script>
