<#bodyOrigin>
<style>
    .form-control {
        display: inline-block;
    }
    .form-inline .label-title {
        width: auto;
    }
</style>
<div class="main-container">
    <div class="form-box border"  style="width: 100%;">
        <form id="createRecordForm" class="form-inline" role="form">
            <div class="form-item-group">
                <br/>
                <%for (userQrItem in userQrItemlist){%>
                    <div class="form-group">
                        <label class="label-title text-left">${qrItemTypeMap[userQrItem.qrItemType]}</label>
                        <%if(userQrItem.action==@com.dili.trace.glossary.QrItemActionEnum.CREATE.getCode()){%>
                             <a href="javascript:void(0)" onclick="add('${userQrItem.qrItemType}','${userId}')"><span style="color: red;">增加</span></a>
                       <% }else if(userQrItem.action==@com.dili.trace.glossary.QrItemActionEnum.APPROVE.getCode()){%>
                            <a href="javascript:void(0)" onclick="edit('${userQrItem.qrItemType}','','${userQrItem.objects}')"><span style="color: yellow;" >审核</span></a>
                       <% }else if(userQrItem.action==@com.dili.trace.glossary.QrItemActionEnum.DONOTHING.getCode()){%>
                             <a href="javascript:void(0)" onclick="view('${userQrItem.qrItemType}','${userQrItem.objects}')"><span style="color: green;" >正常</span></a>
                       <% }%>
                        <br/>
                    </div>
                <%}%>
            </div>
        </form>
    </div>

</div>
</#bodyOrigin>
<script type="text/javascript">
var layer=parent.window.layer;
$('.fileimg-view').on('click', function () {
    var url = $(this).parent().siblings(".magnifying").attr('src');
    if(url){
        layer.open({
            title:'图片',
            type: 1,
            skin: 'layui-layer-rim',
            closeBtn: 2,
            area: ['90%', '90%'], //宽高
            content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
        });
    }
});
function add(qrItemType,userId){
    
    var layerOpt={type : 2, area : ['650px', '600px'],  shadeClose : false,
            shade : 0.5,
            btn: ['确认', '取消'],yes: function(index, layero){
                  //按钮【按钮一】的回调
                //var body = layer.getChildFrame('body', index);
				//body.find("#submitFormBtn").trigger('click')
            }
            ,btn2: function(index, layero){
                //按钮【按钮二】的回调
                
                //return false 开启该代码可禁止点击该按钮关闭
            },
            cancel : function() {

            }};
    if(qrItemType=='${@com.dili.trace.glossary.QrItemTypeEnum.USER.getCode()}'){
        layerOpt.title="用户信息";
        layerOpt.content='${contextPath}/user/edit.html';

    }else if(qrItemType=='${@com.dili.trace.glossary.QrItemTypeEnum.UPSTREAM.getCode()}'){
        layerOpt.title="上游信息";
        layerOpt.content='${contextPath}/upStream/edit.html';
        layerOpt.area= ['680px', '500px'];
    }else if(qrItemType=='${@com.dili.trace.glossary.QrItemTypeEnum.BILL.getCode()}'){
        layerOpt.title="登记单信息";
        layerOpt.content='${contextPath}/registerBillHZ/edit.html?userId='+userId;
        layerOpt.yes= function(index, layero){
                  //按钮【按钮一】的回调
               layer.getChildFrame('body', index).find("#submitFormBtn").trigger('click')
            }

    }else{
        return;
    }
    var index = layer.open(layerOpt);
}
function edit(qrItemType,ids,userId){
    
    var layerOpt={type : 2, area : ['650px', '600px'],  shadeClose : false,
            shade : 0.5,
            btn: ['确认', '取消']         ,yes: function(index, layero){
                  //按钮【按钮一】的回调
                //var body = layer.getChildFrame('body', index);
				//body.find("#submitFormBtn").trigger('click')
            }
            ,btn2: function(index, layero){
                //按钮【按钮二】的回调
                
                //return false 开启该代码可禁止点击该按钮关闭
            },
            cancel : function() {

            }};
    if(qrItemType=='${@com.dili.trace.glossary.QrItemTypeEnum.USER.getCode()}'){
        layerOpt.title="修改用户信息";
        layerOpt.content='${contextPath}/user/edit.html?id='+id;

    }else if(qrItemType=='${@com.dili.trace.glossary.QrItemTypeEnum.UPSTREAM.getCode()}'){
        layerOpt.title="修改上游信息";
        layerOpt.content='${contextPath}/upStream/edit.html?id='+id;
        layerOpt.area= ['680px', '500px'];
    }else if(qrItemType=='${@com.dili.trace.glossary.QrItemTypeEnum.BILL.getCode()}'){
        layerOpt.title="修改登记单信息";
        layerOpt.content='${contextPath}/registerBillHZ/edit.html?id='+ id;
    }else{
        return;
    }
    var index = layer.open(layerOpt);
}
function view(qrItemType,id){
    
    var layerOpt={type : 2, area : ['650px', '600px'],  shadeClose : false,
            shade : 0.5,
            btn: ['确认', '取消']         ,yes: function(index, layero){
                  //按钮【按钮一】的回调
                //var body = layer.getChildFrame('body', index);
				//body.find("#submitFormBtn").trigger('click')
            }
            ,btn2: function(index, layero){
                //按钮【按钮二】的回调
                
                //return false 开启该代码可禁止点击该按钮关闭
            },
            cancel : function() {

            }};
    if(qrItemType=='${@com.dili.trace.glossary.QrItemTypeEnum.USER.getCode()}'){
        layerOpt.title="查看用户信息";
        layerOpt.content='${contextPath}/user/view/'+id;
    }else if(qrItemType=='${@com.dili.trace.glossary.QrItemTypeEnum.UPSTREAM.getCode()}'){
        layerOpt.title="查看上游信息";
        layerOpt.content='${contextPath}/upStream/view.html?id='+id;
    }else if(qrItemType=='${@com.dili.trace.glossary.QrItemTypeEnum.BILL.getCode()}'){
        layerOpt.title="查看登记单信息";
        layerOpt.content='${contextPath}/registerBill/view.html?id='+id;
    }else{
        return;
    }
    var index = layer.open(layerOpt);
}
</script>

