<#bodyOrigin>
<style>
    .form-control {
        display: inline-block;
    }
    .form-inline .label-title {
        width: auto;
    }
</style>
<div class="main-container">
    <div class="form-box border"  style="width: 100%;">
        <form id="createRecordForm" class="form-inline" role="form">
            <div class="form-item-group">
                <div class="form-group">
                    <label class="label-title text-left"><span class="red">&lowast;</span>姓名</label>
                    <input class="form-control input-sm" value="ss" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-left"><span class="red">&lowast;</span>姓名</label>
                    <input class="form-control input-sm" value="ss" readonly/>
                </div>
                <br/>
                <%for (userQrItem in userQrItemlist){%>
                    <div class="form-group">
                        <label class="label-title text-left">${qrItemTypeMap[userQrItem.qrItemType]}</label>
                        <%if(userQrItem.qrItemStatus==@com.dili.trace.glossary.QrItemStatusEnum.RED.getCode()){
                            %><a href="" onclick="add('userQrItem.qrItemType')"></a><span style="color: red;">补充</span></a><%
                        }else if(userQrItem.qrItemStatus==@com.dili.trace.glossary.QrItemStatusEnum.YELLOW.getCode()){
                            %><a href="" onclick="edit('userQrItem.qrItemType',1)"></a><span style="color: yellow;" >审核<</span></a><%                        
                        }else if(userQrItem.qrItemStatus==@com.dili.trace.glossary.QrItemStatusEnum.GREEN.getCode()){
                            %><a href="" onclick="view('userQrItem.qrItemType','2')"></a><span style="color: green;" >查看</span></a><%
                        }%>
                        <br/>
                    </div>
                     
                <%}%>
            </div>
            
	
        </form>
        
    </div>

</div>
</#bodyOrigin>
<script type="text/javascript">
$('.fileimg-view').on('click', function () {
    var url = $(this).parent().siblings(".magnifying").attr('src');
    if(url){
        layer.open({
            title:'图片',
            type: 1,
            skin: 'layui-layer-rim',
            closeBtn: 2,
            area: ['90%', '90%'], //宽高
            content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
        });
    }
});
function add(qrItemType){

}
function edit(qrItemType,id){

}
function view(qrItemType,id){

}
</script>

