<#bodyOrigin>
<div class="main-container" style="width: 100%;margin: 0;padding: 0">
    <div class="form-box border">
        <form id="createRecordForm" class="form-inline" role="form">
            <div class="form-item-group">

                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>业户姓名</label>
                    <input type="text" class="form-control input-sm" value="${item.name}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>商品名称</label>
                    <input type="text" class="form-control input-sm"  value="${item.productName}" required readonly/>
                </div>
                <br/>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>产地</label>
                    <input type="text" class="form-control input-sm" value="${item.originName}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>重量/KG</label>
                    <input type="text" class="form-control input-sm"  value="${item.weight}" required readonly/>
                </div>

            </div>
        </form>
        <div class="text-center mt30">
            <button class="btn-main2 btn-sm" style="width: unset !important;" onclick="parent.window['commissionBillGrid'].doAudit('${item.id}')">进门审核</button>&nbsp;&nbsp;
            <button class="btn-greyweak btn-sm" onclick="parent.window['commissionBillGrid'].removeAllAndLoadData()">取消</button>
        </div>
    </div>
</div>
</#bodyOrigin>