<#bs4Body>
<div class="container-fluid">
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">

            <div class="form-group col">
                <label for="detectStatus">检测状态</label>
                <select id="detectStatus" name="detectStatus" class="form-control"></select>
                <#bcomboProvider _id="detectStatus" _provider="detectStatusProvider" _value="" _onLoadSuccess=""/>
            </div>
            <div class="form-group col">
                <label for="verifyStatus">审核状态</label>
                <select id="verifyStatus" name="verifyStatus" class="form-control"></select>
                <#bcomboProvider _id="verifyStatus" _provider="billVerifyStatusEnumProvider" _value="" _onLoadSuccess=""/>
            </div>
            <!--likeProductName-->
            <div class="form-group col">
                <label for="productName">商品</label>
                <input type="hidden" class="form-control" id="productId" name="productId"/>
                <input id="productName" name="productName" class="form-control" for="productId" />
                <!--<select id="productId" name="productId" class="form-control"></select>-->
            </div>
            <!--_salesCityName-->
            <div class="form-group col">
                <label for="originName">产地</label>
                <input type="hidden" class="form-control" id="originId" name="originId"/>
                <input id="originName" name="originName" class="form-control" for="originId" />
            </div>
            <div class="form-group col">
                <label for="detectState">检测结果</label>
                <select id="detectState" name="detectState" class="form-control"></select>
                <#bcomboProvider _id="detectState" _provider="billDetectStateProvider" _value="" _onLoadSuccess=""/>
            </div>

            <div class="form-group col">
                <label for="hasCheckSheet">检测报告</label>
                <select id="hasCheckSheet" name="hasDetectReport" class="form-control">
                    <option value="">--请选择--</option>
                    <option value="hasCheckSheet=false">未打印</option>
                    <option value="hasCheckSheet=true">已打印</option>
                </select>
                <input  type="hidden"  name="hasCheckSheet">
                <input  type="hidden"  name="hasDetectReport">
            </div>

            <div class="form-group col-auto">
                <label for="latestDetectTimeTimeStart">检测时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="latestDetectTimeTimeStart" id="latestDetectTimeTimeStart"
                               autocomplete="off"
                               class="form-control settletime laystart" />

                        <div class="input-group-append">
                            <label for="latestDetectTimeTimeStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="latestDetectTimeTimeEnd"  autocomplete="off" id="latestDetectTimeTimeEnd" class="form-control laydatetime layend"/>
                        <div class="input-group-append">
                            <label for="latestDetectTimeTimeEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-auto">
                <label for="createdStart">登记时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="createdStart"  autocomplete="off" id="createdStart" class="form-control laydatetime laystart"/>
                        <div class="input-group-append">
                            <label for="createdStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="createdEnd"  autocomplete="off" id="createdEnd" class="form-control laydatetime layend"/>
                        <div class="input-group-append">
                            <label for="createdEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col">
                <label for="likeName">业户姓名</label>
                <input type="text" class="form-control" name="likeName" id="likeName"/>
            </div>

            <div class="form-group col">
                <label for="likeCorporateName">企业名称</label>
                <input type="text" class="form-control" name="likeCorporateName" id="likeCorporateName"/>
            </div>

            <div class="form-group col">
                <label for="code">登记编号</label>
                <input type="text" class="form-control" name="code" id="code"/>
            </div>

            <div class="col-auto align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>
    <hr>
    <div>
        <div id="toolbar" class="btn-group" role="group" aria-label="工具栏">
            <#resource code="commissionBill#add">
                <button id="add-btn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</button>
            </#resource>
            <#resource code="commissionBill#audit">
                <button id="audit-btn" type="button" class="btn btn-primary"><i class="fa  fa-user"></i> 进场审核</button>
            </#resource>
            <#resource code="commissionBill#batch-reviewCheck">
                <button id="batch-reviewCheck-btn" type="button" class="btn btn-primary"><i class="fa  fa-check-square-o"></i> 批量复检</button>
            </#resource>
            <#resource code="commissionBill#createsheet">
                <button id="createsheet-btn" type="button" class="btn btn-primary"><i class="fa  fa-print"></i> 创建打印报告</button>
            </#resource>
            <#resource code="commissionBill#detail">
                <button id="detail-btn" type="button" class="btn btn-primary"><i class="fa  fa-eye"></i> 查看</button>
            </#resource>
            <#resource code="commissionBill#export">
                <button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('commissionBillGrid','queryForm')"><i class="fa fa-download"></i> 导出</button>
            </#resource>
        </div>
        <table id="commissionBillGrid" data-toggle="table" data-title="委托登记单列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="10"
               data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/json" data-single-select="false"
               data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="id" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
               data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true" data-detail-view="false">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="created" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    登记时间
                </th>
                <th data-field="code" data-sortable="true" data-align="center">
                    编号
                </th>
                <th data-field="sampleCode" data-sort-name="sample_code" data-sortable="true" data-align="center">
                    采样编号
                </th>
                <th data-field="name" data-sortable="true" data-align="center">
                    业户姓名
                </th>
                <th data-field="corporateName"  data-sort-name="corporate_name" data-sortable="true" data-align="center">
                    企业姓名
                </th>
                <th data-field="productName" data-sort-name="product_name" data-sortable="true" data-align="center">
                    商品名称
                </th>
                <th data-field="weight" data-sortable="true" data-align="center">
                    重量
                </th>
                <th data-field="weightUnitName" data-sort-name="weight_unit" data-sortable="true" data-align="center">
                    重量单位
                </th>

                <th data-field="originName" data-sort-name="origin_name" data-sortable="true" data-align="center">
                    产地
                </th>
                <th data-field="checkSheetId" data-sort-name="check_sheet_id" data-sortable="true" data-align="center" data-provider="hasOrNoneProvider">
                    打印报告
                </th>
                <th data-field="verifyStatusName" data-sort-name="verify_status" data-sortable="true" data-align="center">
                    审核状态
                </th>
                <th data-field="detectStatusName"  data-sort-name="detect_status"  data-sortable="true" data-align="center">
                    检测状态
                </th>
                <th data-field="detectResult" data-sort-name="detect_result" data-sortable="true" data-align="center" data-provider="detectResultEnumProvider">
                    检测结果
                </th>
                <th data-field="pdResult"  data-sort-name="pd_result" data-sortable="true" data-align="center">
                    检测值
                </th>
                <th data-field="detectTime"  data-sort-name="detect_time" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    检测时间
                </th>
                <th data-field="detectorName"  data-sort-name="detector_name" data-sortable="true" data-align="center">
                    检测员
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</#bs4Body>
<#webGlobalConfig/>
<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js"></script>
<script src="${contextPath!}/resources/js/WebConfig.js"></script>
<script src="${contextPath!}/resources/js/CityController.js"></script>
<script src="${contextPath!}/resources/js/CategoryController.js"></script>
<script src="${contextPath!}/resources/js/CommissionBillGrid.index.js?v=${v}"></script>
<script src="${contextPath!}/resources/assets/dep/jquery/laydate/laydate.js"></script>


<script>
    laydate.render({
        elem: '#latestDetectTimeTimeStart',
        type: 'datetime'
    });
    laydate.render({
        elem: '#latestDetectTimeTimeEnd',
        type: 'datetime'
    });
    laydate.render({
        elem: '#createdStart',
        type: 'datetime'
    });
    laydate.render({
        elem: '#createdEnd',
        type: 'datetime'
    });
    $(function () {

        var commissionBillGrid=new CommissionBillGrid($('#commissionBillGrid'),$('#queryForm'),$('#toolbar'));

    });

</script>

<script type="text/javascript">

    window._commissionBillGrid = $('#commissionBillGrid');
    $('.fileimg-view').on('click', function () {
        var url = $(this).parent().siblings(".magnifying").attr('src');
        if(url){
            layer.open({
                title: '图片',
                type: 1,
                skin: 'layui-layer-rim',
                closeBtn: 2,
                area: ['90%', '90%'], //宽高
                content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
            });
        }
    });

    $('.fileimg-delete').on('click', function () {
        var imgBox=$(this).parents('.fileimg-box:first');
        var td= imgBox.parent('td');
        var imgBoxArr=td.find('.fileimg-box');
        if(imgBoxArr.length==10){
            var lastImgBox=$(imgBoxArr[imgBoxArr.length-1]);
            if(lastImgBox.find("input:hidden").val()!=''){

                imgBox.find(".magnifying").attr('src', '').hide();
                imgBox.find("input:hidden").val('');
                imgBox.find('.fileimg-cover,.fileimg-edit').hide();

                imgBox.appendTo(td);
            }else{
                imgBox.remove();
            }
        }else if(imgBoxArr.length>1){
            imgBox.remove();
        }else{
            imgBox.find(".magnifying").attr('src', '').hide();
            imgBox.find("input:hidden").val('');
            imgBox.find('.fileimg-cover,.fileimg-edit').hide();
        }

    });
    function initFileUpload(){
        initFileInput($("input[type='file']"));
    }
    function afterUpload(url,fileInputObj){
        var imgBox=fileInputObj.parent();
        var td= imgBox.parent('td');
        var newImgBox=imgBox.clone(true);

        imgBox.find(".magnifying").attr('src', url).show();
        imgBox.find("input[type='hidden']").val(url);
        imgBox.find('.fileimg-cover,.fileimg-edit').show();
        //console.info(url)
        //debugger
        if(td.find('.fileimg-box').length<10){
            newImgBox.find('input[type="file"]').remove();
            $('<input type="file" name="file" data-url="${contextPath!}/imageController/upload.action" multiple="multipart/form-data" />').insertAfter(newImgBox.find('.fileimg-des'))
            newImgBox.appendTo(td);
            initFileInput(newImgBox.find('input[type="file"]'))
        }
    }

    function initFileInput(jqueryObj){
        jqueryObj.fileupload({
            dataType: 'json',
            formData: { type: 5, compress: true },
            done: function (e, res) {
                if (res.result.code == 200) {
                    var url = res.result.data;
                    var fileInputObj = $(e.target);
                    afterUpload(url, fileInputObj);
                    /*var imgBox=fileInputObj.parent();
                    var td= imgBox.parent('td');
                     var newImgBox=imgBox.clone(true);

                    imgBox.find(".magnifying").attr('src', url).show();
                    imgBox.find("input:hidden").val(url);
                    imgBox.find('.fileimg-cover,.fileimg-edit').show();

                    if(td.find('.fileimg-box').length<10){
                        newImgBox.find('input[type="file"]').remove();
                        $('<input type="file" name="file"  data-url="${contextPath!}/imageController/upload.action" multiple="multipart/form-data" />').insertAfter(newImgBox.find('.fileimg-des'))
                        newImgBox.appendTo(td);
                        initFileInput(newImgBox.find('input[type="file"]'))
                    }*/
                }
            },
            add: function (e, data) {//判断文件类型 var acceptFileTypes = /\/(pdf|xml)$/i;
                var acceptFileTypes = /^gif|bmp|jpe?g|png$/i;
                var name = data.originalFiles[0]["name"];
                var index = name.lastIndexOf(".") + 1;
                var fileType = name.substring(index, name.length);
                if (!acceptFileTypes.test(fileType)) {
                    swal('错误', '请您上传图片类文件jpe/jpg/png/bmp!', 'error');
                    return;
                }
                var size = data.originalFiles[0]["size"];
                // 10M
                if (size > (1024 * 10 * 1024)) {
                    swal('错误', '上传文件超过最大限制!', 'error');
                    return;
                }
                data.submit();
            }
        });


    }


</script>

