//babel   --watch  ./src/main/resources/static/tsc --out-dir  ./src/main/resources/static/resources/js --extensions ".ts"
//  "presets": ["@babel/preset-typescript","minify"],
{
  "presets": [["@babel/preset-typescript",{
    "onlyRemoveTypeImports": true
  }]


  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "comments": false
}