<#body head_title="用户列表">
    <style>
        fieldset {
            color:#aaa;
            border:#aaa dashed 1px;
            text-align:left;
            padding:5px;
        }
        legend {
            font-weight:800;
            background:#fff;
        }
        .btn-main2 {
            display: inline-block;
            width: 70px;
            color: #fff;
            background-color: #3370ff;
            border: none;
            padding: 7px 18px;
        }
        .btn-sm {
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
        }
        .btn-greyweak {
            display: inline-block;
            width: 70px;
            color: #fff;
            background-color: #f9f9f9;
            border: 1px solid #d5d5d5;
            color: #666;
            padding: 6px 17px;
        }
        .mt30 {
            margin-top: 30px !important;
        }
        .text-center {
            text-align: center;
        }
    </style>
    <form id="_form" class="easyui-form" method="post">
        <input type="hidden" name="id" id="id" value="${upstream.id!}">
        <input type="hidden" name="userId" id="userId" value="${userItem.id!}">
        <fieldset style="margin-bottom: 5px;">
            <legend><i>基础信息</i></legend>
            <div class="easyui-panel">
                <div style="margin-bottom:5px">
                    <input class="easyui-textbox" name="name" id="name" value="${upstream.name!}" style="width:100%" data-options="label:'名称*:',validType:'length[2,20]',required:true" />
                </div>
                <div style="margin-bottom:5px">
                    <input name="upstreamType" id="upstreamType" style="width:100%;" editable="false" panelWidth="auto" panelHeight="auto" label="类型*:"/>
                    <#comboProvider _id="upstreamType" _provider='upStreamTypeProvider'  _queryParams='{required:true}' _value='${upstream.upstreamType!10}'/>
                </div>
                <div style="margin-bottom:5px;" id="corporateInfo">
                    <div style="margin-bottom:5px;" >
                        <input class="easyui-textbox" name="legalPerson" id="legalPerson" style="width:100%" value="${upstream.legalPerson!}"  data-options="label:'法人*:', validType:['isWord','length[0,20]'],required:true" />
                    </div>
                    <div>
                        <input class="easyui-textbox" name="license" id="license" style="width:100%" value="${upstream.license!}" data-options="label:'信用代码*:', validType:['isWord','length[0,20]'],required:true" />
                    </div>
                </div>
                <div style="margin-bottom:5px">
                    <input class="easyui-textbox" name="telphone" id="telphone" style="width:100%" value="${upstream.telphone!}" data-options="label:'联系方式*:',required:true,validType:['length[11,11]']" />
                </div>
                <div style="margin-bottom:5px">
                    <input class="easyui-textbox" name="idCard" id="idCard" style="width:100%" value="${upstream.idCard!}" maxlength="18" data-options="label:'身份证号:', validType:'cardNo'" />
                </div>
                <div style="margin-bottom:5px">
                    <input class="easyui-tagbox" name="userIds" id="userIds" style="width:100%"  data-options="label:'业户名称:',prompt:'请输入业户名检索',limitToList: true,loader:userLoader,mode: 'remote',valueField:'id',textField:'text',tagFormatter: userFormatter,<%if(userItem!=null){%>readonly:true<%}%>"/>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend><i>证件上传</i></legend>
            <div id="p" class="easyui-panel">
                <div style="text-align: center">
                    <div style="margin-bottom:5px;display: inline-block;">
                        <div class="fileimg-box" style="margin: 0 auto;">
                            <span class="fileimg-plus-icon">+</span>
                            <span class="fileimg-des">上传身份证正面照</span>
                            <input type="file" name="file" id="cardNoFrontUrl" data-url="${contextPath!}/imageController/upload.action" multiple="multipart/form-data" />
                            <img class="magnifying" src="${imageViewPathPrefix}/${upstream.cardNoFrontUrl!}">
                            <input type="hidden" name="cardNoFrontUrl" value="${upstream.cardNoFrontUrl!}">
                            <div class="fileimg-cover" style="${isEmpty(upstream.cardNoFrontUrl)?'display: none;':''}"></div>
                            <div class="fileimg-edit" style="${isEmpty(upstream.cardNoFrontUrl)?'display: none;':''}">
                                <span class="fileimg-view">查看</span>
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom:5px;display: inline-block;">
                        <div class="fileimg-box" style="margin: 0 auto;">
                            <span class="fileimg-plus-icon">+</span>
                            <span class="fileimg-des">上传身份证反面照</span>
                            <input type="file" name="file" id="cardNoBackUrl" data-url="${contextPath!}/imageController/upload.action" multiple="multipart/form-data" />
                            <img class="magnifying" src="${imageViewPathPrefix}/${upstream.cardNoBackUrl!}">
                            <input type="hidden" name="cardNoBackUrl" value="${upstream.cardNoBackUrl!}">
                            <div class="fileimg-cover" style="${isEmpty(upstream.cardNoBackUrl)?'display: none;':''}"></div>
                            <div class="fileimg-edit" style="${isEmpty(upstream.cardNoBackUrl)?'display: none;':''}">
                                <span class="fileimg-view">查看</span>
                            </div>
                        </div>
                    </div>
              
                    <div style="margin-bottom:5px;display: inline-block;">
                        <div class="fileimg-box" style="margin: 0 auto;">
                            <span class="fileimg-plus-icon">+</span>
                            <span class="fileimg-des">上传营业执照</span>
                            <input type="file" name="file" id="businessLicenseUrl" data-url="${contextPath!}/imageController/upload.action" multiple="multipart/form-data"/>
                            <img class="magnifying" src="${imageViewPathPrefix}/${upstream.businessLicenseUrl!}">
                            <input type="hidden" name="businessLicenseUrl" value="${upstream.businessLicenseUrl!}">
                            <div class="fileimg-cover" style="${isEmpty(upstream.businessLicenseUrl)?'display: none;':''}"></div>
                            <div class="fileimg-edit" style="${isEmpty(upstream.businessLicenseUrl)?'display: none;':''}">
                                <span class="fileimg-view">查看</span>
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom:5px;display: inline-block;">
                        <div class="fileimg-box" style="margin: 0 auto;">
                            <span class="fileimg-plus-icon">+</span>
                            <span class="fileimg-des">上传经营许可证</span>
                            <input type="file" name="file" id="operationLicenseUrl" data-url="${contextPath!}/imageController/upload.action" multiple="multipart/form-data"/>
                            <img class="magnifying" src="${imageViewPathPrefix}/${upstream.operationLicenseUrl!}">
                            <input type="hidden" name="operationLicenseUrl" value="${upstream.operationLicenseUrl!}">
                            <div class="fileimg-cover" style="${isEmpty(upstream.operationLicenseUrl)?'display: none;':''}"></div>
                            <div class="fileimg-edit" style="${isEmpty(upstream.operationLicenseUrl)?'display: none;':''}">
                                <span class="fileimg-view">查看</span>
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom:5px;display: inline-block;">
                        <div class="fileimg-box" style="margin: 0 auto;">
                            <span class="fileimg-plus-icon">+</span>
                            <span class="fileimg-des">上传生产许可证</span>
                            <input type="file" name="file" id="manufacturingLicenseUrl" data-url="${contextPath!}/imageController/upload.action" multiple="multipart/form-data"/>
                            <img class="magnifying" src="${imageViewPathPrefix}/${upstream.manufacturingLicenseUrl!}">
                            <input type="hidden" name="manufacturingLicenseUrl" value="${upstream.manufacturingLicenseUrl!}">
                            <div class="fileimg-cover" style="${isEmpty(upstream.manufacturingLicenseUrl)?'display: none;':''}"></div>
                            <div class="fileimg-edit" style="${isEmpty(upstream.manufacturingLicenseUrl)?'display: none;':''}">
                                <span class="fileimg-view">查看</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>
    </form>
    <!--<h5 class="mt10 red">操作员：陈良芳</h5>-->
    <div class="text-center mt30">
        <button class="btn-main2 btn-sm" onclick="saveOrUpdate()">提交</button>&nbsp;&nbsp;
        <button class="btn-greyweak btn-sm" onclick="parent.window['UpStreamIndexObj'].removeAllAndLoadData()">取消</button>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
     <script src="http://base.nong12.com/static/log/log.build.js"></script>
     <link rel="stylesheet" type="text/css" href="${contextPath!}/resources/jquery-file-upload/css/jquery.fileupload.css">
     <script src="${contextPath!}/resources/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
     <script src="${contextPath!}/resources/jquery-file-upload/js/jquery.iframe-transport.js"></script>
     <script src="${contextPath!}/resources/jquery-file-upload/js/jquery.fileupload.js"></script>
     <script src="/resources/assets/dep/jquery/layer/layer.js"></script>
     <script src="${contextPath!}/resources/js/jquery.serializeObject.js"></script>
</#body>
<script type="text/javascript">

    let selectedTags = {};
    function userFormatter(value,row) {
        if(row){
            var opts = $(this).tagbox('options');
            selectedTags[value] = row[opts.textField];
            return row[opts.textField];
        }else{
            return selectedTags[value];
        }
    }

    /**
     * 客户自动联想加载
     * ***/
    function userLoader(param,success,error) {
        var q = param.q || '';
        if (q.length < 1){return false}
        console.log(q);
        $.ajax({
            type: "POST",
            url: '/user/listByCondition.action',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({
                likeName: q
            }),
            success: function(result){
                if(result.success){
                    $.map(result.data, function(item,index){
                        return $.extend(item, {
                            text: item.name+" "+(undefined==item.certificateNumber?"(无证件号)":item.certificateNumber)
                        });
                    });
                    success(result.data);
                }

            },
            error: function(){
                error.apply(this, arguments);
            }
        });
    }

    function saveOrUpdate() {
        if(!$('#_form').form("validate")){
            return;
        }
        var formData = $("#_form").serializeObject();
        $.ajax({
            type: "POST",
            url: "/upStream/save.action",
            data: JSON.stringify(formData),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success:function (result) {
                if(result.success){
                    parent.window['UpStreamIndexObj'].editSuccess();
                }else{
                    swal('错误',result.message, 'error');
                }
            },
            error: function(){
                swal('错误', '远程访问失败', 'error');
            }
        });
    }



    $(function () {
        initFileUpload();
        $('#upstreamType').combobox({
            onChange : function (newValue,oldValue) {
                if(newValue == 10){
                    $('#corporateInfo').hide();
                    $('#legalPerson').textbox('disableValidation');
                    $('#license').textbox('disableValidation');
                    $('#legalPerson').textbox('readonly',true);
                    $('#license').textbox('readonly',true);

                }else{
                    $('#corporateInfo').show();
                    $('#legalPerson').textbox('enableValidation');
                    $('#license').textbox('enableValidation');
                    $('#legalPerson').textbox('readonly',false);
                    $('#license').textbox('readonly',false);
                }
            }
        });
        let id = $('#id').val();
        let userId = $('#userId').val();

        if(id||userId){
            $.ajax({
                url:'/upStream/listUserByUpstreamId.action',
                data : {upstreamId : $('#id').val(),userId:$('#userId').val()},
                success:function (result) {
                    if(result.success){
                        $.each(result.data, function(index,item){
                            selectedTags[item.id] =item.name+" "+(undefined==item.certificateNumber?"(无证件号)":item.certificateNumber);

                        });
                        $('#userIds').tagbox('setValues',Object.keys(selectedTags));
                    }else{
                        swal('错误',result.message,'error');
                    }
                }
            });
        }

    })

    $('.fileimg-view').on('click', function () {
        let url = $(this).parent().siblings(".magnifying").attr('src');
        if(url){
            layer.open({
                title:'图片',
                type: 1,
                skin: 'layui-layer-rim',
                closeBtn: 2,
                area: ['90%', '90%'], //宽高
                content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
            });
        }
    });

    function initFileUpload(){
        let pFix = '${imageViewPathPrefix}';
        $(":file").fileupload({
            dataType : 'json',
            formData: {type:4,compress:true},
            done : function(e, res) {
                if (res.result.code == 200) {
                    var url = res.result.data;
                    $(this).siblings(".magnifying").attr('src', pFix+"/"+url).show();
                    $(this).siblings("input:hidden").val(url);
                    $(this).siblings('.fileimg-cover,.fileimg-edit').show();
                }
            },
            add:function (e, data){//判断文件类型 var acceptFileTypes = /\/(pdf|xml)$/i;
                var acceptFileTypes = /^gif|bmp|jpe?g|png$/i;
                var name = data.originalFiles[0]["name"];
                var index = name.lastIndexOf(".")+1;
                var fileType = name.substring(index,name.length);
                if(!acceptFileTypes.test(fileType)){
                    swal('错误', '请您上传图片类文件jpe/jpg/png/bmp!', 'error');
                    return ;
                }
                var size = data.originalFiles[0]["size"];
                // 10M
                if(size > (1024*10*1024)){
                    swal('错误', '上传文件超过最大限制!', 'error');
                    return ;
                }
                data.submit();
            }
        });
    }

</script>