 <#body head_title="上游与用户关系">
     <style>
         .textbox-text[readonly] {
             background: #ebebe4;
         }

         fieldset {
             color:#aaa;
             border:#aaa dashed 1px;
             text-align:left;
             padding:5px;
         }
         legend {
             font-weight:800;
             background:#fff;
         }
     </style>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="queryForm" class="easyui-form" method="post" fit="true">
                    <div class="search-wrap">
                        <div class="search-item">
                            <input class="easyui-textbox" name="likeUpstreamName" id="likeUpstreamName" style="width:100%" labelAlign="right" data-options="label:'上游名称:'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="likeUserName" id="likeUserName" style="width:100%" labelAlign="right" data-options="label:'业户名称:'" />
                        </div>
                        <div class="search-wrap-btn">
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryUpStreamGrid()">查询</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearQueryForm()">清除</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="打印报告列表" id="grid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" border="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="id" sortOrder="desc"
                   align="center" fit="true" idField="id" data-options="onHeaderContextMenu:headerContextMenu,onLoadSuccess:clearGridSelectedAndChecked">
                <thead>
                    <tr>
                        <th width="10%" data-options="field:'upstreamId', _provider:'simpleBatchDisplayTextProvider',_escapeFileds:{'upstreamId':'name','upstreamName':'name','idCard':'id_card', 'telphone':'telphone', 'license':'license','upstreamType':'upstream_type','legalPerson':'legal_person','cardNoFrontUrl':'card_no_front_url','cardNoBackUrl':'card_no_back_url','businessLicenseUrl':'business_license_url','operationLicenseUrl':'operation_license_url'},_fkField:'upstreamId',_relationTable:'upstream',_relationTablePkField:'id',     sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                           名称
                        </th>
                        <th width="10%" data-options="field:'upstreamType', _provider:'upStreamTypeProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            类型
                        </th>
                        <th width="10%" data-options="field:'legalPerson', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            法人
                        </th>
                        <th width="15%" data-options="field:'license', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            统一信用代码
                        </th>
                        <th width="15%" data-options="field:'telphone',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            联系方式
                        </th>
                        <th width="15%" data-options="field:'idCard',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            身份证号
                        </th>
                        <th width="10%" data-options="field:'userId', _provider:'simpleBatchDisplayTextProvider',  _escapeFileds:{'userId':'name','userName':'name'},_fkField:'userId',_relationTable:'user',_relationTablePkField:'id',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            业户名称
                        </th>
                        <th width="15%" data-options="field:'created', _provider:'datetimeProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                   </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="上游个人/企业编辑" style="padding:20px" modal="true" border="thin" closed="true"
      data-options="
				iconCls: 'icon-edit',
				height: 680,
				width:510,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:debounce(saveOrUpdate,1000,true)
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
     <form id="_form" class="easyui-form" method="post">
         <input type="hidden" name="id" id="id">
         <fieldset style="width: 460px;margin-bottom: 5px;">
             <legend><i>基础信息</i></legend>
             <div class="easyui-panel">
                 <div style="margin-bottom:5px">
                     <input class="easyui-textbox" name="name" id="name" style="width:100%" data-options="label:'名称:',validType:'length[2,20]',required:true" />
                 </div>
                 <div style="margin-bottom:5px">
                     <input name="upstreamType" id="upstreamType" style="width:100%;" editable="false" panelWidth="auto" panelHeight="auto" label="类型:"/>
                     <#comboProvider _id="upstreamType" _provider='upStreamTypeProvider'  _queryParams='{required:true}'/>
                 </div>
                 <div style="margin-bottom:5px;" id="corporateInfo">
                     <div style="margin-bottom:5px;" >
                         <input class="easyui-textbox" name="legalPerson" id="legalPerson" style="width:100%" data-options="label:'法人:', validType:['isWord','length[0,20]']" />
                     </div>
                     <div>
                         <input class="easyui-textbox" name="license" id="license" style="width:100%" data-options="label:'信用代码:', validType:['isWord','length[0,20]']" />
                     </div>
                 </div>
                 <div style="margin-bottom:5px">
                     <input class="easyui-textbox" name="telphone" id="telphone" style="width:100%" data-options="label:'联系方式:'" />
                 </div>
                 <div style="margin-bottom:5px">
                     <input class="easyui-textbox" name="idCard" id="idCard" style="width:100%" data-options="label:'身份证号:', validType:'cardNo'" />
                 </div>
                 <div style="margin-bottom:5px">
                     <input class="easyui-tagbox" name="userIds" id="userIds" style="width:100%" required="true" data-options="label:'业户名称*:',prompt:'请输入业户名检索',limitToList: true,loader:userLoader,mode: 'remote',valueField:'id',textField:'text',tagFormatter: userFormatter,multiple:true"/>
                 </div>
             </div>
         </fieldset>
         <fieldset style="width: 460px;">
             <legend><i>证件上传</i></legend>
             <div id="p" class="easyui-panel">
                 <div style="text-align: center">
                     <div style="margin-bottom:5px;display: inline-block;">
                         <div class="fileimg-box" style="margin: 0 auto;">
                             <span class="fileimg-plus-icon">+</span>
                             <span class="fileimg-des">上传身份证正面照</span>
                             <input type="file" name="file" id="cardNoFrontUrl" data-url="${contextPath!}/action/imageApi/upload" multiple="multipart/form-data" />
                             <img class="magnifying">
                             <input type="hidden" name="cardNoFrontUrl">
                             <div class="fileimg-cover" style="display: none;"></div>
                             <div class="fileimg-edit" style="display: none;">
                                 <span class="fileimg-view">查看</span>
                             </div>
                         </div>
                     </div>
                     <div style="margin-bottom:5px;display: inline-block;">
                         <div class="fileimg-box" style="margin: 0 auto;">
                             <span class="fileimg-plus-icon">+</span>
                             <span class="fileimg-des">上传身份证反面照</span>
                             <input type="file" name="file" id="cardNoBackUrl" data-url="${contextPath!}/action/imageApi/upload" multiple="multipart/form-data" />
                             <img class="magnifying">
                             <input type="hidden" name="cardNoBackUrl">
                             <div class="fileimg-cover" style="display: none;"></div>
                             <div class="fileimg-edit" style="display: none;">
                                 <span class="fileimg-view">查看</span>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div style="text-align: center">
                     <div style="margin-bottom:5px;display: inline-block;">
                         <div class="fileimg-box" style="margin: 0 auto;">
                             <span class="fileimg-plus-icon">+</span>
                             <span class="fileimg-des">上传营业执照</span>
                             <input type="file" name="file" id="businessLicenseUrl" data-url="${contextPath!}/action/imageApi/upload" multiple="multipart/form-data"/>
                             <input type="hidden" name="businessLicenseUrl">
                             <img class="magnifying">
                             <div class="fileimg-cover" style="display: none;"></div>
                             <div class="fileimg-edit" style="display: none;">
                                 <span class="fileimg-view">查看</span>
                             </div>
                         </div>
                     </div>
                     <div style="margin-bottom:5px;display: inline-block;">
                         <div class="fileimg-box" style="margin: 0 auto;">
                             <span class="fileimg-plus-icon">+</span>
                             <span class="fileimg-des">上传经营许可证</span>
                             <input type="file" name="file" id="operationLicenseUrl" data-url="${contextPath!}/action/imageApi/upload" multiple="multipart/form-data"/>
                             <input type="hidden" name="operationLicenseUrl">
                             <img class="magnifying">
                             <div class="fileimg-cover" style="display: none;"></div>
                             <div class="fileimg-edit" style="display: none;">
                                 <span class="fileimg-view">查看</span>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>
         </fieldset>
     </form>

 </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
 <script src="http://base.nong12.com/static/log/log.build.js"></script>
 <link rel="stylesheet" type="text/css" href="${contextPath!}/resources/jquery-file-upload/css/jquery.fileupload.css">
 <script src="${contextPath!}/resources/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
 <script src="${contextPath!}/resources/jquery-file-upload/js/jquery.iframe-transport.js"></script>
 <script src="${contextPath!}/resources/jquery-file-upload/js/jquery.fileupload.js"></script>
 <script src="/resources/assets/dep/jquery/layer/layer.js"></script>
 <script src="${contextPath!}/resources/js/jquery.serializeObject.js"></script>
    <#upStream_indexJs />
</#body>