 <#body head_title="打印报告列表">
     <style>
         .textbox-text[readonly] {
             background: #ebebe4;
         }
     </style>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="queryForm" class="easyui-form" method="post" fit="true">
                    <div class="search-wrap">
                        <div class="search-item long-item">
                            <input class="easyui-datetimebox" name="createdStart" id="createdStart" style="width:58%" labelAlign="right" data-options="label:'创建时间:'" value=""/>
                            <span style="width: 2%;">-</span>
                            <input class="easyui-datetimebox" name="createdEnd" id="createdEnd" style="width:39%;" value=""/>
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="userName" id="userName" style="width:100%" labelAlign="right" data-options="label:'提交人:'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="detectOperatorName" id="detectOperatorName" style="width:100%" labelAlign="right" data-options="label:'检测人:'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="likeApproverUserName" id="likeApproverUserName" style="width:100%" labelAlign="right" data-options="label:'审核人:'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="likeOperatorName" id="likeOperatorName" style="width:100%" labelAlign="right" data-options="label:'操作人:'" />
                        </div>
                        <div class="search-wrap-btn">
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryUserGrid()">查询</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearQueryForm()">清除</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="打印报告列表" id="upStreamGrid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" border="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="id" sortOrder="desc"
                   align="center" fit="true" idField="id" data-options="onClickRow:onClickRow,onHeaderContextMenu:headerContextMenu,onLoadSuccess:clearGridSelectedAndChecked">
                <thead>
                    <tr>
                        <th width="10%" data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            市场名称
                        </th>
                        <th width="10%" data-options="field:'code',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            类型
                        </th>
                        <th width="10%" data-options="field:'validPeriod',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                           商户名称
                        </th>
                        <th width="10%" data-options="field:'userName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            上游联系方式
                        </th>
                        <th width="10%" data-options="field:'detectOperatorName',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            摊位号
                        </th>
                        <th width="10%" data-options="field:'approverInfoId', _provider:'approverInfoProvider',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            上游企业/个人名称
                        </th>
                         <th width="10%" data-options="field:'operatorName', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            上游法人
                        </th>
                        <th width="10%" data-options="field:'operatorName', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            统一信用代码
                        </th>
                        <th width="10%" data-options="field:'operatorName', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            身份证号
                        </th>
                        <th width="10%" data-options="field:'operatorName', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                   </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
     <script src="http://base.nong12.com/static/log/log.build.js"></script>
     <script src="${contextPath!}/resources/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
     <script src="${contextPath!}/resources/jquery-file-upload/js/jquery.iframe-transport.js"></script>
     <script src="/resources/assets/dep/jquery/layer/layer.js"></script>
     

     <script type="text/javascript">
       //表格查询
       function queryUserGrid() {
           var opts = _checkSheetGrid.datagrid("options");
           if (null == opts.url || "" == opts.url) {
               opts.url = "${contextPath}/upStream/listPage.action";
           }

           if(!$('#queryForm').form("validate")){
               return false;
           }
           _checkSheetGrid.datagrid("load", bindGridMeta2Form("upStreamGrid", "queryForm"));

       }


       //清空表单
       function clearQueryForm() {
           $('#queryForm').form('clear');
       }

       //表格表头右键菜单
       function headerContextMenu(e, field){
           e.preventDefault();
           if (!cmenu){
               createColumnMenu("upStreamGrid");
           }
           cmenu.menu('show', {
               left:e.pageX,
               top:e.pageY
           });
       }

       /**
        * 绑定页面回车事件，以及初始化页面时的光标定位
        * @formId
        *          表单ID
        * @elementName
        *          光标定位在指点表单元素的name属性的值
        * @submitFun
        *          表单提交需执行的任务
        */
       $(function () {
           window._checkSheetGrid = $('#upStreamGrid');
           bindFormEvent("queryForm", "createdStart", queryUserGrid);
           initUserGrid();
           queryUserGrid();
       })

       $('.fileimg-view').on('click', function () {
           var url = $(this).parent().siblings(".magnifying").attr('src');
           if(url){
               layer.open({
                   title:'图片',
                   type: 1,
                   skin: 'layui-layer-rim',
                   closeBtn: 2,
                   area: ['90%', '90%'], //宽高
                   content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
               });
           }
       });

           function initFileUpload(){
           $(":file").fileupload({
               dataType : 'json',
               formData: {type:4,compress:true},
               done : function(e, res) {
                   if (res.result.code == 200) {
                       var url = res.result.data;
                       $(this).siblings(".magnifying").attr('src', url).show();
                       $(this).siblings("input:hidden").val(url);
                       $(this).siblings('.fileimg-cover,.fileimg-edit').show();
                   }
               },
               add:function (e, data){//判断文件类型 var acceptFileTypes = /\/(pdf|xml)$/i;
                   var acceptFileTypes = /^gif|bmp|jpe?g|png$/i;
                   var name = data.originalFiles[0]["name"];
                   var index = name.lastIndexOf(".")+1;
                   var fileType = name.substring(index,name.length);
                   if(!acceptFileTypes.test(fileType)){
                       swal('错误', '请您上传图片类文件jpe/jpg/png/bmp!', 'error');
                       return ;
                   }
                   var size = data.originalFiles[0]["size"];
                   // 10M
                   if(size > (1024*10*1024)){
                       swal('错误', '上传文件超过最大限制!', 'error');
                       return ;
                   }
                   data.submit();
               }
           });
       }

       /**
        * 初始化用户列表组件
        */
       function initUserGrid() {
           var pager = _checkSheetGrid.datagrid('getPager');
           var toolbar=[
               {
                   iconCls:'icon-add',
                   id:'insert-btn',
                   text:'新增',
                   handler:function(){
                    openInsert();
                   }
               },
               {
                   iconCls:'icon-edit',
                   id:'edit-btn',
                   text:'编辑',
                   handler:function(){
                    openEdit();
                   }
               },
               {
                   iconCls:'icon-detail',
                   id:'print-btn',
                   text:'查看',
                   handler:function(){
                    openDetail();
                   }
               },
               <#resource method="post" url="upStream/index.html#export">
               {
                   iconCls:'icon-export',
                   text:'导出',
                   id:'stop_btn',
                   handler:function(){
                       layer.confirm('确认导出数据?', {
                           type: 0,
                           title: '提示',
                           btn: ['确定','取消'],
                           yes:function(){
                               layer.closeAll();
                               doExport('upStreamGrid');
                           }
                       });
                   }
               }
               </#resource>
           ];
           	_checkSheetGrid.datagrid({
               toolbar:toolbar
           });
           pager.pagination({
               <#controls_paginationOpts/>,
               //buttons:toolbar

           });
           pager.pagination({
               <#controls_paginationOpts/>,
               
           });
       }
        function openInsert(){
            openWin('${contextPath}/upStream/insert.html')
        }
       function openEdit(){
        var selected = _checkSheetGrid.datagrid("getSelected");
           if (null == selected) {
               swal({
                   title: '警告',
                   text: '请选中一条数据',
                   type: 'warning',
                   width: 300,
               });
               return;
           }
           openWin('${contextPath}/upStream/edit.html?id=' + selected.id)

       }

       function openDetail(){
           var selected = _checkSheetGrid.datagrid("getSelected");
           if (null == selected) {
               swal({
                   title: '警告',
                   text: '请选中一条数据',
                   type: 'warning',
                   width: 300,
               });
               return;
           }
           openWin('${contextPath}/upStream/view.html?id=' + selected.id)
       }

       /**
        * datagrid行点击事件
        * 目前用于来判断 启禁用是否可点
        */
       function onClickRow(index,row) {
           var state = row.$_state;

       }

       function closeLastWin(id){
           $('#'+id).last().remove();
       }
       function closeWin(id){
           $('#'+id).remove();
           $('#grid').datagrid('reload');
       }
       function openWin(url){
           $('body').append('<iframe id="upstream_win" name="view_win" src="'+url+'" style="border:0px;width:100%;height:100%;position:fixed;left:0;top:0"></iframe>');
       }
//客户端错误回调方法
function handleError(ret){
		layer.alert(ret.result,{
			title:'错误',
		   	end :function(){
			   		//window.location.reload()
			   	}
			},
			function () {
					 //window.location.reload()
			 }
		);
}
//取消打印结束后调用
function cancelPrint(){
	console.info('cancelPrint')
	//$('.btn-main2').show();
}
//打印结束后调用
function printFinish(){
	console.info('printFinish')
	//parent.closeWin('view_win');
}


   </script>

</#body>