<#bs4Body head_title="上游与用户关系">
 <style>
     .textbox-text[readonly] {
         background: #ebebe4;
     }

     fieldset {
         color:#aaa;
         border:#aaa dashed 1px;
         text-align:left;
         padding:5px;
     }
     legend {
         font-weight:800;
         background:#fff;
     }
 </style>
 <div class="container-fluid">
     <form id="queryForm" role="form" >
         <div class="row row-cols-6">
             <div class="form-group col-auto">
                 <label for="createdStart">注册时间</label>
                 <div class="form-inline">
                     <div class="input-group">
                         <input type="text" name="createdStart" id="createdStart" class="form-control laydatetime laystart" value="${createdStart!}"/>
                         <div class="input-group-append">
                             <label for="createdStart" class="input-group-text fa fa-calendar"></label>
                         </div>
                     </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                     <div class="input-group">
                         <input type="text" name="createdEnd" id="createdEnd" class="form-control laydatetime layend" value="${createdEnd!}"/>
                         <div class="input-group-append">
                             <label for="createdEnd" class="input-group-text fa fa-calendar"></label>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="form-group col">
                 <label for="likeName">企业/个人名称</label>
                 <input type="text" class="form-control" name="likeName" id="likeName"/>
             </div>

             <div class="form-group col">
                 <label for="likeUserName">业户名称</label>
                 <input type="text" class="form-control" name="likeUserName" id="likeUserName"/>
             </div>

             <div class="col-auto align-self-center mt-3">
                 <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                 <button id="query" type="button" class="btn btn-outline-primary"><i class="fa fa-search"></i> 查询</button>
             </div>
         </div>
     </form>
     <hr>
     <div>
         <div id="toolbar" class="btn-group" role="group" aria-label="工具栏">
             <#resource code="upStream/index.html#add_hide">
                <button id="btn_add" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</button>
             </#resource>
             <#resource code="upStream/index.html#update_hide">
                <button id="edit-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> 修改</button>
             </#resource>
             <#resource code="upStream/index.html#view">
                <button id="view-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-eye"></i> 查看</button>
             </#resource>
         </div>
 <table id="upstreamGrid" data-toggle="table" data-title="上游企业管理列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="10"
        data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/json" data-single-select="true"
        data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="id" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
        data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true" data-detail-view="false">
     <thead>
     <tr>
         <th data-checkbox="true"></th>
         <th data-field="created" data-sortable="true" data-align="center" data-provider="datetimeProvider">
             登记时间
         </th>
         <th data-field="upORdown" data-sort-name="bill_type" data-sortable="true" data-align="center" data-provider="userFlagProvider">
             登记类型
         </th>

         <th  data-field="id"  data-sortable="true" data-align="center" >
             ID
         </th>
         <th  data-field="name"  data-sortable="true" data-align="center" >
             企业/个人名称
         </th>
         <th  data-field="upstreamType" data-sort-name="upstream_type"  data-sortable="true" data-align="center" data-provider="upStreamTypeProvider">
             类型
         </th>
         <th  data-field="legalPerson" data-sort-name="legal_person"  data-sortable="true" data-align="center" >
             法人
         </th>
         <th data-field="license" data-sortable="true" data-align="center">
             统一信用代码
         </th>
         <th data-field="telphone"  data-sortable="true" data-align="center">
             联系方式
         </th>
         <th data-field="idCard" data-sort-name="id_card"  data-sortable="true" data-align="center" >
             身份证号
         </th>
         <th data-field="userNames"   data-sortable="false" data-align="center" >
             业户名称
         </th>
         <th data-field="created"   data-sortable="true" data-align="center">
             创建时间
         </th>
     </tr>
     </thead>
 </table>
 </div>
 </div>
</#bs4Body>
 <#webGlobalConfig/>
 <script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
 <script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
 <script src="${contextPath!}/resources/js/Utils.js"></script>
 <script src="${contextPath!}/resources/js/WebConfig.js"></script>
 <script src="${contextPath!}/resources/js/CategoryController.js"></script>
 <script src="${contextPath!}/resources/js/CityController.js"></script>
 <script src="${contextPath!}/resources/js/UpStream.index.js"></script>
 <script src="${contextPath!}/resources/assets/dep/jquery/laydate/laydate.js"></script>
 <script type="text/javascript">
     lay('.laydatetime').each(function(){
         laydate.render({
             elem: this
             ,type: 'datetime'
             ,trigger: 'click'
         });
     });
     $(function () {
         new UpStreamIndex($('#upstreamGrid'),$('#queryForm'));
     });
 </script>