<#body head_title="用户列表">
<style>
    fieldset {
        color:#aaa;
        border:#aaa dashed 1px;
        text-align:left;
        padding:5px;
    }
    legend {
        font-weight:800;
        background:#fff;
    }
    .btn-main2 {
        display: inline-block;
        width: 70px;
        color: #fff;
        background-color: #3370ff;
        border: none;
        padding: 7px 18px;
    }
    .btn-sm {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
    .btn-greyweak {
        display: inline-block;
        width: 70px;
        color: #fff;
        background-color: #f9f9f9;
        border: 1px solid #d5d5d5;
        color: #666;
        padding: 6px 17px;
    }
    .mt30 {
        margin-top: 30px !important;
    }
    .text-center {
        text-align: center;
    }
</style>
<form id="_form" class="easyui-form" method="post">
    <input type="hidden" name="id" id="id" value="${upstream.id!}">
    <input type="hidden" name="userId" id="userId" value="${userItem.id!}">
    <fieldset style="margin-bottom: 5px;">
        <legend><i>基础信息</i></legend>
        <div class="easyui-panel">
            <div style="margin-bottom:5px" id="corporate">
                <input class="easyui-textbox" name="name" id="corporateName" value="${upstream.name!}" style="width:100%" readonly data-options="label:'企业名称:',validType:'length[2,20]'" />
            </div>
            <div style="margin-bottom:5px" id="user">
                <input class="easyui-textbox" name="name" id="userName" value="${upstream.name!}" style="width:100%" readonly data-options="label:'个人名称:',validType:'length[2,20]'" />
            </div>
            <div style="margin-bottom:5px">
                <input name="upstreamType" id="upstreamType" style="width:100%;" editable="false" panelWidth="auto" panelHeight="auto" label="类型:" readonly/>
                <#comboProvider _id="upstreamType" _provider='upStreamTypeProvider' _value='${upstream.upstreamType!10}'/>
            </div>
            <div style="margin-bottom:5px;" id="corporateInfo">
                <div style="margin-bottom:5px;" >
                    <input class="easyui-textbox" name="legalPerson" id="legalPerson" style="width:100%" value="${upstream.legalPerson!}" readonly data-options="label:'法人:', validType:['isWord','length[0,20]']" />
                </div>
                <div>
                    <input class="easyui-textbox" name="license" id="license" style="width:100%" value="${upstream.license!}" readonly data-options="label:'信用代码:', validType:['isWord','length[0,20]']" />
                </div>
            </div>
            <div style="margin-bottom:5px">
                <input class="easyui-textbox" name="telphone" id="telphone" style="width:100%" value="${upstream.telphone!}" readonly data-options="label:'联系方式:',validType:['length[11,11]']" />
            </div>
            <div style="margin-bottom:5px">
                <input class="easyui-textbox" name="idCard" id="idCard" style="width:100%" value="${upstream.idCard!}" readonly maxlength="18" data-options="label:'身份证号:', validType:'cardNo'" />
            </div>
            <div style="margin-bottom:5px">
                <input class="easyui-tagbox" name="userIds" id="userIds" style="width:100%" readonly  data-options="label:'业户名称:',limitToList: true,mode: 'remote',valueField:'id',textField:'text',tagFormatter: userFormatter,<%if(userItem!=null){%>readonly:true<%}%>"/>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend><i>证件信息</i></legend>
        <div id="p" class="easyui-panel">
            <div style="text-align: center">
                <div style="margin-bottom:5px;display: inline-block;">
                    <div class="fileimg-box" style="margin: 0 auto;">
                        <span class="fileimg-plus-icon">+</span>
                        <span class="fileimg-des">身份证正面照</span>
                        <%if (upstream.cardNoFrontUrl != null && upstream.cardNoFrontUrl != "") {%>
                        <img class="magnifying" src="${imageViewPathPrefix}/${upstream.cardNoFrontUrl!}">
                        <%}%>
                        <input type="hidden" name="cardNoFrontUrl" value="${upstream.cardNoFrontUrl!}">
                        <div class="fileimg-cover" style="${isEmpty(upstream.cardNoFrontUrl)?'display: none;':''}"></div>
                        <div class="fileimg-edit" style="${isEmpty(upstream.cardNoFrontUrl)?'display: none;':''}">
                            <span class="fileimg-view">查看</span>
                        </div>
                    </div>
                </div>

                <div style="margin-bottom:5px;display: inline-block;">
                    <div class="fileimg-box" style="margin: 0 auto;">
                        <span class="fileimg-plus-icon">+</span>
                        <span class="fileimg-des">身份证反面照</span>
                        <%if (upstream.cardNoBackUrl != null && upstream.cardNoBackUrl != "") {%>
                        <img class="magnifying" src="${imageViewPathPrefix}/${upstream.cardNoBackUrl!}">
                        <%}%>
                        <input type="hidden" name="cardNoBackUrl" value="${upstream.cardNoBackUrl!}">
                        <div class="fileimg-cover" style="${isEmpty(upstream.cardNoBackUrl)?'display: none;':''}"></div>
                        <div class="fileimg-edit" style="${isEmpty(upstream.cardNoBackUrl)?'display: none;':''}">
                            <span class="fileimg-view">查看</span>
                        </div>
                    </div>
                </div>

                <div style="margin-bottom:5px;display: inline-block;">
                    <div class="fileimg-box" style="margin: 0 auto;">
                        <span class="fileimg-plus-icon">+</span>
                        <span class="fileimg-des">营业执照</span>
                        <%if (upstream.businessLicenseUrl != null && upstream.businessLicenseUrl != "") {%>
                        <img class="magnifying" src="${imageViewPathPrefix}/${upstream.businessLicenseUrl!}">
                        <%}%>
                        <input type="hidden" name="businessLicenseUrl" value="${upstream.businessLicenseUrl!}">
                        <div class="fileimg-cover" style="${isEmpty(upstream.businessLicenseUrl)?'display: none;':''}"></div>
                        <div class="fileimg-edit" style="${isEmpty(upstream.businessLicenseUrl)?'display: none;':''}">
                            <span class="fileimg-view">查看</span>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:5px;display: inline-block;">
                    <div class="fileimg-box" style="margin: 0 auto;">
                        <span class="fileimg-plus-icon">+</span>
                        <span class="fileimg-des">经营许可证</span>
                        <%if (upstream.operationLicenseUrl != null && upstream.operationLicenseUrl != "") {%>
                        <img class="magnifying" src="${imageViewPathPrefix}/${upstream.operationLicenseUrl!}">
                        <%}%>
                        <input type="hidden" name="operationLicenseUrl" value="${upstream.operationLicenseUrl!}">
                        <div class="fileimg-cover" style="${isEmpty(upstream.operationLicenseUrl)?'display: none;':''}"></div>
                        <div class="fileimg-edit" style="${isEmpty(upstream.operationLicenseUrl)?'display: none;':''}">
                            <span class="fileimg-view">查看</span>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:5px;display: inline-block;">
                    <div class="fileimg-box" style="margin: 0 auto;">
                        <span class="fileimg-plus-icon">+</span>
                        <span class="fileimg-des">生产许可证</span>
                        <%if (upstream.manufacturingLicenseUrl != null && upstream.manufacturingLicenseUrl != "") {%>
                        <img class="magnifying" src="${imageViewPathPrefix}/${upstream.manufacturingLicenseUrl!}">
                        <%}%>
                        <input type="hidden" name="manufacturingLicenseUrl" value="${upstream.manufacturingLicenseUrl!}">
                        <div class="fileimg-cover" style="${isEmpty(upstream.manufacturingLicenseUrl)?'display: none;':''}"></div>
                        <div class="fileimg-edit" style="${isEmpty(upstream.manufacturingLicenseUrl)?'display: none;':''}">
                            <span class="fileimg-view">查看</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
</form>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script src="http://base.nong12.com/static/log/log.build.js"></script>
<link rel="stylesheet" type="text/css" href="${contextPath!}/resources/jquery-file-upload/css/jquery.fileupload.css">
<script src="${contextPath!}/resources/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="${contextPath!}/resources/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="${contextPath!}/resources/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="/resources/assets/dep/jquery/layer/layer.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializeObject.js"></script>
</#body>
<script type="text/javascript">

    let selectedTags = {};
    function userFormatter(value,row) {
        if(row){
            var opts = $(this).tagbox('options');
            selectedTags[value] = row[opts.textField];
            return row[opts.textField];
        }else{
            return selectedTags[value];
        }
    }


    $(function () {
        initFileUpload();
        $('#upstreamType').combobox({
            onChange : function (newValue,oldValue) {
                if(newValue == 10){
                    $('#corporate').hide();
                    $('#user').show();
                    $('#corporateInfo').hide();
                    $('#legalPerson').textbox('disableValidation');
                    $('#license').textbox('disableValidation');

                }else{
                    $('#corporate').show();
                    $('#user').hide();
                    $('#corporateInfo').show();
                    $('#legalPerson').textbox('enableValidation');
                    $('#license').textbox('enableValidation');
                }
            }
        });
        let id = $('#id').val();
        let userId = $('#userId').val();

        if(id||userId){
            $.ajax({
                url:'/upStream/listUserByUpstreamId.action',
                data : {upstreamId : $('#id').val(),userId:$('#userId').val()},
                success:function (result) {
                    if(result.success){
                        $.each(result.data, function(index,item){
                            selectedTags[item.id] =item.name+" "+(undefined==item.certificateNumber?"(无证件号)":item.certificateNumber);

                        });
                        $('#userIds').tagbox('setValues',Object.keys(selectedTags));
                    }else{
                        swal('错误',result.message,'error');
                    }
                }
            });
        }

    })

    $('.fileimg-view').on('click', function () {
        let url = $(this).parent().siblings(".magnifying").attr('src');
        if(url){
            layer.open({
                title:'图片',
                type: 1,
                skin: 'layui-layer-rim',
                closeBtn: 2,
                area: ['90%', '90%'], //宽高
                content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
            });
        }
    });

    function initFileUpload(){
        let pFix = '${imageViewPathPrefix}';
        $(":file").fileupload({
            dataType : 'json',
            formData: {type:4,compress:true},
            done : function(e, res) {
                if (res.result.code == 200) {
                    var url = res.result.data;
                    $(this).siblings(".magnifying").attr('src', pFix+"/"+url).show();
                    $(this).siblings("input:hidden").val(url);
                    $(this).siblings('.fileimg-cover,.fileimg-edit').show();
                }
            },
        });
    }

</script>