
<#bodyOrigin>
<div class="main-container">
    <div class="topicTop">
        <div class="toppic-title">
            <span class="topic-title-text maincolor">进场货品登记</span>
            <button class="btn-greyweak btn-sm topic-back-btn" onclick="returnBack()">返回</button>
        </div>
    </div>
    <div class="form-box border">

        <form id="createRecordForm" class="form-inline" role="form">
            <div class="form-item-group">
                <h4 class="form-item-title">基础信息</h4>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>登记来源</label>
                    <select class="form-control input-sm" name="registerSource" id="registerSource" required>
                        <option value="1">理货区</option>
                        <option value="2">交易区</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>理货区号</label>
                    <select class="form-control input-sm" name="tallyAreaNo" id="tallyAreaNo" required>
                        <option>请选择</option>
                        <%if(tradeTypes.~size>0) for(tradeType in tradeTypes){%>
                        <option value="${tradeType.typeId}">${tradeType.typeName}</option>
                        <%}%>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>车牌号</label>
                    <input type="text" class="form-control input-sm" name="plate" id="plate" required />
                </div>
                <div class="form-group" style="display: none;">
                    <label class="label-title text-right">交易账号</label>
                    <input type="text" class="form-control input-sm" name="userId" id="userId" onkeyup="onKeyUpEnter(event)"/>
                </div>
                <div class="form-group" style="display: none;">
                    <label class="label-title text-right">印刷卡号</label>
                    <input type="text" class="form-control input-sm" name="b2" id="printingCard" onkeyup="onKeyUpEnter2(event)"/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>业户姓名</label>
                    <input type="text" class="form-control input-sm" name="name" id="name" required />
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>身份证号</label>
                    <input name="idCardNo" id="idCardNo" type="text" class="form-control input-sm isIdCard0" required />
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>身份证地址</label>
                    <textarea name="addr" id="addr" class="form-control" cols="70" rows="1" maxlength="50" required></textarea>
                </div>
            </div>

            <div class="form-item-group">
                <h4 class="form-item-title">货品信息</h4>
                <button type="button" class="btn-main2 btn-sm" id="addGoodsItem">添加货品</button>
                <div class="table-showlist" style="width: 1200px">
                    <table class="table table-bordered" id="goodsTable">
                        <thead>
                        <tr>
                            <th><span class="red">&lowast;</span>商品名称</th>
                            <th><span class="red">&lowast;</span>产地</th>
                            <th><span class="red">&lowast;</span>商品重量/KG</th>
                            <th>产地证明</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="productName" name="productName" class="form-control input-sm" required />
                                    <input type="text" name="productId" hidden value="123"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="originName" class="form-control input-sm" required />
                                    <input type="text" name="originId" hidden value="333"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="weight" class="form-control input-sm" required />
                                </div>
                            </td>
                            <td>
                                <div class="imageUploadWrap">
                                    <div class="form-group">
                                        <div class="imageUpload rectangle">
                                            <a href="javascript:;" class="edit-zoom">放大</a>
                                            <input type="file" name="image" class="form-control input-sm choose-image" accept="image/*">
                                            <img src="" alt="" class="show-image">
                                            <input type="hidden" name="originCertifiyUrl" value="http://123">
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td><a href="javascript:;" class="split-minus-btn">删除</a></td>
                        </tr>
                    </table>
                    <!-- 表格后的统计 end -->
                </div>
            </div>
            <div class="form-item-group">
                <h4 class="form-item-title">检疫检测报告</h4>
                <div class="imageUploadWrap">
                    <div class="form-group">
                        <div class="imageUpload rectangle">
                            <a href="javascript:;" class="edit-zoom">放大</a>
                            <input type="file" name="image" class="form-control input-sm choose-image" accept="image/*">
                            <img src="" alt="" class="show-image">
                            <input type="hidden" name="originCertifiyUrl" value="http://123">
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <h5 class="mt10 red">操作员：陈良芳</h5>
    <div class="text-center mt30">
        <button class="btn-main2 btn-sm" onclick="create()">提交</button>&nbsp;&nbsp;
        <button class="btn-greyweak btn-sm">取消</button>
    </div>
</div>
<#registerBill_createJs />
</#bodyOrigin>
<script src="/resources/assets/dep/jquery/layer/layer.js"></script>

<script id="goodsItem" type="text/html">
    <tr>
        <td>
            <div class="form-group">
                <input type="text" class="form-control input-sm" name="productName" required />
                <input type="text" name="productId" hidden value="1234"/>
            </div>
        </td>
        <td>
            <div class="form-group">
                <input type="text"   name="originName" class="form-control input-sm" required />
                <input type="text" name="originId" hidden value="32" />
            </div>
        </td>
        <td>
            <div class="form-group">
                <input type="text" class="form-control input-sm" name="weight" required />
            </div>
        </td>
        <td>
            <div class="imageUploadWrap">
                <div class="form-group">
                    <div class="imageUpload rectangle">
                        <a href="javascript:;" class="edit-zoom">放大</a>
                        <input type="file" name="image" class="form-control input-sm choose-image" accept="image/*">
                        <img src="" alt="" class="show-image">
                        <input type="hidden" name="originCertifiyUrl" value="http://123">
                    </div>
                </div>
            </div>
        </td>
        <td><a href="javascript:;" class="split-minus-btn">删除</a></td>
    </tr>

</script>


<script>

    function returnBack(){
        history.go(-1);
    }
    /*   登记来源     */
    $('[name="registerSource"]').on('change', function () {
        if ($(this).val() === '1') {
            $('[name="tallyAreaNo"], [name="plate"]').closest('.form-group').show();
            $('[name="userId"], [name="b2"]').closest('.form-group').hide();
        } else {
            $('[name="tallyAreaNo"], [name="plate"]').closest('.form-group').hide();
            $('[name="userId"], [name="b2"]').closest('.form-group').show();
        }
    })

    /* 货品表格  */
    let goodsItemCount = 0;
    $('.main-container').on('click', '#addGoodsItem', function () {
        $('#goodsTable tbody').append(template('goodsItem', {index: goodsItemCount++}));

        $('input[name="originName"]').autocomplete({
            noCache: 1,
            serviceUrl: '/api/toll/city',  //数据地址
            //lookup: countries,    本地测试模拟数据使用结合上面的var countries
            dataType: 'json',
            onSearchComplete: function (query, suggestions) {
                var originIdNote = $(this).next();
                //console.log("1:"+$(this).data('selectVal')+"2:"+$(this).val());
                if ($(this).data('selectVal') != $(this).val()) {
                    $(originIdNote).val("");
                }
            },
            showNoSuggestionNotice: true,
            noSuggestionNotice: "不存在，请重输！",
            onSelect: function (suggestion) {
                var originIdNote = $(this).next();
                $(this).data('selectVal', suggestion.value);
                setTimeout(function () {
                    $(this).val(suggestion.value);
                    $(originIdNote).val(suggestion.id);
                    //console.log("name:"+$(this).val()+",id:"+$(originIdNote).val())
                }, 50);
            }
        });

        $('input[name="productName"]').autocomplete({
            noCache: 1,
            serviceUrl: '/api/toll/category',  //数据地址
            //lookup: countries,    本地测试模拟数据使用结合上面的var countries
            dataType: 'json',
            onSearchComplete: function (query, suggestions) {
                var categoryIdNote = $(this).next();
                //console.log("1:"+$(this).data('selectVal')+"2:"+$(this).val());
                if ($(this).data('selectVal') != $(this).val()) {
                    $(categoryIdNote).val("");
                }
            },
            showNoSuggestionNotice: true,
            noSuggestionNotice: "不存在，请重输！",
            onSelect: function (suggestion) {
                var categoryIdNote = $(this).next();
                $(this).data('selectVal', suggestion.value);
                setTimeout(function () {
                    $(this).val(suggestion.value);
                    $(categoryIdNote).val(suggestion.id);
                    //console.log("name:"+$(this).val()+",id:"+$(categoryIdNote).val())
                }, 50);
            }
        });

    })
    $('.main-container').on('click', '.split-minus-btn', function () {
        if ($('#goodsTable tr').length > 2) {
            $(this).closest('tr').remove();
        }
    })


    /*  选择图片  */
    $('.main-container').on('change', '.choose-image', function () {
        $('.choose-image').val()
        let filePath = $(this).val()
        if (!filePath || ! /\.(jpg|jpeg|gif|bmp|png)$/i.test(filePath)) {
            $(this).val('')
            $(this).siblings('.show-image').attr('src', '')
            return false;
        } else {
            let src = window.URL.createObjectURL(this.files[0])
            $(this).siblings('.show-image').attr('src', src)
        }
    })
    $('.main-container').on('click', '.imageUploadWrap .edit-zoom', function () {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            closeBtn: 2,
            area: ['90%', '90%'], //宽高
            content: '<p style="text-align:center"><img src="' + $(this).siblings('.show-image').attr('src') + '" alt="" class="show-image-zoom"></p>'
        });
    })


    function onKeyUpEnter(e) {
        if (e.keyCode == 13) {
            customerId();
        }
    }
    function onKeyUpEnter2(e) {
        if (e.keyCode == 13) {
            cardNo();
        }
    }
    function customerId() {
        var customerId = $("#userId").val();
        if(customerId == ""){
            return;
        }
        if (customerId.length > 0) {
            $.ajax({
                type: 'post',
                url: '/api/trade/customer/id/'+customerId,
                dataType: 'json',
                async: false,
                success: function (ret) {
                    if (ret.code == "200") {
                        var customer = ret.data;
                        $("#idCardNo").val(customer.idNo);
                        $("#name").val(customer.name);
                        $("#addr").val(customer.address);
                        $("#printingCard").val(customer.printingCard);
                    } else {

                    }
                }
            });
        }
    }
    function cardNo() {
        var cardNo = $("#printingCard").val();
        if(cardNo == ""){
            return;
        }
        if (cardNo.length > 0) {
            $.ajax({
                type: 'post',
                url: '/api/trade/customer/card/'+cardNo,
                dataType: 'json',
                async: false,
                success: function (ret) {
                    if (ret.code == "200") {
                        var customer = ret.data;
                        $("#idCardNo").val(customer.idNo);
                        $("#name").val(customer.name);
                        $("#addr").val(customer.address);
                        $("#userId").val(customer.customerId);
                    } else {

                    }
                }
            });
        }
    }
    //产地联系输入
    $('input[name="originName"]').autocomplete({
        noCache: 1,
        serviceUrl: '/api/toll/city',  //数据地址
        //lookup: countries,    本地测试模拟数据使用结合上面的var countries
        dataType: 'json',
        onSearchComplete: function (query, suggestions) {
            var originIdNote = $(this).next();
            //console.log("1:"+$(this).data('selectVal')+"2:"+$(this).val());
            if ($(this).data('selectVal') != $(this).val()) {
                $(originIdNote).val("");
            }
        },
        showNoSuggestionNotice: true,
        noSuggestionNotice: "不存在，请重输！",
        onSelect: function (suggestion) {
            var originIdNote = $(this).next();
            $(this).data('selectVal', suggestion.value);
            setTimeout(function () {
                $(this).val(suggestion.value);
                $(originIdNote).val(suggestion.id);
                //console.log("name:"+$(this).val()+",id:"+$(originIdNote).val())
            }, 50);
        }
    });
    $('input[name="productName"]').autocomplete({
        noCache: 1,
        serviceUrl: '/api/toll/category',  //数据地址
        //lookup: countries,    本地测试模拟数据使用结合上面的var countries
        dataType: 'json',
        onSearchComplete: function (query, suggestions) {
            var categoryIdNote = $(this).next();
            //console.log("1:"+$(this).data('selectVal')+"2:"+$(this).val());
            if ($(this).data('selectVal') != $(this).val()) {
             $(categoryIdNote).val("");
            }
        },
        showNoSuggestionNotice: true,
        noSuggestionNotice: "不存在，请重输！",
        onSelect: function (suggestion) {
            var categoryIdNote = $(this).next();
            $(this).data('selectVal', suggestion.value);
            setTimeout(function () {
                $(this).val(suggestion.value);
                $(categoryIdNote).val(suggestion.id);
                //console.log("name:"+$(this).val()+",id:"+$(categoryIdNote).val())
            }, 50);
        }
    });

    var resubmit =0;
    function create(){
        if(resubmit==0){
            resubmit=1;
        }else{
            resubmit=0;
            swal(
                    '错误',
                    '重复提交',
                    'error'
            );
            return;
        }
        if($('#createRecordForm').validate().form() != true){
            return;
        }
        //console.log("参数:"+$('#createRecordForm').serialize());
        var registerBills = new Array();
        $("#goodsTable").find("tbody").find("tr").each(function(){
            var registerBill = new Object();
            registerBill.registerSource=$("#registerSource").val();
            registerBill.tallyAreaNo=$("#tallyAreaNo").val();
            registerBill.plate=$("#plate").val();
            registerBill.userId=$("#userId").val();
            registerBill.name=$("#name").val();
            registerBill.idCardNo=$("#idCardNo").val();
            registerBill.addr=$("#addr").val();

            $(this).find("input").each(function(){
                console.log($(this).attr("name")+":参数:"+$(this).val());
                if($(this).attr("name")=="productName"){
                    registerBill.productName=$(this).val();
                }
                if($(this).attr("name")=="productId"){
                    registerBill.productId=$(this).val();
                }
                if($(this).attr("name")=="originName"){
                    registerBill.originName=$(this).val();
                }
                if($(this).attr("name")=="originId"){
                    registerBill.originId=$(this).val();
                }
                if($(this).attr("name")=="weight"){
                    registerBill.weight=$(this).val();
                }
                if($(this).attr("name")=="originCertifiyUrl"){
                    registerBill.originCertifiyUrl=$(this).val();
                }
            });
            registerBills.push(registerBill);
        });
        $.ajax({
            type: "POST",
            url: "${contextPath}/registerBill/insert.action",
            data :  JSON.stringify(registerBills),
            dataType: "json",
            async : true,
            contentType: "application/json; charset=utf-8",
            success: function (ret) {
                if(ret.success){
                    //TLOG.component.operateLog(TLOG.operates.add, "登记单管理", ret.data, ret.data);
                    location.href = '/registerBill/index.html';
                }else{
                    resubmit=0;
                    swal(
                            '错误',
                            ret.result,
                            'error'
                    );
                }
                saveFlag=false;
            },
            error: function(){
                resubmit=0;
                swal(
                        '错误',
                        '远程访问失败',
                        'error'
                );
                saveFlag=false;
            }
        });
    }

</script>
