
<#bodyOrigin>
    <style>
        .form-inline .table-showlist table .input-sm {
             width: 200px;
        }

    /*a  upload */
    .a-upload {
        padding: 4px 28px;
        position: relative;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
        display: inline-block;
        color: #fff !important;
        background-color: #3370ff;
    }

    .a-upload  input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
    }

    .a-upload:hover {
        color: #444;
        background: #eee;
        border-color: #ccc;
        text-decoration: none
    }
    .es-list { max-height: 220px !important; }
</style>
<div class="main-container">
    <div class="topicTop">
        <div class="toppic-title">
            <span class="topic-title-text maincolor">进场货品登记</span>
            <button class="btn-greyweak btn-sm topic-back-btn" onclick="parent.closeWin('view_win')">返回</button>
        </div>
    </div>
    <div class="form-box border">

        <form id="createRecordForm" class="form-inline" role="form">
            <div class="form-item-group">
                <h4 class="form-item-title">基础信息</h4>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>查询用户</label>
                    <input type="text" class="form-control input-sm" name="queryUser" id="queryUser" tabindex="-1"/>
                </div>
                
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>业户姓名</label>
                    <input type="text" class="form-control input-sm" name="name" id="name" tabindex="-1" required readonly/>
                    <input type="hidden"  name="userId" id="userId" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>身份证号</label>
                    <input name="idCardNo" id="idCardNo" type="text" class="form-control input-sm" tabindex="-1" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>身份证地址</label>
                    <textarea name="addr" id="addr" class="form-control"  rows="1" maxlength="50" tabindex="-1" readonly style="width: 200px;"></textarea>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>业户手机号</label>
                    <input name="phone" id="phone" type="text" class="form-control input-sm" tabindex="-1" readonly/>
                </div>
                <br/>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>车牌号</label>
						 <select  class="form-control input-sm editableSelect isPlate" id = "plate" name="plate" data-options="['a','b']" value="${plate}" required>
						 </select>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>单据类型</label>
						 <select  class="form-control input-sm" id = "billType" name="billType"required>
                             <%for(billtype in billTypes) {%>
                            <option value="${billtype.value}">${billtype.key}</option>    
                            <%}%>
						 </select>

                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>装车类型</label>
						 <select  class="form-control input-sm" id = "truckType" name="truckType"required>
                            <%for(truckType in truckTypes) {%>
                                <option value="${truckType.value}">${truckType.key}</option>    
                                <%}%>
						 </select>

                </div>

                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>商品类型</label>
						 <select  class="form-control input-sm" id = "preserveType" name="preserveType"required>
                            <%for(preserveType in preserveTypes) {%>
                                <option value="${preserveType.value}">${preserveType.key}</option>    
                                <%}%>
						 </select>

                </div>

                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>查询上游</label>
                    <input type="text" class="form-control input-sm" name="queryUpstream" id="queryUpstream" tabindex="-1"/>
                </div>

            </div>

            <div class="form-item-group">
                <h4 class="form-item-title">货品信息</h4>
                <button type="button" class="btn-main2 btn-sm" id="addGoodsItem" style="width: 85px;">添加货品</button>
                <div class="table-showlist" style="width: 1200px">
                    <table class="table table-bordered" id="goodsTable">
                        <thead>
                        <tr>
                            <th><span class="red">&lowast;</span>商品名称</th>
                            <th><span class="red">&lowast;</span>产地</th>
                            <th><span class="red">&lowast;</span>商品重量/KG</th>
                            <th>产地证明</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- 表格后的统计 end -->
                </div>
            </div>
            <div class="form-group">
                <div class="table-showlist" style="width: 1200px">
                 常用产地: <% for(city in citys){%>
                                               <a href="javascript:void(0)" onclick="selectCity(this,${city.addressId},'${city.mergedAddress}')"  title="${city.mergedAddress}">${city.address}</a>
                    <%}%>
                </div>
            </div>
            <div class="form-item-group">
                <h4 class="form-item-title">检测报告</h4>
                <div class="fileimg-box" style="margin-left: 50px;">
                    <span class="fileimg-plus-icon">+</span>
                    <span class="fileimg-des">点击上传</span>
                    <input id="detectReportUrlFile" type="file" name="file" data-url="${contextPath!}/imageController/upload.action" multiple="multipart/form-data"/>
                    <input type="hidden" name="detectReportUrl" id="detectReportUrl">
                    <img class="magnifying">
                    <div class="fileimg-cover" style="display: none;"></div>
                    <div class="fileimg-edit" style="display: none;">
                        <span class="fileimg-view">查看</span>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!--<h5 class="mt10 red">操作员：陈良芳</h5>-->
    <div class="text-center mt30">
        <button class="btn-main2 btn-sm" onclick="create()">提交</button>&nbsp;&nbsp;
        <button class="btn-greyweak btn-sm" onclick="parent.closeWin('view_win')">取消</button>
    </div>
</div>
</#bodyOrigin>
<#registerBill_createJs />
<link rel="stylesheet" type="text/css" href="${contextPath!}/resources/jquery-file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" type="text/css" href="${contextPath!}/resources/css/jquery-editable-select.min.css">
<script src="${contextPath!}/resources/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="${contextPath!}/resources/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="${contextPath!}/resources/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="${contextPath!}/resources/js/jquery-editable-select.min.js"></script>

<script type="text/javascript">
    //初始化控件
   var ed= $('.editableSelect').editableSelect({
        filter: false ,
    });
   appendCachedPlate([],'#plate');
//queryUpstream

        $('#queryUpstream').keydown(function (e){
    	    if(e.keyCode == 13){
    	    	// $(selector).data('keycode',e.keyCode);
    	    	// console.info('keydown')
    	    }
    	});
    	$('#queryUpstream').data('oldvalue','');
    	// $(selector).data('keycode','');
        $('#queryUpstream').on('change',function () {
        	var oldvalue=$('#queryUpstream').data('oldvalue');
        	var val=$(this).val();
        	if(oldvalue!=val){
                $(this).siblings('input').val('');
                $('#userId').val('');
                $('#name').val('');
                $('#idCardNo').val('');
                $('#addr').val('');
                $('#phone').val('');
        	}
        });
        // 产地联系输入
        //listByCondition.action 
        //likeName
        $('#queryUpstream').devbridgeAutocomplete({
            noCache: 1,
            serviceUrl:"${contextPath}/upStream/listByKeyWord.action",  // 数据地址
            // lookup: countries, 本地测试模拟数据使用结合上面的var countries
            dataType: 'json',
            onSearchComplete: function (query, suggestions) {
            	// console.info(2)
            },
            showNoSuggestionNotice: true,
            noSuggestionNotice: "不存在，请重输！",
            autoSelectFirst:true,
            autoFocus: true,
            transformResult: function(response, originalQuery) {
                var data=response.data;
                var suggestions=data.map(function(v,i){
                    return {id:v.id,value:v.name,item:v};
                });
                
                return {"suggestions":suggestions}
            },
            formatResult: function (suggestion, currentValue) {
                var user=suggestion.item;
                return user.name+"|"+user.phone+"|"+user.tallyAreaNos;
            },
            onSelect: function (suggestion) {
                var self = this;
                var idField = $(self).siblings('input');
                idField.val(suggestion.id);
                $(self).val(suggestion.value.trim());

                var user=suggestion.item;
                $('#userId').val(user.id);
                $('#name').val(user.name);
                $('#idCardNo').val(user.cardNo);
                $('#addr').val(user.addr);
                $('#phone').val(user.phone);
                $('#queryUpstream').data('oldvalue',suggestion.value);
                var v=$(self).valid();
            }
        });
    


    	$('#queryUser').keydown(function (e){
    	    if(e.keyCode == 13){
    	    	// $(selector).data('keycode',e.keyCode);
    	    	// console.info('keydown')
    	    }
    	});
    	$('#queryUser').data('oldvalue','');
    	// $(selector).data('keycode','');
        $('#queryUser').on('change',function () {
        	var oldvalue=$('#queryUser').data('oldvalue');
        	var val=$(this).val();
        	if(oldvalue!=val){
                $(this).siblings('input').val('');
                $('#userId').val('');
                $('#name').val('');
                $('#idCardNo').val('');
                $('#addr').val('');
                $('#phone').val('');
        	}
        });
        // 产地联系输入
        //listByCondition.action 
        //likeName
        $('#queryUser').devbridgeAutocomplete({
            noCache: 1,
            serviceUrl:"${contextPath}/user/listByKeyword.action",  // 数据地址
            // lookup: countries, 本地测试模拟数据使用结合上面的var countries
            dataType: 'json',
            onSearchComplete: function (query, suggestions) {
            	// console.info(2)
            },
            showNoSuggestionNotice: true,
            noSuggestionNotice: "不存在，请重输！",
            autoSelectFirst:true,
            autoFocus: true,
            transformResult: function(response, originalQuery) {
                var data=response.data;
                var suggestions=data.map(function(v,i){
                    return {id:v.id,value:v.name,item:v};
                });
                
                return {"suggestions":suggestions}
            },
            formatResult: function (suggestion, currentValue) {
                var user=suggestion.item;
                return user.name+"|"+user.phone+"|"+user.tallyAreaNos;
            },
            onSelect: function (suggestion) {
                var self = this;
                var idField = $(self).siblings('input');
                idField.val(suggestion.id);
                $(self).val(suggestion.value.trim());

                var user=suggestion.item;
                $('#userId').val(user.id);
                $('#name').val(user.name);
                $('#idCardNo').val(user.cardNo);
                $('#addr').val(user.addr);
                $('#phone').val(user.phone);
                $('#queryUser').data('oldvalue',suggestion.value);
                var v=$(self).valid();
            }
        });
    
</script>

<script id="goodsItem" type="text/html">
    <tr>
        <td>
            <div class="form-group">
                <input type="text" class="form-control input-sm isSelected" name="productName_{{index}}" id="productName_{{index}}" required />
                <input type="text" name="productId_{{index}}" hidden value=""/>
            </div>
        </td>
        <td>
            <div class="form-group">
                <input type="text"   name="originName_{{index}}" class="form-control input-sm isSelected originaNameInput" id="originName_{{index}}" required />
                <input type="text" name="originId_{{index}}" hidden value="" />
            </div>
        </td>
        <td>
            <div class="form-group">
                <input type="text" class="form-control input-sm isInt" name="weight_{{index}}" maxlength="6"  range="0 999999" value="0" />
            </div>
        </td>
        <td>
            <div class="upload-div">
                <a href="javascript:;" class="a-upload" tabindex="-1">
                    <input type="file" id="originCertifiyUrl_{{index}}"type="file" name="file" data-url="${contextPath!}/imageController/upload.action" multiple="multipart/form-data">
                    <span>上传</span>
                    <input type="hidden" name="originCertifiyUrl_{{index}}">
                </a>
            </div>
            <div class="view-div" style="display: none;">
                <span>已上传</span>
                <a href="javascript:;" data-index="{{index}}" class="img-view-a">查看图片</a>
                <a href="javascript:$('#originCertifiyUrl_{{index}}').trigger('click')">重新上传</a>
            </div>
        </td>
        <td><a href="javascript:;" class="split-minus-btn">删除</a></td>
    </tr>

</script>
