 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <!--<div id="nav" class="top-pos-box">
                <span><img class="nav-pos-icon" src="${contextPath}/resources/images/pos-icon.png">当前位置:</span>
                <span>登记单管理&nbsp&gt;</span>
                <span><a class="link-text" href="">登记单列表</a></span>
            </div>-->
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="queryForm" class="easyui-form" method="post" fit="true">
                    <div class="search-wrap">

                        <div class="search-item long-item">
                            <input class="easyui-datetimebox" name="billCreatedStart" id="billCreatedStart" style="width:58%" labelAlign="right" data-options="label:'报备时间'" value="${query.billCreatedStart!}"/>
                            <span style="width: 2%;">-</span>
                            <input class="easyui-datetimebox" name="billCreatedEnd" id="billCreatedEnd" style="width:39%;" value="${query.billCreatedEnd!}"/>
                        </div>

                        <div class="search-item long-item">
                            <input class="easyui-datetimebox" name="checkinCreatedStart" id="checkinCreatedStart" style="width:58%" labelAlign="right" data-options="label:'进门时间'" value="${checkinCreatedStart!}"/>
                            <span style="width: 2%;">-</span>
                            <input class="easyui-datetimebox" name="checkinCreatedEnd" id="checkinCreatedEnd" style="width:39%;" value="${checkinCreatedEnd!}"/>
                        </div>



                        <div class="search-item">
                            <input  name="verifyStatus" id="verifyStatus" style="width:100%" labelAlign="right" data-options="label:'审核状态' "  panelWidth="auto" panelHeight="auto"/>
                            <#comboProvider _id="verifyStatus" _provider='billVerifyStatusEnumProvider' _queryParams='{emptyText:"全部"}' />
                        </div>
                        <div class="search-item">
								<div class="search-item">
                            <input type="hidden" name="likeProductName"  id="likeProductName">
                            <input type="hidden" name="productId"  id="productId">
                            <select class="easyui-combobox" name="productCombobox" id="productCombobox" style="width:100%;" labelAlign="right"
                                    data-options="onChange:function(n,o){
                                  	   var text=$('#productCombobox').combotree('getText');
                                	  if(text!=$('#likeProductName').val()){
                                       	$('#likeProductName').val(text);
                                        $('#productId').val('');
                                    }
                                    return true;
                                    },label:'商品',loader:queryProduct,mode: 'remote',valueField:'id' ,textField:'value',prompt:'请输入', panelMinWidth:'55', panelHeight:'auto',panelMaxHeight:'300', 
                                    editable:true,required:false,onSelect:function(record){
                                       console.info('select')
                                $('#likeProductName').val(record.value);
                                $('#productId').val(record.id);
                            }"></select>
                        </div>
                
                
                        </div>

                        <div class="search-item">
                            <input type="hidden" name="_salesCityName" id="_salesCityName">
                            <select class="easyui-combobox" name="originId" id="_salesCityId" style="width:100%;" labelAlign="right"
                                    data-options="label:'产地',loader:cityLoader,mode: 'remote',valueField:'value' ,textField:'text',prompt:'请输入', panelWidth:'auto',panelMinWidth:'175', panelHeight:'auto',panelMaxHeight:'300', editable:true,required:false,validType:'comboBoxEditvalid[\'_salesCityId\']',onSelect:function(record){
                                $('#_salesCityName').val(record.text);
                            }"></select>
                        </div>
                        <div class="search-item" style="width: 200px;">
                            <select class="easyui-combobox" name="isDeleted" id="isDeleted" style="width:100%;" editable="false" panelWidth="auto" panelHeight="auto" data-options="label:'是否已删除'"  labelAlign="right">
                                <option value="">全部</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="likeUserName" id="likeUserName" style="width:100%" labelAlign="right"
                                data-options="label:'业户姓名:'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="likeCode" id="likeCode" style="width:100%" labelAlign="right"
                                data-options="label:'编号:'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="likePlate" id="likePlate" style="width:100%" labelAlign="right"
                                data-options="label:'车牌号:'" />
                        </div>

                        <div class="search-wrap-btn">
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryRegisterBillGrid()">查询</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearQueryForm()">清除</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="登记单列表" id="registerBillGrid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" border="false" 
                   loadMsg="数据加载中..." singleSelect="false" method="post" multiSort="false"  sortName="created" sortOrder="desc"
                   align="center" fit="true" idField="id" selectOnCheck="true" data-options="onBeforeLoad:onBeforeLoad,loader: loadRegisterBillGridData,rowStyler:coloredRowRender, onClickRow:onClickRow,onSelect:onClickRow,onUnselect:onUnselect,onHeaderContextMenu:headerContextMenu,onLoadSuccess:clearGridSelectedAndChecked,onSelectAll:onSelectAll,onUnselectAll:onUnselectAll ">
                <thead>
                    <tr>
                    	<th field="ck" checkbox="true" data-options="field:'ck' "> </th>
                        <th width="10%" data-options="field:'billCreated',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            报备时间
                        </th>
                        <th width="8%" data-options="field:'billCode',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            编号
                        </th>
                        <th width="8%" data-options="field:'billTypeName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            报备单类型
                        </th>
                        <th width="5%" data-options="field:'userName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            业户姓名
                        </th>
                        <th width="5%" data-options="field:'thirdPartyCode',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            业户卡号
                        </th>
                        <th width="5%" data-options="field:'plate',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            车牌
                        </th>
                        <th width="5%" data-options="field:'brandName', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            品牌
                         </th>
                        <th width="5%" data-options="field:'preserveTypeName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            商品类型
                         </th>
                        <th width="5%" data-options="field:'productName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            商品名称
                        </th>
                        <th width="5%" data-options="field:'weight',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            重量
                        </th>
                        <th width="5%" data-options="field:'weightUnitName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            重量单位
                        </th>
                        <th width="5%" data-options="field:'measureTypeName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            计量类型
                        </th>
                        <th width="5%" data-options="field:'pieceNum',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            件数
                        </th>
                        <th width="5%" data-options="field:'pieceWeight',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            件重
                        </th>
                        <th width="10%" data-options="field:'originName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            产地
                        </th>
                        <th width="5%" data-options="field:'verifyStatus',  _provider:'verifyStatusProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                           审核状态
                        </th>
                        <th width="5%" data-options="field:'checkinStatusName',    sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否进门
                         </th>
                         <th width="10%" data-options="field:'checkinCreated',  _provider:'datetimeProvider',    sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            进门时间
                         </th>
                         <th width="5%" data-options="field:'isDeletedName',    sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否删除
                         </th>
                   </tr>
                </thead>
            </table>
        </div>
    </div>
   <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="用户新增" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				iconCls: 'icon-edit',
				height: 450,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdateHandleResult
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="680px">
            <tr>
                <td style="padding:10px;">
                    <div class="fileimg-box"  style="display:inline-block;margin: 5px;padding: 10px;">
                        <span class="fileimg-plus-icon">+</span>
                        <span class="fileimg-des">上传处理结果图片</span>
                        <input type="file" name="file"  data-url="${contextPath!}/action/imageApi/upload" multiple="multipart/form-data" />
                        <img class="magnifying">
                        <input type="hidden" name="_resultUrl">
                        <div class="fileimg-cover" style="display: none;"></div>
                        <div class="fileimg-edit" style="display: none;">
                            <span class="fileimg-view">查看</span>
                            <span class="fileimg-delete">删除</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table width="400px">
            <tr>
                <td style="padding:10px;">
                    <input class="easyui-textbox"  name="_handleResult" id="_handleResult" style="width:100%" data-options="labelWidth:100,label:'处理结果备注*:', validType:'length[2,1000]',required:true,multiline:true,rows:5,height:80" />
                </td>
            </tr>
        </table>
        
    </form>

    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
     <script src="http://base.nong12.com/static/log/log.build.js"></script>
     <link rel="stylesheet" type="text/css" href="${contextPath!}/resources/jquery-file-upload/css/jquery.fileupload.css">
     <script src="${contextPath!}/resources/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
     <script src="${contextPath!}/resources/jquery-file-upload/js/jquery.iframe-transport.js"></script>
     <script src="${contextPath!}/resources/jquery-file-upload/js/jquery.fileupload.js"></script>
     <script src="/resources/assets/dep/jquery/layer/layer.js"></script>
     <#registerBill_indexJs />
     <script>
     
     function multipleSelectOnChange(n,o){
    	
     }
     function formatIsCheckIn(val,row){
        if(val==-1){
            return "否";
        }
        return "是";
    }

    function queryProduct(param,success,error){
  	   var productName=$('#productCombobox').combotree('getText');
  	   var data=[];
  		$.ajax({
  			url:'${contextPath!}/toll/category.action?name='+productName,
  			success:function(resp){
  				data=resp.suggestions.map(function(v,i){v['parentId']='';return v});
  	  			success(data);
  			}
  		})
    }

     </script>
 </#body>