 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <div class="search-wrap">
                        <div class="search-item">
                            <input class="easyui-numberbox" name="code" id="code" style="width:100%" labelAlign="right" data-options="label:'编号:', validType:'length[0,19]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="registerSource" id="registerSource" style="width:100%" labelAlign="right" data-options="label:'1.理货区 2.交易区:', validType:'length[0,3]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="tallyAreaNo" id="tallyAreaNo" style="width:100%" labelAlign="right" data-options="label:'tallyAreaNo:', validType:'length[0,20]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="name" id="name" style="width:100%" labelAlign="right" data-options="label:'业户姓名:', validType:'length[0,50]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="idCardNo" id="idCardNo" style="width:100%" labelAlign="right" data-options="label:'身份证号:', validType:'length[0,20]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="addr" id="addr" style="width:100%" labelAlign="right" data-options="label:'地址:', validType:'length[0,50]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-numberbox" name="tradeNo" id="tradeNo" style="width:100%" labelAlign="right" data-options="label:'tradeNo:', validType:'length[0,19]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-numberbox" name="userId" id="userId" style="width:100%" labelAlign="right" data-options="label:'用户ID:', validType:'length[0,19]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="plate" id="plate" style="width:100%" labelAlign="right" data-options="label:'plate:', validType:'length[0,15]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-numberbox" name="state" id="state" style="width:100%" labelAlign="right" data-options="label:'1.待审核 2.待采样 3.已采样 4.待检测 5.检测中 6.已检测 7.复检中:', validType:'length[0,1]'" 
                                required="true" />                        </div>
                        <div class="search-item">
                            <input class="easyui-numberbox" name="salesType" id="salesType" style="width:100%" labelAlign="right" data-options="label:'1.分销 2.全销:', validType:'length[0,1]'" />                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="productName" id="productName" style="width:100%" labelAlign="right" data-options="label:'productName:', validType:'length[0,20]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-numberbox" name="productId" id="productId" style="width:100%" labelAlign="right" data-options="label:'productId:', validType:'length[0,19]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-numberbox" name="originId" id="originId" style="width:100%" labelAlign="right" data-options="label:'originId:', validType:'length[0,19]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="orininName" id="orininName" style="width:100%" labelAlign="right" data-options="label:'orininName:', validType:'length[0,20]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-numberbox" name="weight" id="weight" style="width:100%" labelAlign="right" data-options="label:'weight:', validType:'length[0,10]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-numberbox" name="detectState" id="detectState" style="width:100%" labelAlign="right" data-options="label:'1.合格 2.不合格 3.复检合格 4.复检不合格:', validType:'length[0,1]'" />                        </div>
                        <div class="search-item">
                            <input class="easyui-numberbox" name="latestDetectRecordId" id="latestDetectRecordId" style="width:100%" labelAlign="right" data-options="label:'latestDetectRecordId:', validType:'length[0,19]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-datetimebox" name="latestDetectTime" id="latestDetectTime" style="width:100%" labelAlign="right" data-options="label:'latestDetectTime:'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="exeMachineNo" id="exeMachineNo" style="width:100%" labelAlign="right" data-options="label:'exeMachineNo:', validType:'length[0,3]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-textbox" name="version" id="version" style="width:100%" labelAlign="right" data-options="label:'version:', validType:'length[0,3]'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-datetimebox" name="created" id="created" style="width:100%" labelAlign="right" data-options="label:'created:'" />
                        </div>
                        <div class="search-item">
                            <input class="easyui-datetimebox" name="modified" id="modified" style="width:100%" labelAlign="right" data-options="label:'modified:'" />
                        </div>
                        <div class="search-wrap-btn">
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="RegisterBill列表" id="grid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="code"
                   align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
                        <th width="4.391304347826087%" data-options="field:'code',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            编号
                        </th>
                        <th width="4.391304347826087%" data-options="field:'registerSource',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            1.理货区 2.交易区
                        </th>
                        <th width="4.391304347826087%" data-options="field:'tallyAreaNo',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            tallyAreaNo
                        </th>
                        <th width="4.391304347826087%" data-options="field:'name',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            业户姓名
                        </th>
                        <th width="4.391304347826087%" data-options="field:'idCardNo',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            身份证号
                        </th>
                        <th width="4.391304347826087%" data-options="field:'addr',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            地址
                        </th>
                        <th width="4.391304347826087%" data-options="field:'tradeNo',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            tradeNo
                        </th>
                        <th width="4.391304347826087%" data-options="field:'userId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            用户ID
                        </th>
                        <th width="4.391304347826087%" data-options="field:'plate',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            plate
                        </th>
                        <th width="4.391304347826087%" data-options="field:'state',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            1.待审核 2.待采样 3.已采样 4.待检测 5.检测中 6.已检测 7.复检中
                        </th>
                        <th width="4.391304347826087%" data-options="field:'salesType',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            1.分销 2.全销
                        </th>
                        <th width="4.391304347826087%" data-options="field:'productName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            productName
                        </th>
                        <th width="4.391304347826087%" data-options="field:'productId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            productId
                        </th>
                        <th width="4.391304347826087%" data-options="field:'originId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            originId
                        </th>
                        <th width="4.391304347826087%" data-options="field:'orininName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            orininName
                        </th>
                        <th width="4.391304347826087%" data-options="field:'weight',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            weight
                        </th>
                        <th width="4.391304347826087%" data-options="field:'detectState',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            1.合格 2.不合格 3.复检合格 4.复检不合格
                        </th>
                        <th width="4.391304347826087%" data-options="field:'latestDetectRecordId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            latestDetectRecordId
                        </th>
                        <th width="4.391304347826087%" data-options="field:'latestDetectTime',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            latestDetectTime
                        </th>
                        <th width="4.391304347826087%" data-options="field:'exeMachineNo',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            exeMachineNo
                        </th>
                        <th width="4.391304347826087%" data-options="field:'version',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            version
                        </th>
                        <th width="4.391304347826087%" data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            created
                        </th>
                        <th width="4.391304347826087%" data-options="field:'modified',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            modified
                        </th>
 // if end                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="RegisterBill信息" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				iconCls: 'icon-save',
				height: 480,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="360px">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_code" id="_code" style="width:100%" data-options="label:'编号:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_registerSource" id="_registerSource" style="width:100%" data-options="label:'1.理货区 2.交易区:', validType:'length[0,3]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_tallyAreaNo" id="_tallyAreaNo" style="width:100%" data-options="label:'tallyAreaNo:', validType:'length[0,20]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_name" id="_name" style="width:100%" data-options="label:'业户姓名:', validType:'length[0,50]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_idCardNo" id="_idCardNo" style="width:100%" data-options="label:'身份证号:', validType:'length[0,20]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_addr" id="_addr" style="width:100%" data-options="label:'地址:', validType:'length[0,50]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_tradeNo" id="_tradeNo" style="width:100%" data-options="label:'tradeNo:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_userId" id="_userId" style="width:100%" data-options="label:'用户ID:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_plate" id="_plate" style="width:100%" data-options="label:'plate:', validType:'length[0,15]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_state" id="_state" style="width:100%" data-options="label:'1.待审核 2.待采样 3.已采样 4.待检测 5.检测中 6.已检测 7.复检中:', validType:'length[0,1]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_salesType" id="_salesType" style="width:100%" data-options="label:'1.分销 2.全销:', validType:'length[0,1]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_productName" id="_productName" style="width:100%" data-options="label:'productName:', validType:'length[0,20]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_productId" id="_productId" style="width:100%" data-options="label:'productId:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_originId" id="_originId" style="width:100%" data-options="label:'originId:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_orininName" id="_orininName" style="width:100%" data-options="label:'orininName:', validType:'length[0,20]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_weight" id="_weight" style="width:100%" data-options="label:'weight:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_detectState" id="_detectState" style="width:100%" data-options="label:'1.合格 2.不合格 3.复检合格 4.复检不合格:', validType:'length[0,1]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_latestDetectRecordId" id="_latestDetectRecordId" style="width:100%" data-options="label:'latestDetectRecordId:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_latestDetectTime" id="_latestDetectTime" style="width:100%" editable="false" data-options="label:'latestDetectTime:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_exeMachineNo" id="_exeMachineNo" style="width:100%" data-options="label:'exeMachineNo:', validType:'length[0,3]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_version" id="_version" style="width:100%" data-options="label:'version:', validType:'length[0,3]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_created" id="_created" style="width:100%" editable="false" data-options="label:'created:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_modified" id="_modified" style="width:100%" editable="false" data-options="label:'modified:'" 
                        required="true" />
                </td>
            </tr>
        </table>
    </form>

    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //打开新增窗口
        function openInsert(){
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            formFocus("_form", "_code");
        }

        //打开修改窗口
        function openUpdate(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                swal('警告','请选中一条数据', 'warning');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            formFocus("_form", "_code");
            var formData = $.extend({},selected);
            formData = addKeyStartWith(getOriginalData(formData),"_");
            $('#_form').form('load', formData);
        }

        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/registerBill/insert.action";
            }else{//有id就修改
                _url = "${contextPath}/registerBill/update.action";
            }
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        swal('错误',data.result, 'error');
                    }
                },
                error: function(){
                    swal('错误', '远程访问失败', 'error');
                }
            });
        }

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                swal('警告','请选中一条数据', 'warning');
                return;
            }
            <#swalConfirm swalTitle="您确认想要删除记录吗？">
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/registerBill/delete.action",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                swal('错误',data.result, 'error');
                            }
                        },
                        error: function(){
                            swal('错误', '远程访问失败', 'error');
                        }
                    });
            </#swalConfirm>
        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/registerBill/listPage.action";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "code", queryGrid);
            bindFormEvent("_form", "_code", saveOrUpdate, function (){$('#dlg').dialog('close');});
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
            var pager = $('#grid').datagrid('getPager');    // get the pager of treegrid
                pager.pagination({
                    <#controls_paginationOpts/>,
                    buttons:[
                    {
                        iconCls:'icon-add',
                        text:'新增',
                        handler:function(){
                            openInsert();
                        }
                    },
                    {
                        iconCls:'icon-edit',
                        text:'修改',
                        handler:function(){
                            openUpdate();
                        }
                    },
                    {
                        iconCls:'icon-remove',
                        text:'删除',
                        handler:function(){
                            del();
                        }
                    },
                    {
                        iconCls:'icon-export',
                        text:'导出',
                        handler:function(){
                            doExport('grid');
                        }
                    }
                ]
            });
            //表格仅显示下边框
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            queryGrid();
        })
    </script>
</#body>