<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    模板变量table信息参见:org.mybatis.generator.api.IntrospectedTable<br/>
    类名首字母小写:registerBill<br/>
    类名:RegisterBill<br/>
    表名:register_bill<br/>
    表注释:<br/>
    实体对象名:RegisterBill<br/>
    列信息:<br/>
    获取指定id列JDBC类型:BIGINT<br/>
    所有列:
        actualColumnName:String:id,
        javaProperty:String:id,
        defaultValue:String:,
        remarks:String:,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:true,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:code,
        javaProperty:String:code,
        defaultValue:String:,
        remarks:String:编号,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:register_source,
        javaProperty:String:registerSource,
        defaultValue:String:,
        remarks:String:1.理货区 2.交易区,
        length:int:3,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TINYINT,
        scale:int:0,
        jdbcTypeName:String:TINYINT,
        jdbcType:int:-6:TINYINT
        ===========================================================================
        actualColumnName:String:tally_area_no,
        javaProperty:String:tallyAreaNo,
        defaultValue:String:,
        remarks:String:,
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:name,
        javaProperty:String:name,
        defaultValue:String:,
        remarks:String:业户姓名,
        length:int:50,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:id_card_no,
        javaProperty:String:idCardNo,
        defaultValue:String:,
        remarks:String:身份证号,
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:addr,
        javaProperty:String:addr,
        defaultValue:String:,
        remarks:String:地址,
        length:int:50,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:trade_no,
        javaProperty:String:tradeNo,
        defaultValue:String:,
        remarks:String:,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:user_id,
        javaProperty:String:userId,
        defaultValue:String:,
        remarks:String:用户ID,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:plate,
        javaProperty:String:plate,
        defaultValue:String:,
        remarks:String:,
        length:int:15,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:state,
        javaProperty:String:state,
        defaultValue:String:,
        remarks:String:1.待审核 2.待采样 3.已采样 4.待检测 5.检测中 6.已检测 7.复检中,
        length:int:0,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIT,
        scale:int:0,
        jdbcTypeName:String:BIT,
        jdbcType:int:-7:BIT
        ===========================================================================
        actualColumnName:String:sales_type,
        javaProperty:String:salesType,
        defaultValue:String:,
        remarks:String:1.分销 2.全销,
        length:int:0,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIT,
        scale:int:0,
        jdbcTypeName:String:BIT,
        jdbcType:int:-7:BIT
        ===========================================================================
        actualColumnName:String:product_name,
        javaProperty:String:productName,
        defaultValue:String:,
        remarks:String:,
        length:int:20,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:product_id,
        javaProperty:String:productId,
        defaultValue:String:,
        remarks:String:,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:origin_id,
        javaProperty:String:originId,
        defaultValue:String:,
        remarks:String:,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:orinin_name,
        javaProperty:String:orininName,
        defaultValue:String:,
        remarks:String:,
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:weight,
        javaProperty:String:weight,
        defaultValue:String:,
        remarks:String:,
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:detect_state,
        javaProperty:String:detectState,
        defaultValue:String:,
        remarks:String:1.合格 2.不合格 3.复检合格 4.复检不合格,
        length:int:0,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIT,
        scale:int:0,
        jdbcTypeName:String:BIT,
        jdbcType:int:-7:BIT
        ===========================================================================
        actualColumnName:String:latest_detect_record_id,
        javaProperty:String:latestDetectRecordId,
        defaultValue:String:,
        remarks:String:,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:latest_detect_time,
        javaProperty:String:latestDetectTime,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:exe_machine_no,
        javaProperty:String:exeMachineNo,
        defaultValue:String:,
        remarks:String:,
        length:int:3,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TINYINT,
        scale:int:0,
        jdbcTypeName:String:TINYINT,
        jdbcType:int:-6:TINYINT
        ===========================================================================
        actualColumnName:String:version,
        javaProperty:String:version,
        defaultValue:String:,
        remarks:String:,
        length:int:3,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TINYINT,
        scale:int:0,
        jdbcTypeName:String:TINYINT,
        jdbcType:int:-6:TINYINT
        ===========================================================================
        actualColumnName:String:created,
        javaProperty:String:created,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:modified,
        javaProperty:String:modified,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
</body>
</html>