 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <!--<div id="nav" class="top-pos-box">
                <span><img class="nav-pos-icon" src="${contextPath}/resources/images/pos-icon.png">当前位置:</span>
                <span>登记单管理&nbsp&gt;</span>
                <span><a class="link-text" href="">登记单列表</a></span>
            </div>-->
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="queryForm" class="easyui-form" method="post" fit="true">
                    <div class="search-wrap">
                        <div class="search-item  long-item">
                            <input  name="registerSource" id="registerSource" style="width:50%" labelAlign="right" data-options="label:'登记来源'"  panelWidth="auto" panelHeight="auto"/>
                            <#comboProvider _id="registerSource" _provider='registerSourceProvider' _queryParams='{emptyText:"全部"}' />
                            
                            <input  name="tradeTypeId" id="tradeTypeId" style="width:33%" labelAlign="right" data-options=""  panelWidth="auto" panelHeight="auto" disabled="disabled"/>
                            <#comboProvider _id="tradeTypeId" _provider='tradeTypeProvider' _queryParams='{emptyText:"全部"}' />
                        </div>
                        <div class="search-item">
                            <input  name="detectState" id="detectState" style="width:100%" labelAlign="right" data-options="label:'检测结果'"  panelWidth="auto" panelHeight="auto"/>
                            <#comboProvider _id="detectState" _provider='billDetectStateProvider' _queryParams='{emptyText:"全部"}' />
                        </div>
                         <div class="search-item">
                            <input  name="sampleSource" id="sampleSource" style="width:100%" labelAlign="right" data-options="label:'送检方式'"  panelWidth="auto" panelHeight="auto"/>
                            <#comboProvider _id="sampleSource" _provider='sampleSourceProvider' _queryParams='{emptyText:"全部"}' />
                        </div>
                        
  						<div class="search-item">
	                        <input class="easyui-combotree" name="stateList" id="stateList" style="width: 100%" 
								data-options="
								label:'状态:',
								labelAlign:'right',
								loadFilter:treeLoadFilter,
								_idField:'id', 
								_textField:'name', 
								multiple: true,
								_parentIdField:'parentId',
								editable:false,panelHeight:'auto',panelMaxHeight:400" />
						 </div>	
                        <div class="search-item">
                            <select class="easyui-combobox" name="hasDetectReport" id="hasDetectReport" style="width:100%;" editable="false" panelHeight="auto" data-options="label:'检测报告'"  labelAlign="right">
                        		<option value="">全部</option>
                                <option value="true">有</option>
                                <option value="false">无</option>
                            </select>
                        </div>
                        <div class="search-item">
                            <select class="easyui-combobox" name="hasOriginCertifiy" id="hasOriginCertifiy" style="width:100%;" editable="false" panelHeight="auto" data-options="label:'产地证明'"  labelAlign="right">
                        		<option value="">全部</option>
                                <option value="true">有</option>
                                <option value="false">无</option>
                            </select>
                        </div>
                        
                        <div class="search-item long-item">
                            <input class="easyui-datetimebox" name="createdStart" id="createdStart" style="width:58%" labelAlign="right" data-options="label:'登记时间'" value="${createdStart}!"/>
                            <span style="width: 2%;">-</span>
                            <input class="easyui-datetimebox" name="createdEnd" id="createdEnd" style="width:39%;" value="${createdEnd}!"/>
                        </div>

                        <div class="search-item long-item">
                            <input class="easyui-datetimebox" name="latestDetectTimeTimeStart" id="latestDetectTimeTimeStart" style="width:58%" labelAlign="right" data-options="label:'检测时间'"/>
                            <span style="width: 2%;">-</span>
                            <input class="easyui-datetimebox" name="latestDetectTimeTimeEnd" id="latestDetectTimeTimeEnd" style="width:39%;"/>
                        </div>
                       
						<div class="search-item long-item">
                            <select class="easyui-combobox" name="attr" id="attr" style="width:50%;" editable="false" panelWidth="auto" panelHeight="auto" data-options="label:'关键字'"  labelAlign="right">
                                <option value="tallyAreaNo" selected="selected">理货区号</option>
                                <option value="name">业户姓名</option>
                                <option value="productName">商品名称</option>
                                <option value="likeSampleCode">采样单编号</option>
                            </select>
                            <input class="easyui-textbox" id="attrValue" name="attrValue" data-options="iconCls:'icon-search', validType:'length[0,25]'" style="width:40%;">
                        </div>

                     
                        <div class="search-wrap-btn">
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryRegisterBillGrid()">统计</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearQueryForm()">清除</a>
                        </div>
                         <br/>
                         
                        <div class="search-item" style="width: 14%">
                            <input class="easyui-textbox statics" id="hasOriginCertifiyNum" style="width:100%" labelAlign="right" data-options="label:'有产地证明:'" value="0条" readonly="readonly" disabled="disabled" />
                        </div>
                        <div class="search-item" style="width: 14%">
                            <input class="easyui-textbox statics" id="hasDetectReportNum" style="width:100%" labelAlign="right" data-options="label:'有检测报告:'" value="0条" readonly="readonly" disabled="disabled" />
                        </div>

                        <div class="search-item" style="width: 14%">
                            <input class="easyui-textbox statics" id="passNum" style="width:100%" labelAlign="right" data-options="label:'合格:'" value="0条" readonly="readonly" disabled="disabled" />
                        </div>
                        <div class="search-item" style="width: 14%">
                            <input class="easyui-textbox statics" id="nopassNum" style="width:100%" labelAlign="right" data-options="label:'不合格:'"  value="0条" readonly="readonly" disabled="disabled"/>
                        </div>
                        <div class="search-item" style="width: 14%">
                            <input class="easyui-textbox statics" id="sampleCheckNum" style="width:100%" labelAlign="right" data-options="label:'采样检测:'"  value="0条" readonly="readonly" disabled="disabled" />
                        </div>
                        
                        <div class="search-item" style="width: 14%">
                            <input class="easyui-textbox statics" id="recheckNum" style="width:100%" labelAlign="right" data-options="label:'复检:'"  value="0条" readonly="readonly" disabled="disabled"/>
                        </div>
                        <div class="search-item" style="width: 14%">
                            <input class="easyui-textbox statics" id="autoCheckNum" style="width:100%" labelAlign="right" data-options="label:'主动送检:'" value="0条" readonly="readonly" disabled="disabled" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="检测统计" id="registerBillGrid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" border="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="id" sortOrder="desc"
                   align="center" fit="true" idField="id" data-options="onClickRow:onClickRow,onHeaderContextMenu:headerContextMenu,onLoadSuccess:clearGridSelectedAndChecked">
                <thead>
                    <tr>
                        <th width="9%" data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            登记时间
                        </th>
                        <th width="9%" data-options="field:'code',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            编号
                        </th>
                        <th width="8%" data-options="field:'sampleCode',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            采样编号
                        </th>
                        <th width="5%" data-options="field:'tallyAreaNo',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            理货区号
                        </th>
                        <th width="5%" data-options="field:'tradeTypeName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            交易区号
                        </th>
                        <th width="5%" data-options="field:'tradeAccount',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            交易账号
                        </th>
                        <th width="6%" data-options="field:'name',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            业户姓名
                        </th>
                        <th width="7%" data-options="field:'plate',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            车牌
                        </th>
                        <!--<th width="8%" data-options="field:'idCardNo',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            身份证号
                        </th>-->
                        <th width="8%" data-options="field:'productName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            商品名称
                        </th>
                        <!--th width="4%" data-options="field:'weight',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            重量/KG
                        </th>
                        <<th width="10%" data-options="field:'addr',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            地址
                        </th>-->
                        <!--<th width="6%" data-options="field:'tradeNo',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            交易单号
                        </th>-->
                        <th width="6%" data-options="field:'originName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            产地
                        </th>

                        <th width="4%" data-options="field:'state',  _provider:'registerBillStateProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            状态
                        </th>


                        <th width="9%" data-options="field:'latestDetectTime',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            检测时间
                        </th>



                        <th width="5%" data-options="field:'detectState',  _provider:'billDetectStateProvider' , sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                           检测结果
                        </th>
                        <th width="6%" data-options="field:'latestPdResult' , sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                           检测值
                        </th>
                        <th width="5%" data-options="field:'latestDetectOperator',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            检测员
                        </th>


                        <!--<th width="5%" data-options="field:'exeMachineNo',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            exeMachineNo
                        </th>-->


                   </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- 隐藏编辑框 -->

    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
     <script src="/resources/assets/dep/jquery/layer/layer.js"></script>
     <script src="http://base.nong12.com/static/log/log.build.js"></script>
   <script type="text/javascript">
   $.fn.serializeObject = function()
   {
       var o = {};
       var a = this.serializeArray();
       $.each(a, function() {
           if (o[this.name] !== undefined) {
               if (!o[this.name].push) {
                   o[this.name] = [o[this.name]];
               }
               o[this.name].push(this.value || '');
           } else {
               o[this.name] = this.value || '';
           }
       });
       return o;
   };

   $('#state').combobox({
       multiple: true,
       editable: false,
       formatter: function (row) { // formatter方法就是实现了在每个下拉选项前面增加checkbox框的方法
    	   var opts = $(this).combobox('options');

           return '<input type="checkbox" class="combobox-checkbox">' + row[opts.textField]

       },
       onLoadSuccess: function () { // 下拉框数据加载成功调用
           // 正常情况下是默认选中“所有”，但我想实现点击所有全选功能，这这样会冲突，暂时默认都不选
           $("#state").combobox('clear'); //清空
/*
            var opts = $(this).combobox('options');
            var values =$(this).combobox('getValues');
            $.map(opts.data, function (opt) {
                if (opt.id === '') { // 将"所有"的复选框勾选
                    $('#'+opt.domId + ' input[type="checkbox"]').prop("checked", true);
                }
            });*/
       },
       onSelect: function (row) {
    	   var opts = $(this).combobox('options');
    	   var trigger=$(this)._propAttr('trigger');
    	   var values = $(this).combobox('getValues');
    	   var datas = $(this).combobox('getData');
    	   
       
          var text=row[opts.textField];
       	   if(typeof(trigger)=='undefined'||trigger!='全部'){
           	   $(this)._propAttr('trigger',text);
         	   var textList=[];
           	   var valueList=[];
	           	for (var i = 0; i < datas.length; i++) {
	           		var data=datas[i];
	           	    var el = opts.finder.getEl(this, data[opts.valueField]);
	                el.find('input.combobox-checkbox')._propAttr('checked', true);
	            	$(this).combobox('select',data[opts.valueField]);
	           		valueList.push(data[opts.valueField]);
	           		textList.push(data[opts.textField]);
	            }
	           
	           //	$(this).combobox('setValues',valueList);
	        //	$(this).combobox('setText',textList.join(','));
	        setTimeout(function(){
	        	
	        	$("#state").combobox('setText','全部,待审核,待采样,待检测,检测中,已检测');
	        },100)
	        	
	        	console.info(textList.join(','))
           }else{
        	  console.info(values)
        	   console.info(1)
        	   //
           }
       //	$(this).combobox('setText','全部,待审核,待采样,待检测,检测中,已检测');
       	
           //debugger
           
       },

       onUnselect: function (row) {
    	   var opts = $(this).combobox('options');
           var el = opts.finder.getEl(this, row[opts.valueField]);
           //el.find('input.combobox-checkbox')._propAttr('checked', false);
           //console.info('onUnselect')

       }
   });
    //表格查询
    function queryRegisterBillGrid() {
        var opts = _registerBillGrid.datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/registerBill/listStaticsPage.action";
        }

        if(!$('#queryForm').form("validate")){
            return false;
        }
        _registerBillGrid.datagrid("load", bindGridMeta2Form("registerBillGrid", "queryForm"));
   		var jsonObj = $("#queryForm").serializeObject();  //json对象
        $.ajax({
            type: 'post',
            url: "${contextPath}/registerBill/listStaticsData.action",
            dataType: 'json',
            data:jsonObj,
            async: false,
            success: function (ret) {
                if (ret.code == "200") {
                    var data = ret.data;
                    $.each($('.statics'),function(){
                    	var staticsId=$(this).attr('id');
                    	var defaultValue='0条';
                    	if(data&&data[staticsId]){
                 			defaultValue=data[staticsId]+"条";
                 		}
                    	$(this).textbox('setValue',defaultValue);
                    })

                } else {

                }
            }
        });
    }


    //清空表单
    function clearQueryForm() {
        $('#queryForm').form('clear');
    }

    //表格表头右键菜单
    function headerContextMenu(e, field){
        e.preventDefault();
        if (!cmenu){
            createColumnMenu("registerBillGrid");
        }
        cmenu.menu('show', {
            left:e.pageX,
            top:e.pageY
        });
    }

    /**
     * 绑定页面回车事件，以及初始化页面时的光标定位
     * @formId
     *          表单ID
     * @elementName
     *          光标定位在指点表单元素的name属性的值
     * @submitFun
     *          表单提交需执行的任务
     */
    $(function () {
        window._registerBillGrid = $('#registerBillGrid');
        bindFormEvent("queryForm", "createdStart", queryRegisterBillGrid);
        initRegisterBillGrid();
        queryRegisterBillGrid();
    })


    /**
     * 初始化用户列表组件
     */
    function initRegisterBillGrid() {
        var pager = _registerBillGrid.datagrid('getPager');
        var toolbar= [
        	
       	 <#resource method="post" url="registerBill/statics.html#detail">
             {
                    iconCls:'icon-detail',
                    text:'查看',
                    id:'detail',
                    handler:function(){
                        doDetail();
                    }
            },
            </#resource>
            <#resource method="post" url="registerBill/statics.html#export">
            {
                iconCls:'icon-export',
                text:'导出',
                handler:function(){
               	 layer.confirm('确认导出数据?', {
                        type: 0,
                        title: '提示',
                        btn: ['确定','取消'],
                        yes:function(){
                       	 layer.closeAll();
                       	 doExport('registerBillGrid');
                       	
                        }
                    });
                }
            },
        </#resource>

   ]

        _registerBillGrid.datagrid({
            toolbar:toolbar
        });
     
        pager.pagination({
            <#controls_paginationOpts/>,
                   });
    }

    /**
     * datagrid行点击事件
     * 目前用于来判断 启禁用是否可点
     */
    function onClickRow(index,row) {
        var state = row.$_state;
        var detectState= row.$_detectState;
        
    }

    function blankFormatter(val,row){
        if(!val){
            return "-";
        }
        return val;
    }

    function closeLastWin(id){
        $('#'+id).last().remove();
    }
    function closeWin(id){
        $('#'+id).remove();
        $('#grid').datagrid('reload');
    }
    function openWin(url){
        $('body').append('<iframe id="view_win" name="view_win" src="'+url+'" style="border:0px;width:100%;height:100%;position:fixed;left:0;top:0"></iframe>');
    }
    function doDetail(){
        var selected = _registerBillGrid.datagrid("getSelected");
        if (null == selected) {
            swal({
                title: '警告',
                text: '请选中一条数据',
                type: 'warning',
                width: 300
            });
            return;
        }
        openWin('${contextPath}/registerBill/view/' + selected.id+"/false");
    }
    
    $('#registerSource').combobox({  
          onChange: function (newValue, oldValue) {  
             if(newValue==${@com.dili.trace.glossary.RegisterSourceEnum.TRADE_AREA.getCode()}){
        	  //交易区
        	   $('#tradeTypeId').combobox('setValue','');
               $('#tradeTypeId').combobox('enable')
             }else if(newValue==${@com.dili.trace.glossary.RegisterSourceEnum.TALLY_AREA.getCode()}){
               //理货区
               $('#tradeTypeId').combobox('setValue','');
               $('#tradeTypeId').combobox('disable')
             }else{
               $('#tradeTypeId').combobox('setValue','');
               $('#tradeTypeId').combobox('disable')
             }
          }  
      });
   
	$.ajax({
		url:'${contextPath!}/registerBill/listState.action',
		success:function(resp){
			resp.unshift({id:'',name:'全部'});
			$('#stateList').combotree({data:resp});
		}
	})
	
</script>

 </#body>