<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>地利集团农产品流通安全追溯</title>
    <link rel="stylesheet" href="/resources/assets/etrade/common/main.css">
    <link rel="stylesheet" href="/resources/assets/etrade/common/scan.css">
</head>
<body>
<div class="scan-top">
</div>
<div class="scan-bottom">
    <%if(isNotEmpty(qualityTraceTradeBill)){%>
        <div class="order-num">订单号：${qualityTraceTradeBill.orderId!}</div>
        <div class="scan-detail">
            <div class="buyer-seller">
                <div class="seller">
                    <div>批发市场：寿光地利</div>
                    <div>卖方：${qualityTraceTradeBill.sellerName!}(${qualityTraceTradeBill.sellerAccount!})
                    </div>
                </div>
                <div class="buyer">
                    <div>货品去向</div>
                    <div>买方：${qualityTraceTradeBill.buyerName!}(${qualityTraceTradeBill.buyerAccount!})
                    </div>
                </div>
            </div>
        </div>
        <div class="scan-list-container">
            <div class="table-container">
                <div class="list-title">
                    <span class="pull-left">交易日期：
                        <%if(null!= qualityTraceTradeBill.orderPayDate){%>
                            ${qualityTraceTradeBill.orderPayDate,dateFormat='yyyy-MM-dd'}
                            <%}else{%>
                                -
                            <%}%>
                    </span>
                </div>
                <div class="list-detail">
                    <table>
                        <tbody><tr>
                            <th class="name">商品</th>
                            <th class="count">数量</th>
                            <th class="type">农残留值(%)</th>
                        </tr>
                        <tr>
                            <td>${qualityTraceTradeBill.productName!}</td>
                            <td>
                                <%if(qualityTraceTradeBill.saleUnit == 1){%>
                                    ${qualityTraceTradeBill.netWeight}KG
                                <%}else if(qualityTraceTradeBill.saleUnit == 2){%>
                                    ${qualityTraceTradeBill.pieceQuantity!}件
                                <%}%>
                            </td>
                            <td>
                                <%if( isEmpty(tradeBill) ){%>
                                    0.0(待检测)
                                <%}else if( tradeBill.detectState == 1 || tradeBill.detectState == 3 ){%>
                                    ${tradeBill.detectRecord.pdResult!}(合格)
                                <%}%>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="btm-tips">
                说明：根据国标GB/T5009.199-2003，凡酶抑制率&lt;50% 合格，≥50% 不合格
            </div>
        </div>
    <%}else{%>
        <div class="no-message">查无数据</div>
    <%}%>
</div>
</body>
</html>
<script src="/resources/assets/etrade/js/mui.min.js" charset="utf-8"></script>
<script src="/resources/assets/etrade/js/rem.js" charset="utf-8"></script>
