<#bodyOrigin>
<div class="main-container">
    <div class="topicTop">
        <div class="toppic-title">
            <span class="topic-title-text maincolor">货品信息详情</span>
            <button class="btn-greyweak btn-sm topic-back-btn" onclick="parent.closeWin('view_win')">返回</button>
        </div>
    </div>
    <div class="form-box border">
        <form id="createRecordForm" class="form-inline" role="form">
            <div class="form-item-group">
                <h4 class="form-item-title">基础信息</h4>

                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>登记时间</label>

                    <input class="form-control input-sm" value="<%if(null!= registerBill.created){%>${registerBill.created,dateFormat='yyyy-MM-dd HH:mm:ss'}<%}else{%>-<%}%>" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>登记编号</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.code!}"  readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>操作人</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.operatorName!}"  readonly/>
                </div>
                <br>
                <% if(registerBill.registerSource == 1){ %>
                    <div class="form-group">
                        <label class="label-title text-right">
                            <span class="red">&lowast;</span>理货区号</label>
                        <input type="text" class="form-control input-sm"  value="${registerBill.tallyAreaNo!}" required readonly/>
                    </div>
                <% }else if(registerBill.registerSource == 2){ %>
                    <div class="form-group">
                        <label class="label-title text-right">
                            <span class="red">&lowast;</span>交易区号</label>
                        <input type="text" class="form-control input-sm"  value="${registerBill.tradeTypeId!}" required readonly/>
                    </div>
                <% } %>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>业户姓名</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.name!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>身份证号</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.idCardNo}" required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>身份证地址</label>
                    <textarea name="addr" id="addr" class="form-control" cols="70" rows="1" required readonly>${registerBill.addr!}</textarea>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>车牌号</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.plate}" required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>商品名称</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.productName}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>产地</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.originName}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>重量/KG</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.weight}" required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>状态</label>
                    <input type="text" class="form-control input-sm"value="${registerBill.stateName}" required readonly/>
                </div>
                <% if(registerBill.registerSource == 2){ %>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>交易账号</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.tradeAccount!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>印刷卡号</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.tradePrintingCard!}" required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>业户手机号</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.phone!}" required readonly/>
                </div>
                <% } %>
            </div>
            <div class="form-item-group">
                <h4 class="form-item-title">检测信息</h4>

                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测时间</label>
                    <input class="form-control input-sm" value="${registerBill.latestDetectTime,dateFormat='yyyy-MM-dd HH:mm:ss'}" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测结果</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.detectStateName}" required readonly/>
                </div>
                <%
                var detectRecord = registerBill.detectRecord;
                %>

                <div class="form-group" >
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测数值</label>
                    <input type="text" class="form-control input-sm"   value="${registerBill.detectRecord.pdResult!}" readonly/>
                </div>
                <br>
                <div class="form-group" >
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测人员</label>
                    <input type="text" class="form-control input-sm"   value="${registerBill.detectRecord.detectOperator!}" readonly/>
                </div>

            </div>

            <%if(registerBill.salesType == 2 && isNotEmpty(registerBill.detectState) && (registerBill.detectState == 1 || registerBill.detectState == 3)){%>
                <div class="form-item-group">
                    <h4 class="form-item-title">溯源二维码</h4>
                    <div class="imageUploadWrap">
                        <div class="form-group">
                            <div class="imageUpload rectangle">
                                <img id="registerBillQRCode"  alt="" class="show-image">
                                <#imgQR selector="registerBillQRCode" width="300" height="300" qrUrl="http://trace.nong12.com/registerBill/registerBillQRCode.html?id=${registerBill.id!}"/>
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>
            <%
            var separateSalesRecords = registerBill.separateSalesRecords;
            if(isNotEmpty(separateSalesRecords) && separateSalesRecords.~size>0){%>
            <div class="form-item-group">
                <h4 class="form-item-title">分销信息</h4>
                <div class="table-showlist" style="width: 1200px">
                    <table class="table table-bordered" id="goodsTable">
                        <thead>
                        <tr>
                            <th><span class="red">&lowast;</span>分销客户</th>
                            <th><span class="red">&lowast;</span>分销地</th>
                            <th><span class="red">&lowast;</span>分销重量/KG</th>

                            <th>溯源二维码</th>
                        </tr>
                        </thead>
                        <%for(record in separateSalesRecords){
                        %>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" value="${record.salesUserName!}" required readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text"  class="form-control input-sm" value="${record.salesCityName!}" required readonly />
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" name="weight" class="form-control input-sm" value="${record.salesWeight}" required readonly/>
                                </div>
                            </td>

                            <td>
                                <div class="imageUploadWrap">
                                    <div class="form-group">
                                        <div class="imageUpload rectangle">
                                            <img id="separateSalesRecordQR${recordLP.index}" alt="" class="show-image">
                                            <#imgQR selector="separateSalesRecordQR${recordLP.index}" width="300" height="300" qrUrl="http://trace.nong12.com/registerBill/separateSalesRecordQRCode.html?id=${record.id!}"/>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <%}
                        %>
                    </table>
                    <!-- 表格后的统计 end -->
                </div>
            </div>
            <%}%>
            <%%>
            <div class="form-item-group">
                <div class="imageUploadWrap">
                    <div class="form-group">
                        <label class="label-title text-right"><span class="red">&lowast;</span>产地证明</label>
                        <div class="imageUpload rectangle">
                            <img <% if(isNotEmpty(registerBill.originCertifiyUrl)){ %>src="http://trace.nong12.com/${registerBill.originCertifiyUrl!}"<% } %> alt="产地证明" class="show-image">
                        </div>
                    </div>
                    &nbsp;&nbsp;
                    <div class="form-group">
                        <label class="label-title text-right"><span class="red">&lowast;</span>检测报告</label>
                        <div class="imageUpload rectangle">
                            <img <% if(isNotEmpty(registerBill.detectReportUrl)){ %>src="http://trace.nong12.com/${registerBill.detectReportUrl!}"<% } %> alt="检测报告" class="show-image">
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="form-item-group">
                <h4 class="form-item-title">检测报告</h4>
                <div class="imageUploadWrap">
                    <div class="form-group">
                        <div class="imageUpload rectangle">
                            <a href="javascript:;" class="edit-zoom">放大</a>
                            <img src="${contextPath!}${registerBill.detectReportUrl!}" alt="" class="show-image">
                        </div>
                    </div>
                </div>
            </div>-->
 		<%if(registerBill.detectState == 4&&isNotEmpty(registerBill.handleResultUrl) &&isNotEmpty(registerBill.handleResult)){%>
                <div class="form-item-group">
					<div class="imageUploadWrap">
	                    <div class="form-group">
	                        <label class="label-title text-right"><span class="red">&lowast;</span>处理结果图片</label>
	                        <div class="imageUpload rectangle">
	                            <img <% if(isNotEmpty(registerBill.handleResultUrl)){ %>src="${contextPath!}${registerBill.handleResultUrl!}"<% } %> alt="产地证明" class="show-image">
	                        </div>
	                    </div>
	                    
		                 <div class="form-group">
		                    <label class="label-title text-right"><span class="red">&lowast;</span>处理结果备注</label>
		                    <input type="text" class="form-control input-sm"  value="${registerBill.handleResult}" required readonly/>
	                	 </div>
	                </div>
                </div>
               
            <%}%>
        </form>
    </div>

</div>
</#bodyOrigin>


<script>

    $('.imageUpload').on('click', function () {
        var url = $(this).find("img").attr('src');
        layer.open({
            title:'图片',
            type: 1,
            skin: 'layui-layer-rim',
            closeBtn: 2,
            area: ['50%', '50%'], //宽高
            content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
        });
    });
    /*$('.main-container').on('click', '.imageUploadWrap .edit-zoom', function () {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            closeBtn: 2,
            area: ['90%', '90%'], //宽高
            content: '<p style="text-align:center"><img src="' + $(this).siblings('.show-image').attr('src') + '" alt="" class="show-image-zoom"></p>'
        });
    })*/
    function returnBack(){
        history.go(-1);
    }
</script>
