<#bodyOrigin>
<div class="main-container">
    <div class="topicTop">
        <div class="toppic-title">
            <span class="topic-title-text maincolor">货品信息详情</span>
            <button class="btn-greyweak btn-sm topic-back-btn" onclick="parent.closeWin('view_win')">返回</button>
        </div>
    </div>
    <div class="form-box border">
        <form id="createRecordForm" class="form-inline" role="form">
            <div class="form-item-group">
                <h4 class="form-item-title">基础信息</h4>

                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>登记时间</label>

                    <input class="form-control input-sm" value="<%if(null!= registerBill.created){%>${registerBill.created,dateFormat='yyyy-MM-dd HH:mm:ss'}<%}else{%>-<%}%>" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>登记编号</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.code!}"  readonly/>
                </div>

                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>业户姓名</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.name!}" required readonly/>
                </div>
               
                <br>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>身份证地址</label>
                    <textarea name="addr" id="addr" class="form-control" cols="82" rows="1" required readonly>${registerBill.addr!}</textarea>
                </div>
                               <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>车牌号</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.plate}" required readonly/>
                </div>

                <br>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>商品名称</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.productName}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>产地</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.originName}" required readonly/>
                </div>
                
                 <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>重量/${weightUnitName!}</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.weight}" required readonly/>
                </div>
                 
                <br>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>操作人</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.operatorName!}"  readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>审核状态</label>
                    <input type="text" class="form-control input-sm"value="${registerBill.verifyStatusName}" required readonly/>
                </div>
                
          		<br/>
                <% if(upStream!=null){ %>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>上游</label>
                    <input type="text" class="form-control input-sm" value="${upStream.name!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>上游类型</label>
                    <input type="text" class="form-control input-sm" value="${upStreamTypeMap[upStream.upstreamType]!}" required readonly/>
                </div>
               
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>上游联系方式</label>
                    <input type="text" class="form-control input-sm" value="${upStream.telphone!}" required readonly/>
                </div>
                <% } %>
            </div>
            
  
	      <% for(imageCert in imageList){%>
	      		<div class="form-item-group" style="float:left; display:inline;width:180px">
	            		<h4 class="form-item-title">${imageCert.certTypeName}</h4>
	                   <div class="fileimg-box"  style="margin: 5px;width:120px;">
	                 		<img class="magnifying show-image"   style="width: 100%" src="${contextPath!}${imageCert.url}" >
					    </div>
	            </div>
	           <%if(imageCertLP.index%5==0){%>
	      		<div class="form-item-group" style="float:left; display:inline;width:100%;marging:0px;padding:0px;">
	            </div>
				<%}%>
	      <%}%>
            
 
            
        </form>
    </div>

</div>
</#bodyOrigin>
<style>
.layui-layer-btn0{
border:1px solid #dedede!important;
background-color:#f1f1f1!important;
color:#333!important;
}

</style>
<script type="text/javascript" src="${contextPath!}/resources/js/jquery.rotate.js"></script>
<script>

	function rotateImg(angle){
		$('#showedImg').rotate($('#showedImg').getRotateAngle()[0]+angle);
	}
    $('.show-image').on('click', function () {
    	debugger;
        var url = $(this).attr('src');
       // url='http://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/241f95cad1c8a786d814d6eb6709c93d70cf501c.jpg'
        if(url){
            layer.open({
                title:'图片',
                type: 1,
                skin: 'layui-layer-rim',
               // closeBtn: 2,
                btn:["顺时针旋转","逆时针旋转"],
                btnAlign: 'c',
                area: ['90%', '90%'], //宽高
                content: '<div id="cropContainer" style="text-align:center"><img id="showedImg"   src="' + url + '" alt="" class="show-image-zoom"></div>'
            ,btn1:function(){
            	rotateImg(90);
            	return false;
            },btn2:function(){
            	rotateImg(-90);
            	return false;
            }});
        }
    });
    /*$('.imageUpload,.show-img').on('click', function () {
        var url = $(this).find("img").attr('src');
        if(url){
            layer.open({
                title:'图片',
                type: 1,
                skin: 'layui-layer-rim',
                closeBtn: 2,
                area: ['90%', '90%'], //宽高
                content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
            });
        }
    });*/

    $('.ssr-view').on('click', function () {
        let tradeId = $(this).attr('data-trade-id');
        layer.open({
            type: 2,
            area: ['820px', '450px'],
            title: '分销记录',
            scrollbar: true,
            content: ['/registerBill/tradeBillSsRecord/'+tradeId], //iframe的url
            yes: function (index, layero) {
            }
        });
    });
</script>
