<#bs4Body>
<#vueElm />
<script src="${contextPath}/resources/design/extends/vue-ele-form-image-uploader/dist/vue-ele-form-image-uploader.umd.min.js"></script>
<style>
    .el-input-group__append .el-select .el-input {
        width: 130px;
    }
    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }
</style>
<div id="app">
    <ele-form
            v-bind="formConfig"
            v-model="formData"
            :request-fn="handleRequest"
    >
        <template v-slot:weight="{ desc, data, field, formData }">
            <el-input placeholder="请输入内容" v-model="formData.weight" class="input-with-select">
                <el-select v-model="formData.weightUnit" slot="append" placeholder="请选择">
                    <el-option label="斤" value="1"></el-option>
                    <el-option label="公斤" value="2"></el-option>
                </el-select>
            </el-input>
        </template>
        <template v-slot:pieceweight="{ desc, data, field, formData }">
            <el-input placeholder="请输入内容" v-model="formData.pieceweight" class="input-with-select">
                <el-select v-model="formData.pieceweightUnit" slot="append" placeholder="请选择">
                    <el-option label="斤" value="1"></el-option>
                    <el-option label="公斤" value="2"></el-option>
                </el-select>
            </el-input>
        </template>
    </ele-form>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data() {
            return {
                registerHeadCodeTemp: [],
                weightUnit: "",
                pieceweightUnit: "",
                formData: {
                    total: 0,
                    measureType: 20,
                    registType: 10,
                    userId: "",
                    registerHeadCode: "",
                    arrivalTallynos: "",
                    plateList: [],
                    truckType: 20
                },
                formConfig: {
                    formDesc: {
                        registType: {
                            isOptions: true,
                            options: loadProvider({provider: 'registTypeProvider', queryParams: {required: true}}),
                            type: "select",
                            label: "单据类型",
                            attrs: {}
                        },
                        userId: {
                            type: "select",
                            label: "卖家姓名",
                            prop: {text: 'text', value: 'id'},
                            attrs: {
                                filterable: true,
                                remote: true,
                                // 相对于官方，增加了一个 callback 参数
                                remoteMethod(query, callback) {
                                    axios.post('/customer/listSeller.action', {'keyword': query})
                                        .then((res) => {
                                            const data = $.map(res.data.data, function (obj) {
                                                let cardNo = obj.tradePrintingCard;
                                                obj.text = obj.name + ' | ' + obj.phone + ' | ' + cardNo + ' | ' + obj.marketName
                                                return obj;
                                            });
                                            callback(data);
                                        })
                                        .catch(function (error) {
                                            callback([]);
                                        });
                                }
                            }
                        },
                        arrivalTallynos: {
                            type: "select",
                            label: "到货摊位",
                            optionsLinkageFields: ['userId', 'registerHeadCode'],
                            prop: {text: 'text', value: 'text'},
                            options: async data => {
                                let registerHeadCode = data.registerHeadCode;
                                if (registerHeadCode == undefined || registerHeadCode == '' || registerHeadCode == null) {
                                    const list = await axios.post(
                                        '/leaseOrderRpc/findLease.action',
                                        {customerId: data.userId}
                                    )
                                    return $.map(list.data.data, function (obj) {
                                        return {text: obj};
                                    });
                                } else {
                                    let registerHeadCodeTemp = app.registerHeadCodeTemp;
                                    for (let i = 0; i < registerHeadCodeTemp.length; i++) {
                                        let obj = registerHeadCodeTemp[i];
                                        if (obj.code === registerHeadCode) {
                                            return $.map(obj.arrivalTallynos, function (obj) {
                                                return {text: obj}
                                            });
                                        }
                                    }
                                }

                            },
                            attrs: {
                                filterable: true,
                                multiple: true,
                                allowCreate: true
                            }
                        },
                        registerHeadCode: {
                            type: "select",
                            label: "台账",
                            optionsLinkageFields: ['userId'],
                            prop: {text: 'text', value: 'code'},
                            options: async data => {
                                const list = await axios.post(
                                    '/registerHead/listRegisterHead.action',
                                    {userId: data.userId, minRemainWeight: 0}
                                )
                                app.registerHeadCodeTemp = list.data.data;
                                return $.map(list.data.data, function (obj) {
                                    obj.text = obj.productName + ' | ' + obj.weight + obj.weightUnitName + ' | ' + obj.created;
                                    return obj;
                                });
                            },
                            vif: function (form) {
                                if (form.registType === 30) {
                                    return true;
                                }
                                return false;
                            },
                            attrs: {},
                            on: {
                                change: function (val) {
                                    let registerHeadCodeTemp = app.registerHeadCodeTemp;
                                    for (let i = 0; i < registerHeadCodeTemp.length; i++) {
                                        let obj = registerHeadCodeTemp[i];
                                        if (obj.code === val) {
                                            app.formData.registerHeadWeight = obj.weight;
                                            app.formData.registerHeadRemainWeight = obj.remainWeight;
                                            app.formData.measureType = obj.measureType;
                                            app.formData.truckType = obj.truckType;
                                            app.formData.specName = obj.specName;
                                            app.formData.brandName = obj.brandName;
                                            app.formData.truckTareWeight = obj.truckTareWeight;
                                            app.formData.arrivalDatetime = obj.arrivalDatetime;
                                        }
                                    }
                                }
                            }
                        },
                        registerHeadWeight: {
                            isOptions: true,
                            default: "0",
                            type: "text",
                            label: "主台账重量",
                            vif: function (form) {
                                if (form.registType === 30) {
                                    return true;
                                }
                                return false;
                            },
                            attrs: {}
                        },
                        registerHeadRemainWeight: {
                            isOptions: true,
                            default: "0",
                            type: "text",
                            label: "待进门重量",
                            vif: function (form) {
                                if (form.registType === 30) {
                                    return true;
                                }
                                return false;
                            },
                            attrs: {}
                        },
                        truckType: {
                            isOptions: true,
                            options: [
                                {
                                    text: "是",
                                    value: 20
                                },
                                {
                                    text: "否",
                                    value: 10
                                }
                            ],
                            type: "radio",
                            label: "是否拼车",
                            attrs: {}
                        },
                        plate: {
                            type: "input",
                            label: "车牌号",
                            attrs: {},
                            vif: function (form) {
                                if (form.registType === 30) {
                                    return false;
                                }
                                return true;
                            },
                        },
                        plateList: {
                            type: "select",
                            label: "车牌号",
                            attrs: {},
                            prop: {text: 'text', value: 'text'},
                            optionsLinkageFields: ['registerHeadCode'],
                            options: data => {
                                let registerHeadCodeTemp = app.registerHeadCodeTemp;
                                for (let i = 0; i < registerHeadCodeTemp.length; i++) {
                                    let obj = registerHeadCodeTemp[i];
                                    if (obj.code === data.registerHeadCode) {
                                        return $.map(obj.plateList, function (obj) {
                                            return {text: obj};
                                        });
                                    }
                                }
                                return [];
                            },
                            vif: function (form) {
                                if (form.registType === 30) {
                                    return true;
                                }
                                return false;
                            },
                        },
                        category: {
                            type: "select",
                            label: "商品品类",
                            prop: {text: 'name', value: 'id'},
                            optionsLinkageFields: ['registerHeadCode'],
                            options: data => {
                                if (app != undefined) {
                                    let registerHeadCodeTemp = app.registerHeadCodeTemp;
                                    for (let i = 0; i < registerHeadCodeTemp.length; i++) {
                                        let obj = registerHeadCodeTemp[i];
                                        if (obj.code === data.registerHeadCode) {
                                            return [{name: obj.productName, id: obj.productId}]
                                        }
                                    }
                                }
                                return [];
                            },
                            attrs: {
                                filterable: true,
                                remote: true,
                                // 相对于官方，增加了一个 callback 参数
                                remoteMethod(query, callback) {
                                    axios.post('/category/listCategories.action', {'keyword': query})
                                        .then((res) => {
                                            const data = $.map(res.data.data, function (obj) {
                                                return obj;
                                            });
                                            callback(data);
                                        })
                                        .catch(function (error) {
                                            callback([]);
                                        });
                                }
                            }
                        },
                        measureType: {
                            isOptions: true,
                            options: [
                                {
                                    text: "计重",
                                    value: 20
                                },
                                {
                                    text: "计件",
                                    value: 10
                                }
                            ],
                            type: "radio",
                            label: "计重方式",
                            attrs: {}
                        },
                        weight: {
                            type: "input",
                            label: "商品重量",
                            attrs: {},
                            vif: function (form) {
                                if (form.measureType === 20) {
                                    return true;
                                }
                                return false;
                            },
                        },
                        pieceNum: {
                            layout: 8,
                            type: "number",
                            label: "商品件数",
                            attrs: {},
                            default: 0,
                            on: {
                                change: function (currentValue, oldValue) {
                                    app.formData.total = app.formData.pieceweight * currentValue;
                                }
                            },
                            vif: function (form) {
                                if (form.measureType === 20) {
                                    return false;
                                }
                                return true;
                            },
                        },
                        pieceweight: {
                            layout: 8,
                            type: "number",
                            label: "件重",
                            attrs: {},
                            default: 0,
                            vif: function (form) {
                                if (form.measureType === 20) {
                                    return false;
                                }
                                return true;
                            },
                        },
                        total: {
                            layout: 8,
                            isOptions: true,
                            default: "0",
                            type: "text",
                            label: "合计",
                            attrs: {},
                            vif: function (form) {
                                if (form.measureType === 20) {
                                    return false;
                                }
                                return true;
                            },
                        },
                        specName: {
                            type: "input",
                            label: "商品规格",
                            attrs: {}
                        },
                        brandName: {
                            type: "autocomplete",
                            label: "品牌",
                            rules: [],
                            attrs: {
                                valueKey: "brandName",
                                triggerOnFocus: false,
                                fetchSuggestions: function (queryString, cb) {
                                    axios.post("/brand/listBrands.action", {likeBrandName: queryString})
                                        .then(function (response) {
                                            cb(response.data.data);
                                        })
                                        .catch(function (error) {
                                        });
                                }
                            }
                        },
                        origin: {
                            type: "select",
                            label: "产地",
                            prop: {text: 'name', value: 'id'},
                            optionsLinkageFields: ['registerHeadCode'],
                            options: data => {
                                if (app != undefined) {
                                    let registerHeadCodeTemp = app.registerHeadCodeTemp;
                                    for (let i = 0; i < registerHeadCodeTemp.length; i++) {
                                        let obj = registerHeadCodeTemp[i];
                                        if (obj.code === data.registerHeadCode) {
                                            return [{name: obj.originName, id: obj.originId}]
                                        }
                                    }
                                }
                                return [];
                            },
                            attrs: {
                                filterable: true,
                                remote: true,
                                // 相对于官方，增加了一个 callback 参数
                                remoteMethod(query, callback) {
                                    axios.post('/city/listCities.action', {'keyword': query})
                                        .then((res) => {
                                            const data = $.map(res.data.data, function (obj) {
                                                return obj;
                                            });
                                            callback(data);
                                        })
                                        .catch(function (error) {
                                            callback([]);
                                        });
                                }
                            }
                        },
                        upStreamName: {
                            type: "select",
                            label: "上游企业",
                            prop: {text: 'name', value: 'id'},
                            optionsLinkageFields: ['registerHeadCode'],
                            options: data => {
                                if (app != undefined) {
                                    let registerHeadCodeTemp = app.registerHeadCodeTemp;
                                    for (let i = 0; i < registerHeadCodeTemp.length; i++) {
                                        let obj = registerHeadCodeTemp[i];
                                        if (obj.code === data.registerHeadCode) {
                                            return [{name: obj.upStreamName, id: obj.upStreamId}]
                                        }
                                    }
                                }
                                return [];
                            },
                            attrs: {
                                filterable: true,
                                remote: true,
                                // 相对于官方，增加了一个 callback 参数
                                remoteMethod(query, callback) {
                                    axios.post('/upStream/listByKeyWord.action', {'keyword': query})
                                        .then((res) => {
                                            const data = $.map(res.data.data, function (obj) {
                                                return obj;
                                            });
                                            callback(data);
                                        })
                                        .catch(function (error) {
                                            callback([]);
                                        });
                                }
                            }
                        },
                        truckTareWeight: {
                            type: "input",
                            label: "皮重",
                            attrs: {}
                        },
                        arrivalDatetime: {
                            type: "datetime",
                            label: "到场时间",
                            attrs: {}
                        },
                        key_1616658831013: {
                            type: "image-uploader",
                            label: "上传图片",
                            attrs: {
                                name: "file",
                                multiple: true,
                                action: "/action/imageApi/upload",
                                limit: "10",
                                data: {
                                    type: 1
                                }
                            }
                        },
                    },
                    order: [
                        "registType",
                        "userId",
                        "registerHeadCode",
                        "registerHeadWeight",
                        "registerHeadRemainWeight",
                        "truckType",
                        "plate",
                        "plateList",
                        "category",
                        "measureType",
                        "weight",
                        "pieceNum",
                        "pieceweight",
                        "total",
                        "specName",
                        "brandName",
                        "origin",
                        "upStreamName",
                        "truckTareWeight",
                        "arrivalDatetime",
                        "arrivalTallynos",
                        "key_1616658831013"
                    ]
                }
            };
        },
        methods: {
            handleRequest(data) {
                // ${imageViewPathPrefix}
                console.log(data);
                return Promise.resolve();
            },
            handleRequestSuccess() {
                this.$message.success("发送成功");
            }
        }
    });

    function loadProvider(data) {
        return new Promise((resolve, reject) => {
            axios.post('/convert/list.action', data)
                .then((res) => {
                    resolve(res.data);
                    // console.log(res);
                })
                .catch(function (error) {
                    reject(error);
                    // console.log(error);
                });
        });
    }
</script>
</#bs4Body>
