<#bs4Body>
<div class="container-fluid pb-5" id="app">
    <form id="saveForm" role="form">
        <div class="row row-cols-1">
            <div class="form-group col">
                <label for="">单据类型</label>
                <select id="carTypeId" name="carTypeId" class="form-control"></select>
                <#bcomboProvider _id="carTypeId" _provider="registTypeProvider" _value=""/>
            </div>
            <div class="form-group col">
                <label for="">卖家姓名</label>
            </div>
            <div class="form-group col">
                <label for="">是否拼车</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="" value="">
                        <label class="form-check-label" for="">是</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="" value="" checked>
                        <label class="form-check-label" for="">否</label>
                    </div>
                </div>
            </div>
            <div class="form-group col" id="plateGroupDiv">
                <label for="">车牌号</label>
                <input type="text" class="form-control" id="" name="" value=""/>
            </div>
            <div class="form-group col">
                <label for="">商品品类</label>
                <input type="text"
                       class="form-control input-sm "
                       data-rule-depends="input[name='productName'],input[name='productId']"
                       name="categoryInput" required />
                <input type="hidden" name="productName" required>
                <input type="hidden" name="productId" required>
            </div>
            <div class="form-group col">
                <label for=""></label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="" value="">
                        <label class="form-check-label" for="">计重</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="" value="">
                        <label class="form-check-label" for="">计件</label>
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label for="">商品重量</label>
                <input type="text" class="form-control" id="" name="" value=""/>
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="form-group col">
                <label for="">商品件数</label>
                <input type="text" class="form-control" id="" name="" value=""/>
            </div>
            <div class="form-group col">
                <label for="">件重</label>
                <input type="text" class="form-control" id="" name="" value=""/>
            </div>
            <div class="form-group col">
                <label for="">合计</label>
                <input type="text" class="form-control" id="" name="" value=""/>
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="form-group col">
                <label for="">商品规格</label>
                <input type="text" class="form-control" id="" name="" value=""/>
            </div>
            <div class="form-group col">
                <label for="">品牌</label>
                <input type="text" class="form-control" id="" name="" value=""/>
            </div>
            <div class="form-group col">
                <label for="">产地</label>
                <input type="text" class="form-control" id="" name="" value=""/>
            </div>
            <div class="form-group col">
                <label for="">上游企业</label>
                <input type="text" class="form-control" id="" name="" value=""/>
            </div>
            <div class="form-group col">
                <label for="">皮重</label>
                <input type="text" class="form-control" id="" name="" value=""/>
            </div>
            <div class="form-group col">
                <label for="">到场时间</label>
                <input type="text" class="form-control" id="" name="" value=""/>
            </div>
            <div class="form-group col">
                <label for="">上传证明</label>
                <input type="text" class="form-control" id="" name="" value=""/>
            </div>
        </div>
        <div class="modal-footer-wrap">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-5" id="" >取消</button>
                <button type="button" class="btn btn-primary px-5" id="saveBtn">确认新增</button>
            </div>
        </div>
    </form>
</div>
<#webGlobalConfig/>
<script src="${contextPath!}/resources/assets/dep/jquery/jquery.validate.js"></script>
<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js"></script>
<script src="${contextPath!}/resources/js/WebConfig.js"></script>
<script src="${contextPath!}/resources/js/CategoryController.js"></script>
<script src="${contextPath!}/resources/js/NewRegisterBill.add.js?v=${v}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        jQuery.validator.addMethod("depends", function (t, a) {
            let selector=$(a).data('rule-depends');
            return this.optional(a) || $(a).siblings('input').val()?true:false
        }, "请选择下拉框选项");
        new NewRegisterBillAdd($('#saveForm'),$('#saveBtn'));
    });

    /*lay('.laydatetime').each(function(){
        laydate.render({
            elem: this
            ,type: 'datetime'
            ,trigger: 'click'
        });
    });*/

</script>
</#bs4Body>
