<#bs4Body>
<style>
    .layui-laydate-content>.layui-laydate-list {
        padding-bottom: 0px;
        overflow: hidden;
    }
    .layui-laydate-content>.layui-laydate-list>li{
        width:50%
    }

    .merge-box .scrollbox .merge-list {
        padding-bottom: 5px;
    }

</style>
<div class="container-fluid pb-5" id="app">
    <form id="saveForm" role="form">
        <div class="row row-cols-1">
            <div class="form-group col">
                <label for="">单据类型</label>
                <select id="registType" name="registType" class="form-control" required></select>
                <#bcomboProvider _id="registType" _provider="registTypeProvider" _value=""/>
            </div>
            <div class="form-group col">
                <label for="">卖家姓名</label>
                <input type="text"
                       class="form-control input-sm "
                       data-rule-depends="input[name='name'],input[name='userId']"
                       name="userInput" data-value-type="skip" placeholder="输入卖家姓名/电话/卡号查询" required />
                <input type="hidden" name="userId" id="userId"/>
                <input type="hidden" name="name" id="name"/>
            </div>

            <div class="form-group col" style="display:none">
                <label for="">台账</label>
                <input type="text" class="form-control" data-rule-depends="input[name='registerHeadCode']"
                       data-value-type="skip"
                       name="registerHeadCodeInput"
                       placeholder="输入商品名查询"
                       required/>
                <input type="hidden" class="form-control" minlength="7" maxlength="8" name="registerHeadCode" required/>
            </div>

            <% if (@filedNameRetMap.containsKey('truckType') && @filedNameRetMap.get('truckType').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">是否拼车</label>
                <div>
                    <% if (@filedNameRetMap.get('truckType').getAvailableValueList().contains(@com.dili.trace.enums.TruckTypeEnum.POOL.getStringCode())) { %>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="truckType" value="${@com.dili.trace.enums.TruckTypeEnum.POOL.getCode()}" checked>
                        <label class="form-check-label" for="">是</label>
                    </div>
                    <% } %>
                    <% if (@filedNameRetMap.get('truckType').getAvailableValueList().contains(@com.dili.trace.enums.TruckTypeEnum.FULL.getStringCode())) { %>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="truckType" value="${@com.dili.trace.enums.TruckTypeEnum.FULL.getCode()}" checked>
                        <label class="form-check-label" for="">否</label>
                    </div>
                    <% } %>
                </div>
            </div>
            <% } %>
            <% if (@filedNameRetMap.containsKey('plate') && @filedNameRetMap.get('plate').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col" id="plateGroupDiv">
                <label for="">车牌号</label>
                <% if (@filedNameRetMap.get('plate').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="text" class="form-control isWord" minlength="7" maxlength="8" name="plate" required/>
                <% } else { %>
                <input type="text" class="form-control isWord" minlength="7" maxlength="8" name="plate"/>
                <% } %>
            </div>
            <% } %>
            <div class="form-group col">
                <label for="">商品品类</label>
                <input type="text"
                       class="form-control input-sm "
                       data-rule-depends="input[name='productName'],input[name='productId']"
                       name="categoryInput" data-value-type="skip" required />
                <input type="hidden" name="productName" required />
                <input type="hidden" name="productId" required />
            </div>
            <% if (@filedNameRetMap.containsKey('measureType') && @filedNameRetMap.get('measureType').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">计重方式</label>
                <div>
                    <% if (@filedNameRetMap.get('measureType').getAvailableValueList().contains(@com.dili.trace.enums.MeasureTypeEnum.COUNT_WEIGHT.getStringCode())) { %>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="measureType" value="${@com.dili.trace.enums.MeasureTypeEnum.COUNT_WEIGHT.getCode()}" checked/>
                        <label class="form-check-label" for="">计重</label>
                    </div>
                    <% } %>
                    <% if (@filedNameRetMap.get('measureType').getAvailableValueList().contains(@com.dili.trace.enums.MeasureTypeEnum.COUNT_UNIT.getStringCode())) { %>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="measureType" value="${@com.dili.trace.enums.MeasureTypeEnum.COUNT_UNIT.getCode()}" checked/>
                        <label class="form-check-label" for="">计件</label>
                    </div>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
        <div class="row row-cols-1 d-none" id="countWeightMeasureTypeDiv">
            <div class="form-group col">
                <label for="">商品重量</label>
                <div class="input-group">
                    <input type="number" class="form-control isNaturalNum" min="1" name="weight" required/>
                    <div class="input-group-append">
                        <select name="weightUnit" id="countWeightMeasureTypeSelect" class="form-control"></select>
                        <#bcomboProvider _id='countWeightMeasureTypeSelect' _provider='weightUnitEnumProvider' _queryParams='{emptyText:"全部", required:true}'/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-3" id="countUnitMeasureTypeDiv">
            <div class="form-group col">
                <label for="">商品件数</label>
                <input type="number" class="form-control isNaturalNum" min="1" name="pieceNum" required/>
            </div>
            <div class="form-group col">
                <label for="">件重</label>
                <div class="input-group">
                    <input type="number" class="form-control isNaturalNum" min="1" name="pieceWeight" required/>
                    <div class="input-group-append">
                        <select name="weightUnit" id="countUnitMeasureTypeSelect" class="form-control"></select>
                        <#bcomboProvider _id='countUnitMeasureTypeSelect' _provider='weightUnitEnumProvider' _queryParams='{emptyText:"全部", required:true}'/>
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label for="">合计</label>
                <input type="text" class="form-control" name="weight" readonly/>
            </div>
        </div>
        <div class="row row-cols-1">
            <% if (@filedNameRetMap.containsKey('specName') && @filedNameRetMap.get('specName').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">商品规格</label>
                <% if (@filedNameRetMap.get('specName').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="text" class="form-control" name="specName" maxlength="20" required/>
                <% } else { %>
                <input type="text" class="form-control" name="specName" maxlength="20" />
                <% } %>
            </div>
            <% } %>
            <% if (@filedNameRetMap.containsKey('brandName') && @filedNameRetMap.get('brandName').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) {%>
            <div class="form-group col">
                <label for="">品牌</label>
                <% if (@filedNameRetMap.get('brandName').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="text" class="form-control" name="brandName" maxlength="50" required />
                <% } else { %>
                <input type="text" class="form-control" name="brandName" maxlength="50"/>
                <% } %>
                <input type="hidden" name="brandId"/>
            </div>
            <% } %>

            <% if (@filedNameRetMap.containsKey('upStreamId') && @filedNameRetMap.get('upStreamId').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">产地</label>
                <% if (@filedNameRetMap.get('upStreamId').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="text"
                       class="form-control input-sm "
                       data-rule-depends="input[name='originId'],input[name='originName']"
                       name="originInput" data-value-type="skip" required />
                <% } else { %>
                <input type="text"
                       class="form-control input-sm "
                       data-rule-depends="input[name='originId'],input[name='originName']"
                       name="originInput" data-value-type="skip" />
                <% } %>
                <input type="hidden" name="originId" required />
                <input type="hidden" name="originName" required />
            </div>
            <% } %>



            <% if (@filedNameRetMap.containsKey('upStreamId') && @filedNameRetMap.get('upStreamId').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">上游企业</label>
                <% if (@filedNameRetMap.get('upStreamId').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="text"
                       class="form-control input-sm "
                       data-rule-depends="input[name='upStreamId']"
                       name="upStreamName" data-value-type="skip" required />
                <% } else { %>
                <input type="text"
                       class="form-control input-sm "
                       data-rule-depends="input[name='upStreamId']"
                       name="upStreamName" data-value-type="skip"/>
                <% } %>
                <input type="hidden" class="form-control" minlength="7" maxlength="8" name="upStreamId"/>
            </div>
            <% } %>

            <% if (@filedNameRetMap.containsKey('truckTareWeight') && @filedNameRetMap.get('truckTareWeight').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">皮重</label>
                <% if (@filedNameRetMap.get('truckTareWeight').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="text" class="form-control isNaturalNum"  name="truckTareWeight" maxlength="6"  range="0 999999"  required/>
                <% } else { %>
                <input type="text" class="form-control isNaturalNum"  name="truckTareWeight" maxlength="6"  range="0 999999"/>
                <% } %>
            </div>
            <% } %>

            <% if (@filedNameRetMap.containsKey('arrivalDatetime') && @filedNameRetMap.get('arrivalDatetime').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col" id="arrivalDatetimeDiv">
                <label for="">到场时间</label>
                <% if (@filedNameRetMap.get('arrivalDatetime').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="text" class="form-control laydatetime"  name="arrivalDatetime:hmcustFun" required/>
                <% } else { %>
                <input type="text" class="form-control laydatetime" name="arrivalDatetime:hmcustFun"/>
                <% } %>
            </div>
            <% } %>


            <% if (@filedNameRetMap.containsKey('imageCertList') && @filedNameRetMap.get('imageCertList').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">上传证明</label>
                <% if (@filedNameRetMap.get('imageCertList').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="text" class="form-control" minlength="7" maxlength="8" name="imageCertList" required/>
                <% } else { %>
                <input type="text" class="form-control" minlength="7" maxlength="8" name="imageCertList"/>
                <% } %>
            </div>
            <% } %>
        </div>
        <div class="modal-footer-wrap">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-5" id="cancelBtn" onclick="parent.window['RegisterBillGridObj'].removeAllAndLoadData();">取消</button>
                <button type="button" class="btn btn-primary px-5" id="saveBtn">确认新增</button>
            </div>
        </div>
    </form>
</div>
<#webGlobalConfig/>
<script src="${contextPath!}/resources/assets/dep/jquery/jquery.validate.js"></script>
<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js"></script>
<script src="${contextPath!}/resources/js/WebConfig.js?v=${v}"></script>
<script src="${contextPath!}/resources/js/CategoryController.js"></script>
<script src="${contextPath!}/resources/js/CityController.js"></script>
<script src="${contextPath!}/resources/js/BrandController.js"></script>
<script src="${contextPath!}/resources/js/UpStreamController.js"></script>
<script src="${contextPath!}/resources/js/CustomerController.js?v=${v}"></script>
<script src="${contextPath!}/resources/js/RegisterHeadController.js"></script>
<script src="${contextPath!}/resources/js/NewRegisterBill.add.js?v=${v}"></script>
<script type="text/javascript">
    $(function () {
        jQuery.validator.addMethod("depends", function (t, a) {
            let selector=$(a).data('rule-depends');
            let isAnyEmpty=_.chain($(selector)).map(item=>{return $(item).val();}).any(_.isEmpty).value();
            return !isAnyEmpty;
        }, "请选择下拉框选项");

        function  formatminutes(date) {
            var aa = $(".laydate-time-list li ol")[1];
            var showtime = $($(".laydate-time-list li ol")[1]).find("li");
            for (var i = 0; i < showtime.length; i++) {
                var t00 = showtime[i].innerText;
                if (t00 != "00" && t00 != "20" && t00 != "30" && t00 != "40" && t00 != "50") {
                    showtime[i].remove()
                }
            }
            $($(".laydate-time-list li ol")[2]).find("li").remove();  //清空秒
        }

        lay('.laydatetime').each(function() {
            laydate.render({
                elem: this
                ,type: 'datetime'
                ,format: 'yyyy-MM-dd HH:mm'
                ,trigger: 'click'
                ,ready: formatminutes
            });
        });

        //是否拼车radio事件处理
        $('input[name="truckType"]').on("change", function() {
            let val = $('input[name="truckType"]:checked').val();
            if (val === '${@com.dili.trace.enums.TruckTypeEnum.POOL.getCode()}') {
                $('[name="plate"]').prop('required', true);
            } else {
                $('[name="plate"]').prop('required', false);
            }
        });
        $('input[name="truckType"]').trigger("change");

        //计重方式radio事件处理
        $('input[name="measureType"]').on("change", function() {
            let val = $('input[name="measureType"]:checked').val();
            if (val === '${@com.dili.trace.enums.MeasureTypeEnum.COUNT_WEIGHT.getCode()}') {
                $('#countWeightMeasureTypeDiv').removeClass("d-none");
                $('#countWeightMeasureTypeDiv input').prop("disabled", false).val('');
                $('#countUnitMeasureTypeDiv').addClass("d-none");
                $('#countUnitMeasureTypeDiv input').prop("disabled", true);
            } else {
                $('#countWeightMeasureTypeDiv').addClass("d-none");
                $('#countWeightMeasureTypeDiv input').prop("disabled", true)
                $('#countUnitMeasureTypeDiv').removeClass("d-none");
                $('#countUnitMeasureTypeDiv input').prop("disabled", false).val('');
            }
        });
        $('input[name="measureType"]').trigger("change");

        //件数、件重输入事件处理
        function countTotalWeight() {
            $('input[name="weight"]:not(:disabled)').val('');
            let pieceNum = $('input[name="pieceNum"]').val();
            let pieceWeight = $('input[name="pieceWeight"]').val();
            if (!pieceNum || !pieceWeight) {
                return;
            }
            $('input[name="weight"]').val(parseInt(pieceNum) * parseInt(pieceWeight));
        }
        $('input[name="pieceNum"]').on("input", countTotalWeight);
        $('input[name="pieceWeight"]').on("input", countTotalWeight);

        new NewRegisterBillAdd($('#saveForm'), $('#saveBtn'));
    });

    /*lay('.laydatetime').each(function(){
        laydate.render({
            elem: this
            ,type: 'datetime'
            ,trigger: 'click'
        });
    });*/

</script>
</#bs4Body>
