<#bs4Body>

<div class="container-fluid">
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">

            <div class="form-group col">
                <label for="registType">报备方式</label>
                <select id="registType" name="registType" class="form-control"></select>
                <#bcomboProvider _id="registType" _provider="registTypeProvider" _value="" _onLoadSuccess=""/>
            </div>
            <div class="form-group col">
                <label for="likeProductName">商品</label>
                <input type="hidden" id="productId" name="productId"  class="form-control"/>
                <input id="likeProductName" name="likeProductName" class="form-control" for="productId" />
            </div>
            <% if (@filedNameRetMap.containsKey('originId') && @filedNameRetMap.get('originId').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="originName">产地</label>
                <input type="hidden" id="originId" name="originId"  class="form-control"/>
                <input id="originName" name="originName" class="form-control"   for="originId" />
            </div>
            <% } %>
            <div class="form-group col">
                <label for="detectResultSelect">检测结果</label>
                <select id="detectResultSelect" name="detectResultSelect" class="form-control" data-value-type="skip">
                    <option value='{"detectType":"","detectResult":""}'>-- 请选择 --</option>
                    <option value='{"detectType":"${@com.dili.trace.enums.DetectTypeEnum.INITIAL_CHECK.getCode()}","detectResult":"${@com.dili.trace.enums.DetectResultEnum.PASSED.getCode()}"}'>初检合格</option>
                    <option  value='{"detectType":"${@com.dili.trace.enums.DetectTypeEnum.INITIAL_CHECK.getCode()}","detectResult":"${@com.dili.trace.enums.DetectResultEnum.FAILED.getCode()}"}'>初检不合格</option>
                    <option  value='{"detectType":"${@com.dili.trace.enums.DetectTypeEnum.RECHECK.getCode()}","detectResult":"${@com.dili.trace.enums.DetectResultEnum.PASSED.getCode()}"}'>复检合格</option>
                    <option  value='{"detectType":"${@com.dili.trace.enums.DetectTypeEnum.RECHECK.getCode()}","detectResult":"${@com.dili.trace.enums.DetectResultEnum.FAILED.getCode()}"}'>复检不合格</option>
                </select>
                <input type="hidden" name="detectType"  class="form-control">
                <input type="hidden" name="detectResult"  class="form-control">
            </div>
            <% if (@filedNameRetMap.containsKey('plate') && @filedNameRetMap.get('plate').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="likePlate">车牌号</label>
                <input type="text" class="form-control" name="likePlate" id="likePlate"/>
            </div>
            <% } %>
            <div class="form-group col">
                <label for="verifyStatus">审核状态</label>
                <select id="verifyStatus" name="verifyStatus" class="form-control"></select>
                <#bcomboProvider _id="verifyStatus" _provider="billVerifyStatusEnumProvider" _value="" _onLoadSuccess=""/>
            </div>

            <div class="form-group col">
                <label for="detectStatus">检测状态</label>
                <select id="detectStatus" name="detectStatus" class="form-control"></select>
                <#bcomboProvider _id="detectStatus" _provider="detectStatusProvider" _value="" _onLoadSuccess=""/>
            </div>
            <div class="form-group col">
                <label for="hasDetectReport">检测报告</label>
                <select id="hasDetectReport" name="hasDetectReport" class="form-control">
                    <option value="">--请选择--</option>
                    <option value="1">有</option>
                    <option value="0">无</option>
                </select>
            </div>

            <div class="form-group col">
                <label for="hasOriginCertifiy">产地证明</label>
                <select id="hasOriginCertifiy" name="hasOriginCertifiy" class="form-control">
                    <option value="">--请选择--</option>
                    <option value="1">有</option>
                    <option value="0">无</option>
                </select>
            </div>

            <div class="form-group col">
                <label for="hasHandleResult">处理结果</label>
                <select id="hasHandleResult" name="hasHandleResult" class="form-control">
                    <option value="">--请选择--</option>
                    <option value="1">有</option>
                    <option value="0">无</option>
                </select>
            </div>

            <div class="form-group col">
                <label for="isDeleted">是否已删除</label>
                <select id="isDeleted" name="isDeleted" class="form-control"></select>
                <#bcomboProvider _id="isDeleted" _provider="ynEnumStateProvider" _value="${isDeleted}" _onLoadSuccess=""/>
            </div>

            <div class="form-group col">
                <label for="likeName">业户姓名</label>
                <input type="text" class="form-control" name="likeName" id="likeName"/>
            </div>

            <div class="form-group col">
                <label for="likeCode">登记编号</label>
                <input type="text" class="form-control" name="likeCode" id="likeCode"/>
            </div>
            <div class="form-group col">
                <label for="likePhone">手机号</label>
                <input type="text" class="form-control" name="likePhone" id="likePhone"/>
            </div>
            <div class="form-group col-auto">
                <label for="latestDetectTimeTimeStart">检测时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="latestDetectTimeTimeStart" id="latestDetectTimeTimeStart" class="form-control laydatetime laystart" value="${latestDetectTimeTimeStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="latestDetectTimeTimeStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="latestDetectTimeTimeEnd" id="latestDetectTimeTimeEnd" class="form-control laydatetime layend" value="${latestDetectTimeTimeEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="latestDetectTimeTimeEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-auto">
                <label for="createdStart">报备时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="createdStart" id="createdStart" class="form-control laydatetime laystart" value="${createdStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="createdStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="createdEnd" id="createdEnd" class="form-control laydatetime layend" value="${createdEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="createdEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-auto">
                <label for="checkinCreatedStart">进门时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="checkinCreatedStart" id="checkinCreatedStart" class="form-control laydatetime laystart" value="${checkinCreatedStart!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="checkinCreatedStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input type="text" name="checkinCreatedEnd" id="checkinCreatedEnd" class="form-control laydatetime layend" value="${checkinCreatedEnd!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="checkinCreatedEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-auto align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>
    <hr>
    <div>
        <div id="toolbar" class="btn-group" role="group" aria-label="工具栏">
            <#resource code="newRegisterBill#add">
                <button id="btn_add" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</button>
            </#resource>
            <#resource code="newRegisterBill#edit">
                <button id="edit-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> 修改</button>
            </#resource>
            <#resource code="newRegisterBill#audit">
                <button id="audit-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-id-badge"></i> 报备审核</button>
            </#resource>
            <#resource code="newRegisterBill#batch-audit_hide">
                <button id="batch-audit-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-id-card"></i> 批量审核</button>
            </#resource>
            <#resource code="newRegisterBill#audit-withoutDetect_hide">
                <button id="audit-withoutDetect-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-check-square"></i> 审核不检测</button>
            </#resource>
            <#resource code="newRegisterBill#review_hide">
                <button id="review-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-window-restore"></i> 复检</button>
            </#resource>
            <#resource code="newRegisterBill#auto">
                <button id="auto-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-car"></i> 主动送检</button>
            </#resource>
            <#resource code="newRegisterBill#batch-auto">
                <button id="batch-auto-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-bus"></i> 批量主动送检</button>
            </#resource>
            <#resource code="newRegisterBill#sampling">
                <button id="sampling-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-get-pocket"></i> 采样检测</button>
            </#resource>
            <#resource code="newRegisterBill#batch-sampling">
                <button id="batch-sampling-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-calendar-check-o"></i>批量采样检测</button>
            </#resource>
            <#resource code="newRegisterBill#undo">
                <button id="undo-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-reply"></i>撤销</button>
            </#resource>
            <#resource code="newRegisterBill#batch-undo_hide">
                <button id="batch-undo-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-reply-all"></i>批量撤销</button>
            </#resource>
            <#resource code="newRegisterBill#createsheet">
                <button id="createsheet-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-print"></i>创建打印报告</button>
            </#resource>
            <#resource code="newRegisterBill#upload-handleresult_hide">
                <button id="upload-handleresult-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-upload"></i>上传处理结果</button>
            </#resource>
            <#resource code="newRegisterBill#upload-origincertifiy_hide">
                <button id="upload-origincertifiy-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-upload"></i>上传产地证明</button>
            </#resource>
            <#resource code="newRegisterBill#upload-detectreport_hide">
                <button id="upload-detectreport-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-upload"></i>上传检测报告</button>
            </#resource>
            <#resource code="newRegisterBill#remove-reportAndcertifiy_hide">
                <button id="remove-reportAndcertifiy-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-trash"></i>删除检测报告和产地证明</button>
            </#resource>
            <#resource code="newRegisterBill#copy_hide">
                <button id="copy-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-address-card"></i>补录</button>
            </#resource>
            <#resource code="newRegisterBill#checkin">
                <button id="btn_checkin" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> 进门审核</button>
            </#resource>
            <#resource code="newRegisterBill#update-img">
                <button id="update-img-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-wrench"></i>修改图片</button>
            </#resource>
            <#resource code="newRegisterBill#detail">
                <button id="detail-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-list"></i>查看</button>
            </#resource>
            <#resource code="newRegisterBill#export">
                <button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('registerBillGrid','queryForm')"><i class="fa fa-download"></i> 导出</button>
            </#resource>
        </div>
        <table id="registerBillGrid" data-toggle="table" data-title="进场报备列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="10"
               data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="false"
               data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="b.id" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
               data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true" data-detail-view="false">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="created" data-sortable="true"   data-sort-name="b.created" data-align="center" data-provider="datetimeProvider">
                    报备时间
                </th>
                <th data-field="code" data-sortable="true" data-align="center">
                    报备编号
                </th>
                <th data-field="sampleCode"  data-sort-name="sample_code" data-sortable="true" data-align="center">
                    采样编号
                </th>
                <th data-field="detectStatusName" data-sort-name="detect_status" data-sortable="true" data-align="center" >
                    检测状态
                </th>
                <th data-field="verifyStatusName"  data-sort-name="verify_status" data-sortable="true" data-align="center" >
                    审核状态
                </th>
                <th data-field="registTypeName" data-sort-name="regist_type" data-sortable="true" data-align="center">
                    报备单类型
                </th>

                <th data-field="name" data-sort-name="name" data-sortable="true" data-align="center">
                    业户名称
                </th>
                <th data-field="corporateName" data-sort-name="corporate_name" data-sortable="true" data-align="center">
                    企业名称
                </th>
                <% if (@filedNameRetMap.containsKey('plate') && @filedNameRetMap.get('plate').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <th data-field="plate" data-sortable="true" data-align="center">
                    车牌
                </th>
                <% } %>
                <th data-field="productName" data-sort-name="product_name" data-sortable="true" data-align="center">
                    商品
                </th>
                <% if (@filedNameRetMap.containsKey('brandName') && @filedNameRetMap.get('brandName').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) {%>
                <th data-field="brandName"  data-sort-name="brand_name" data-sortable="true" data-align="center">
                    品牌
                </th>
                <% } %>
                <th data-field="weight" data-sortable="true" data-align="center">
                    重量
                </th>
                <% if (@filedNameRetMap.containsKey('originId') && @filedNameRetMap.get('originId').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <th data-field="originName" data-sort-name="origin_name" data-sortable="true" data-align="center">
                    产地
                </th>
                <% } %>
                <th data-field="hasDetectReportName" data-sort-name="has_detect_report" data-sortable="true" data-align="center">
                    检测报告
                </th>
                <th data-field="hasOriginCertifiyName"  data-sort-name="has_origin_certifiy" data-sortable="true" data-align="center">
                    产地证明
                </th>
                <th data-field="sampleTime" data-sort-name="sample_time" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    采样时间
                </th>
                <th  data-field="isPrintCheckSheetName" data-sort-name="is_print_checksheet" data-sortable="false" data-align="center">
                    打印报告
                </th>
                <th data-field="detectTime"   data-sort-name="detect_time" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    检测时间
                </th>
                <th data-field="detectDesc"  data-sort-name="detect_result" data-sortable="false" data-align="center">
                    检测结果
                </th>
                <th data-field="detectorName" data-sort-name="detector_name" data-sortable="true" data-align="center">
                    检测员
                </th>
                <th data-field="checkInStatusName" data-sort-name="checkin_status" data-sortable="false" data-align="center">
                    是否进门
                </th>
                <th data-field="isDeletedName" data-sort-name="is_deleted" data-sortable="true" data-align="center">
                    是否删除
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</#bs4Body>
<#webGlobalConfig/>

<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js"></script>
<script src="${contextPath!}/resources/js/WebConfig.js"></script>
<script src="${contextPath!}/resources/js/CategoryController.js"></script>
<script src="${contextPath!}/resources/js/CityController.js"></script>
<script src="${contextPath!}/resources/js/NewRegisterBillGrid.index.js?v=${v}"></script>
<script src="${contextPath!}/resources/assets/dep/jquery/laydate/laydate.js"></script>
<script src="${contextPath!}/resources/assets/dep/jquery/layer/layer.js"></script>


<script type="text/javascript">
    lay('.laydatetime').each(function(){
        laydate.render({
            elem: this
            ,type: 'datetime'
            ,trigger: 'click'
        });
    });
    $(function () {
        new NewRegisterBillGrid($('#registerBillGrid'),$('#queryForm'),$('#toolbar'));
    });
</script>


