<#bodyOrigin>
<div class="main-container" style="margin: 0;padding: 0;">

    <div class="form-box border">
        <form id="modifyRegisterBillForm" class="form-inline" role="form">
            <input type="hidden" name="id" value="${registerBill.id}"/>
            <div class="form-item-group">
                <h4 class="form-item-title">基础信息</h4>

                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>登记时间</label>

                    <input class="form-control input-sm" value="<%if(null!= registerBill.created){%>${registerBill.created,dateFormat='yyyy-MM-dd HH:mm:ss'}<%}else{%>-<%}%>" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>登记编号</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.code!}"  readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>操作人</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.operatorName!}"  readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right">${registerBill.registerSourceName!}</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.sourceName!}" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>业户姓名</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.name!}" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>身份证号</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.idCardNo}" readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right">
                        身份证地址</label>
                    <textarea name="addr" id="addr" class="form-control" cols="82" rows="1" readonly>${registerBill.addr!}</textarea>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>车牌号</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.plate}" readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>商品名称</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.productName}" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>产地</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.originName}" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>重量/KG</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.weight}" readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>审核状态</label>
                    <input type="text" class="form-control input-sm"value="${registerBill.verifyStatusName}" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测状态</label>
                    <input type="text" class="form-control input-sm"value="${registerBill.detectStatusName}" readonly/>
                </div>
                <% if(registerBill.registerSource == 2){ %>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>交易账号</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.tradeAccount!}" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right">
                        <span class="red">&lowast;</span>印刷卡号</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.cardNo!}" readonly/>
                </div>
                <% } %>
            </div>
            <% if(registerBill.detectRequest != null) { %>
            <div class="form-item-group">
                <h4 class="form-item-title">检测信息</h4>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测时间</label>
                    <input class="form-control input-sm" value="${registerBill.latestDetectTime,dateFormat='yyyy-MM-dd HH:mm:ss'}" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测类型</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.detectRequest.detectTypeName}" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测结果</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.detectRequest.detectResultName}" readonly/>
                </div>
                <div class="form-group" >
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测数值</label>
                    <input type="text" class="form-control input-sm"   value="${registerBill.latestPdResult!}" readonly/>
                </div>
                <br>
                <div class="form-group" >
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测人员</label>
                    <input type="text" class="form-control input-sm"   value="${registerBill.latestDetectOperator!}" readonly/>
                </div>
            </div>
            <% } %>

            <!-- 原来的判断逻辑：registerBill.detectState == 1 || registerBill.detectState == 3-->
            <%
            if(registerBill.registerSource == 1){
            if( registerBill.salesType == 2 && !isEmpty(registerBill.detectRequest) && (registerBill.detectRequest.detectResult == 1)){
            %>
            <div class="form-item-group">
                <h4 class="form-item-title">溯源二维码</h4>
                <div class="imageUploadWrap">
                    <div class="form-group">
                        <div class="imageUpload rectangle">
                            <img id="registerBillQRCode" alt="" class="show-image">
                            <#imgQR selector="registerBillQRCode" width="300" height="300" qrUrl="${baseWebPath}/registerBill/registerBillQRCode.html?id=${registerBill.id!}"/>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <%
            if(isNotEmpty(separateSalesRecords) && separateSalesRecords.~size>0){%>
            <div class="form-item-group">
                <h4 class="form-item-title">分销信息</h4>
                <div class="table-showlist" style="width: 1200px">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th><span class="red">&lowast;</span>分销客户</th>
                            <th><span class="red">&lowast;</span>分销地</th>
                            <th><span class="red">&lowast;</span>分销重量/KG</th>
                            <th><span class="red">&lowast;</span>车牌号</th>
                            <th>溯源二维码</th>
                        </tr>
                        </thead>
                        <%for(record in separateSalesRecords){
                        %>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" value="${record.salesUserName!}"
                                           required readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" value="${record.salesCityName!}"
                                           required readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" name="weight" class="form-control input-sm"
                                           value="${record.salesWeight}" required readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" name="salesPlate" class="form-control input-sm" value="${record.salesPlate}" required readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="imageUploadWrap">
                                    <div class="form-group">
                                        <div class="imageUpload rectangle">
                                            <img id="separateSalesRecordQR${recordLP.index}" alt="" class="show-image">
                                            <#imgQR selector="separateSalesRecordQR${recordLP.index}" width="300" height="300" qrUrl="http://trace.nong12.com/registerBill/separateSalesRecordQRCode.html?id=${record.id!}"/>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                    </table>
                    <!-- 表格后的统计 end -->
                </div>
            </div>
            <%}
            }else{ %>

            <%
            if(isNotEmpty(qualityTraceTradeBills) && qualityTraceTradeBills.~size>0){
            %>
            <div class="form-item-group">
                <h4 class="form-item-title">交易单</h4>
                <div class="table-showlist" style="width: 1200px">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>交易单号</th>
                            <th>结算时间</th>
                            <th>重量/KG</th>
                            <th>卖家</th>
                            <th>买家</th>
                            <th></th>
                        </tr>
                        </thead>
                        <%
                        for(qttb in qualityTraceTradeBills){
                        %>
                        <tr>
                            <td>${qttb.orderId!}</td>
                            <td>${qttb.orderPayDate,dateFormat='yyyy-MM-dd HH:mm:ss'}</td>
                            <td>${qttb.netWeight!}</td>
                            <td>${qttb.sellerName!}</td>
                            <td>${qttb.buyerName!}</td>
                            <td>
                                <% if(!isEmpty(qttb.salesType)) {
                                if(qttb.salesType == 1){
                                %>
                                <a href="javascript:void(0)" data-trade-id="${qttb.id!}" class="ssr-view">分销记录</a></td>
                            <% }else{ %>
                            <a href="javascript:void(0)" class="show-img"><img id="tradeBillQR${qttbLP.index}" alt=""
                                                                               width="30px" height="30px"
                                                                               class="show-image"></a>
                            <#imgQR selector="tradeBillQR${qttbLP.index}" width="300" height="300" qrUrl="${baseWebPath}/registerBill/tradeBillQRCcode.html?id=${qttb.id!}"/>
                            <% } } %>
                        </tr>
                        <% } %>
                    </table>
                </div>
            </div>
            <%} } %>
            <%
            var imageCount = 0;
            %>
            <div class="form-item-group" id="originCertifiyDiv">
                <h4 class="form-item-title">产地证明</h4>
                <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.ORIGIN_CERTIFIY].~size!0)>0){%>

                <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.ORIGIN_CERTIFIY]){
                %>
                <div class="fileimg-box" style="margin-left: 10px; display: inline-block;vertical-align: middle;">
                    <span class="fileimg-plus-icon" style="display: none" >+</span>
                    <span class="fileimg-des" style="display: none" >点击上传</span>
                    <input type="file" name="file" data-url="${contextPath!}/uploader/uploadImage.action" multiple="multipart/form-data"/>
                    <input type="hidden" name="imageCertList[${imageCount}][uid]" value="${img.uid}">
                    <input type="hidden" name="imageCertList[${imageCount++}][certType]" value="${@com.dili.trace.enums.ImageCertTypeEnum.ORIGIN_CERTIFIY.getCode()}">
                    <img class="magnifying" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                    <div class="fileimg-cover" style="display: block;"></div>
                    <div class="fileimg-edit" style="display: block;">
                        <span class="fileimg-view">查看</span>
                        <span class="fileimg-delete">删除</span>
                    </div>
                </div>
                <%}}%>
            </div>

            <div class="form-item-group" id="detectReportDiv">
                <h4 class="form-item-title">检测报告</h4>
                <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.DETECT_REPORT].~size!0)>0){%>

                <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.DETECT_REPORT]){
                %>
                <div class="fileimg-box" style="margin-left: 10px; display: inline-block;vertical-align: middle;">
                    <span class="fileimg-plus-icon" style="display: none" >+</span>
                    <span class="fileimg-des" style="display: none" >点击上传</span>
                    <input type="file" name="file" data-url="${contextPath!}/uploader/uploadImage.action" multiple="multipart/form-data"/>
                    <input type="hidden" name="imageCertList[${imageCount}][uid]" value="${img.uid}">
                    <input type="hidden" name="imageCertList[${imageCount++}][certType]" value="${@com.dili.trace.enums.ImageCertTypeEnum.DETECT_REPORT.getCode()}">
                    <img class="magnifying" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                    <div class="fileimg-cover" style="display: block;"></div>
                    <div class="fileimg-edit" style="display: block;">
                        <span class="fileimg-view">查看</span>
                        <span class="fileimg-delete">删除</span>
                    </div>
                </div>
                <%}}%>
            </div>



            <div id="handleResultContainer">
                <div class="form-item-group" id="handleResultDiv">
                    <h4 class="form-item-title">处理结果图片</h4>
                    <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.Handle_Result].~size!0)>0){%>

                    <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.Handle_Result]){
                    %>
                    <div class="fileimg-box" style="margin-left: 10px; display: inline-block;vertical-align: middle;">
                        <span class="fileimg-plus-icon" style="display: none" >+</span>
                        <span class="fileimg-des" style="display: none" >点击上传</span>
                        <input type="file" name="file" data-url="${contextPath!}/uploader/uploadImage.action" multiple="multipart/form-data"/>
                        <input type="hidden" name="imageCertList[${imageCount}][uid]" value="${img.uid!}">
                        <input type="hidden" name="imageCertList[${imageCount++}][certType]" value="${@com.dili.trace.enums.ImageCertTypeEnum.Handle_Result.getCode()}">
                        <img class="magnifying" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                        <div class="fileimg-cover" style="display: block;"></div>
                        <div class="fileimg-edit" style="display: block;">
                            <span class="fileimg-view">查看</span>
                            <span class="fileimg-delete">删除</span>
                        </div>
                    </div>
                    <%}}%>
                </div>

                <div class="form-item-group">
                    <div class="imageUploadWrap">
                        <div class="form-group">
                            <label class="label-title text-right"><span class="red">&lowast;</span>处理结果备注</label>
                            <input type="text" class="form-control input-sm" name="handleResult" value="${registerBill.handleResult}" required/>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <!--<h5 class="mt10 red">操作员：陈良芳</h5>-->
    <div class="text-center mt30" style="width: 50%">
        <button class="btn-main2 btn-sm" onclick="doModifyRegisterBill()">提交</button>&nbsp;&nbsp;
        <button class="btn-greyweak btn-sm" onclick="parent.bs4pop.removeAll()">取消</button>
    </div>
</div>
</#bodyOrigin>
<link rel="stylesheet" type="text/css" href="${contextPath!}/resources/jquery-file-upload/css/jquery.fileupload.css">
<script src="${contextPath!}/resources/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="${contextPath!}/resources/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="${contextPath!}/resources/jquery-file-upload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="${contextPath!}/resources/js/jquery.serializejson.js"></script>

<script>
    var currentUser={"depId":"${user.departmentId!}"
        ,"id":"${user.id!}"
        ,"realName":"${user.realName!}"
        ,"userName":"${user.userName!}"
        ,"departmentName":"${department.name!}"};
    function doModifyRegisterBill(){
        if($('#modifyRegisterBillForm').validate().form() != true){
            return;
        }
        var formData=$('#modifyRegisterBillForm').serializeJSON({useIntKeysAsArrayIndex:true});

        $.ajax({
            type: "POST",
            url: "${contextPath}/newRegisterBill/doUploadHandleResult.action",
            data : JSON.stringify(formData),
            dataType: "json",
            async : true,
            contentType: "application/json; charset=utf-8",
            success: function (ret) {
                if(ret.success){
                    //TLOG.component.operateLog(TLOG.operates.add, "登记单管理", ret.data, ret.data);
                    //location.href = '/registerBill/index.html';
                    //var paramStr = JSON.stringify(ret.data);
                    // parent.closeWin('view_win')
                    //parent.window['RegisterBillGridObj'].removeAllAndLoadData()
                    parent.bs4pop.removeAll();
                }else{
                    swal(
                        '错误',
                        ret.result,
                        'error'
                    );
                }
            },
            error: function(){
                swal(
                    '错误',
                    '远程访问失败',
                    'error'
                );
            }
        });


    }

    let imageItemCount = '${registerBill.imageCertList.~size!0}';
    function getDetectReportCount(selector){
        var count=$(selector).find('.fileimg-box').length;
        return count;
    }
    function initImageBtns(selector){
        var tempHtml=$(selector)
        var deleteImg=tempHtml.find('.fileimg-delete');
        var viewImg=tempHtml.find('.fileimg-view');
        deleteImg.on('click', function () {
            $(this).parents('.fileimg-box').remove();
            if(getDetectReportCount(selector)==0){
                createDetectReportAndAppendTemplate(selector);
            }
        });
        viewImg.on('click',function () {
            var url = $(this).parent().siblings(".magnifying").attr('src');
            if(url){
                layer.open({
                    title:'图片',
                    type: 1,
                    skin: 'layui-layer-rim',
                    closeBtn: 2,
                    area: ['90%', '90%'], // 宽高
                    content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
                });
            }
        });
    }

    function createDetectReportAndAppendTemplate(selector){
        if(getDetectReportCount(selector)==10){
            return;
        }
        var tempHtml=$(template('imageCertItem', {index: imageItemCount++}));
        $(selector).append(tempHtml);
        var fileEl=tempHtml.find('input[type="file"]');
        initFileUpload(fileEl,function(){createDetectReportAndAppendTemplate(selector);});
        initImageBtns(tempHtml);

    }
    // 文件上传组件初始化
    function initFileUpload(selecter,success) {
        $(selecter).fileupload({
            dataType: 'json',
            formData: {type: 4, compress: true},
            done: function (e, res) {
                if (res.result.code == 200) {
                    var uid= res.result.data;
                    $(this).siblings("input:hidden:first").val(uid);

                    var url = "${imageViewPathPrefix}/" + uid;
                    debugger
                    $(this).siblings('.magnifying').attr('src', url).show();
                    $(this).siblings('.fileimg-cover,.fileimg-edit').show();
                    success();
                }
            },
            add: function (e, data) {// 判断文件类型 var acceptFileTypes =
                // /\/(pdf|xml)$/i;
                var acceptFileTypes = /^gif|bmp|jpe?g|png$/i;
                var name = data.originalFiles[0]["name"];
                var index = name.lastIndexOf(".") + 1;
                var fileType = name.substring(index, name.length);
                if (!acceptFileTypes.test(fileType)) {
                    swal('错误', '请您上传图片类文件jpe/jpg/png/bmp!', 'error');
                    return;
                }
                var size = data.originalFiles[0]["size"];
                // 10M
                if (size > (1024 * 10 * 1024)) {
                    swal('错误', '上传文件超过最大限制!', 'error');
                    return;
                }
                data.submit();
            }
        });
    }
    $(function () {
        initImageBtns($(document.body));
       // createDetectReportAndAppendTemplate($('#detectReportDiv'));
        $('#detectReportDiv').hide();
        $('#handleResultContainer').show();
        createDetectReportAndAppendTemplate($('#handleResultContainer').find('#handleResultDiv'));
       // createDetectReportAndAppendTemplate($('#originCertifiyDiv'));
        $('#originCertifiyDiv').hide();
    });


    $('.ssr-view').on('click', function () {
        let tradeId = $(this).attr('data-trade-id');
        layer.open({
            type: 2,
            area: ['820px', '450px'],
            title: '分销记录',
            scrollbar: true,
            content: ['/sg/registerBill/tradeBillSsRecord.html?id='+tradeId], //iframe的url
            yes: function (index, layero) {
            }
        });
    });

    function returnBack(){
        history.go(-1);
    }



</script>

<script id="imageCertItem" type="text/html">
    <div class="fileimg-box" style="margin-left: 10px; display: inline-block;vertical-align: middle;">
        <span class="fileimg-plus-icon">+</span>
        <span class="fileimg-des">点击上传</span>
        <input type="file" name="file" data-url="${contextPath!}/uploader/uploadImage.action" multiple="multipart/form-data"/>
        <input type="hidden" name="imageCertList[{{index}}][uid]">
        <input type="hidden" name="imageCertList[{{index}}][certType]" value="${@com.dili.trace.enums.ImageCertTypeEnum.Handle_Result.getCode()}">
        <img class="magnifying">
        <div class="fileimg-cover" style="display: none;"></div>
        <div class="fileimg-edit" style="display: none;">
            <span class="fileimg-view">查看</span>
            <span class="fileimg-delete">删除</span>
        </div>
    </div>
</script>