<#bodyOrigin>
<style>
    .fileimg-box{
        display:inline-block;
        margin: 5px;
        width:8%;
    }
    .fileimg-box img{
        display:inline-block;
        vertical-align: middle;
        width:100% !important;
    }
</style>
<div class="main-container" style="padding: 0">
    <div class="topicTop">
        <!--<div class="toppic-title">
            <span class="topic-title-text maincolor">货品信息详情</span>
            <button class="btn-greyweak btn-sm topic-back-btn" onclick="parent.window['RegisterBillGridObj'].removeAllAndLoadData()">返回</button>
        </div>-->
    </div>
    <div class="form-box border">
        <form id="createRecordForm" class="form-inline" role="form">
            <div class="form-item-group row row-cols-3">
                <h4 class="form-item-title">基础信息</h4>

                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>报备时间</label>
                    <input class="form-control input-sm" value="<%if(null!= registerBill.created!){%>${registerBill.created,dateFormat='yyyy-MM-dd HH:mm:ss'}<%}else{%>-<%}%>" readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>报备编号</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.code!}"  readonly/>
                </div>


                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测状态</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.detectStatusName!}" required readonly/>
                </div>

                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>审核状态</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.verifyStatusName!}" required readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>报备单类型</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.registTypeName!}" required readonly/>
                </div>

                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>业户名称</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.name!}" required readonly/>
                </div>
                
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>企业名称</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.corporateName!}" required readonly/>
                </div>
                <%if (@defaultFieldNameIdMap.containsKey('plate')){
                if(filedNameRetMap['plate'].displayed!1==1){%>
                    <div class="form-group col">
                        <label class="label-title text-right"><span class="red">&lowast;</span>车牌号</label>
                        <input type="text" class="form-control input-sm"  value="${registerBill.plate!}" required readonly/>
                    </div>
                <%}}%>

                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>商品</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.productName!}" required readonly/>
                </div>

                <%if (@defaultFieldNameIdMap.containsKey('brandName')){
                if(filedNameRetMap['brandName'].displayed!1==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>品牌</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.brandName!}" required readonly/>
                </div>
                <%}}%>


                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>重量/${registerBill.weightUnitName!}</label>
                    <input type="text" class="form-control input-sm"  value=" ${registerBill.weight!,'0.00'}" required readonly/>
                </div>
                <%if (@defaultFieldNameIdMap.containsKey('originId')){
                if(filedNameRetMap['originId'].displayed!1==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>产地</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.originName!}" required readonly/>
                </div>
                <%}}%>


                
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>件数</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= pieceNum!){%>${pieceNum}<%}else{%>-<%}%>" required readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>件重</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= pieceWeight!){%>${pieceWeight}<%}else{%>-<%}%>" required readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>合计</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= pieceNum! && null!= pieceWeight){%>${pieceNum*pieceWeight}<%}else{%>-<%}%>" required readonly/>
                </div>

                <%if (@defaultFieldNameIdMap.containsKey('arrivalDatetime')){
                if(filedNameRetMap['arrivalDatetime'].displayed!1==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>到货时间</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.arrivalDatetime,'yyyyMMdd HH:mm:ss'} " required readonly/>
                </div>
                <%}}%>


                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测报告</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.hasDetectReportName!}" required readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>产地证明</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.hasOriginCertifiyName!}" required readonly/>
                </div>
                
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>采样时间</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= detectRequest.sampleTime!){%>${detectRequest.sampleTime,dateFormat='yyyy-MM-dd HH:mm:ss'}<%}else{%>-<%}%>" required readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>采样编号</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.sampleCode!}" required readonly/>
                </div>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>是否删除</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.isDeletedName!}" required readonly/>
                </div>
                
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>打印报告</label>
                    <input type="text" class="form-control input-sm"value="<%if(null!= registerBill.isPrintCheckSheetName!){%>${registerBill.isPrintCheckSheetName}<%}else{%>-<%}%>" required readonly/>
                </div>
                <%if (@defaultFieldNameIdMap.containsKey('truckType')){
                if(filedNameRetMap['truckType'].displayed!1==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>是否拼车</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.truckTypeShow!}" required readonly/>
                </div>
                <%}}%>

                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>皮重/${registerBill.weightUnitName!}</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= truckTareWeight!){%>${truckTareWeight,'0.00'}<%}else{%>-<%}%>" required readonly/>
                </div>


                <%if (@defaultFieldNameIdMap.containsKey('specName')){
                if(filedNameRetMap['specName'].displayed!1==1){%>

                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>商品规格</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.specName!}" required readonly/>
                </div>

                <%}}%>


                <%if (@defaultFieldNameIdMap.containsKey('unitPrice')){
                if(filedNameRetMap['unitPrice'].displayed!1==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>商品单价</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.unitPrice!,'0.00'}" required readonly/>
                </div>
                <%}}%>


                <%if (@defaultFieldNameIdMap.containsKey('upStreamId')){
                if(filedNameRetMap['upStreamId'].displayed!1==1){%>
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>上游企业</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= upStreamName!){%>${upStreamName}<%}else{%><%}%>" required readonly/>
                </div>
                <%}}%>


                
                <div class="form-group col">
                    <label class="label-title text-right"><span class="red">&lowast;</span>是否进门</label>
                    <input type="text" class="form-control input-sm"value="${registerBill.checkInStatusName!}" required readonly/>
                </div>
            </div>

            <div class="form-item-group">
                <h4 class="form-item-title">检测信息</h4>
                <div class="table-showlist" style="width: 1200px">
                    <table class="table table-bordered">
                        <thead>
                        <th><span class="red">&lowast;</span>检测时间</th>
                        <th><span class="red">&lowast;</span>检测批号</th>
                        <th><span class="red">&lowast;</span>标准数值</th>
                        <th><span class="red">&lowast;</span>检测类型</th>
                        <th><span class="red">&lowast;</span>检测结果</th>
                        <th><span class="red">&lowast;</span>检测数值</th>
                        <th><span class="red">&lowast;</span>检测人员</th>
                        </tr>
                        </thead>
                        <% for(detectRecord in detectRecordList!){%>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" value="${detectRecord.detectTime,'yyyy-MM-dd HH:mm:ss'}" required readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" value="${detectRecord.detectBatchNo}" required readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" value="${detectRecord.normalResult}" required readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" value="<%if(detectRecord.detectType == 20){%>初检<%}else if(detectRecord.detectType == 30){%>复检<%}else if(detectRecord.detectType == 40){%>抽检<%}else{%>其他<%}%>" required readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text"  class="form-control input-sm" value="<%if(detectRecord.detectType == 20){%>初检<%}else if(detectRecord.detectType == 30){%>复检<%}else if(detectRecord.detectType == 40){%>抽检<%}else{%>其他<%}%><%if(detectRecord.detectState==1){%>合格<%}else{%>不合格<%}%>" required readonly />
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" name="weight" class="form-control" value="${detectRecord.pdResult}" required readonly/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" name="weight" class="form-control input-sm" value="${detectRecord.detectOperator}" required readonly/>
                                </div>
                            </td>
                        </tr>
                        <%}%>
                    </table>
                    <!-- 表格后的统计 end -->
                </div>
            </div>

            <div class="form-item-group">
                <h4 class="form-item-title">产地证明</h4>
                <%if((registerBill.imageCertList.~size!0)>0){
                for(img in registerBill.imageCertList){
                if(img.certType == @com.dili.trace.enums.ImageCertTypeEnum.ORIGIN_CERTIFIY.getCode()){
                %>
                <div class="fileimg-box"  >
                    <img class="magnifying show-image"   style="width: 100%" src="${imageViewPathPrefix}/${img.uid!}" >
                </div>
                <%	} }
                }%>
            </div>
            <div class="form-item-group">
                <h4 class="form-item-title">检测报告</h4>
                <%if((registerBill.imageCertList.~size!0)>0){
                for(img in registerBill.imageCertList){
                if(img.certType == @com.dili.trace.enums.ImageCertTypeEnum.DETECT_REPORT.getCode()){
                %>
                <div class="fileimg-box"  >
                    <img class="magnifying show-image"   style="width: 100%" src="${imageViewPathPrefix}/${img.uid!}" >
                </div>
                <%	} }
                }%>
            </div>

            <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.QUARANTINE_CERTIFICATE].~size!0)>0){%>
                <div class="form-item-group" id="quarantineDiv">
                <h4 class="form-item-title">检疫合格证</h4>

                <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.QUARANTINE_CERTIFICATE]){
                %>
                <div class="fileimg-box" >
                    <img class="magnifying show-image" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                </div>
                <%}%>
                </div>
            <%}%>

            <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.PURCHASE_VOUCHER].~size!0)>0){%>
                <div class="form-item-group" id="purchaseDiv">
                <h4 class="form-item-title">购货凭证</h4>

                <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.PURCHASE_VOUCHER]){
                %>
                <div class="fileimg-box" >
                    <img class="magnifying" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                </div>
                <%}%>
                </div>
            <%}%>

            <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.CUSTOMS_DECLARATION].~size!0)>0){%>
            <div class="form-item-group" id="customsDeclarationDiv">
            <h4 class="form-item-title">报关单</h4>

                <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.CUSTOMS_DECLARATION]){
                %>
                <div class="fileimg-box" >
                    <img class="magnifying" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                </div>
                <%}%>
            </div>
            <%}%>

            <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.PURCHASE_AGREEMENT].~size!0)>0){%>
                <div class="form-item-group" id="purchaseAgreementDiv">
                <h4 class="form-item-title">采购协议</h4>

                <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.PURCHASE_AGREEMENT]){
                %>
                <div class="fileimg-box" >
                    <img class="magnifying" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                </div>
                <%}%>
                </div>
            <%}%>

            <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.Handle_Result].~size!0)>0){%>
            <div class="form-item-group">
                <h4 class="form-item-title">处理结果图片</h4>
                <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.Handle_Result]){
                %>
                <div class="fileimg-box"  >
                    <img class="magnifying show-image"   style="width: 100%" src="${imageViewPathPrefix}/${img.uid!}" >
                </div>
                <%}%>
            </div>
            <div class="form-group col">
                <label class="label-title text-right"><span class="red">&lowast;</span>处理结果备注</label>
                <input type="text" class="form-control input-sm"   value="${registerBill.handleResult}" required readonly/>
            </div>
            <%}%>

            <%if((registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.OTHERS].~size!0)>0){%>
                <div class="form-item-group" id="othersDiv">
                <h4 class="form-item-title">其他</h4>

                <%for(img in registerBill.groupedImageCertList[@com.dili.trace.enums.ImageCertTypeEnum.OTHERS]){
                %>
                <div class="fileimg-box"  >
                    <img class="magnifying" style="display: block" src="${imageViewPathPrefix}/${img.uid!}">
                </div>
                <%}%>
                </div>
            <%}%>

        </form>
    </div>

</div>
</#bodyOrigin>
<style>
.layui-layer-btn0{
border:1px solid #dedede!important;
background-color:#f1f1f1!important;
color:#333!important;
}

</style>
<script type="text/javascript" src="${contextPath!}/resources/js/jquery.rotate.js"></script>
<script>
	function showCheckSheet(checkSheetId){
		var url="${contextPath}/checkSheet/view.html?id="+checkSheetId;
		$(window.parent.document.body).append('<iframe id="checksheet_view_win" name="view_win" src="'+url+'" style="border:0px;width:100%;height:100%;position:fixed;left:0;top:0;z-index:99999"></iframe>');
	}
	function rotateImg(angle){
		$('#showedImg').rotate($('#showedImg').getRotateAngle()[0]+angle);
	}
    $('.show-image').on('click', function () {
    	debugger;
        var url = $(this).attr('src');
       // url='http://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/241f95cad1c8a786d814d6eb6709c93d70cf501c.jpg'
        if(url){
            layer.open({
                title:'图片',
                type: 1,
                skin: 'layui-layer-rim',
               // closeBtn: 2,
                btn:["顺时针旋转","逆时针旋转"],
                btnAlign: 'c',
                area: ['90%', '90%'], //宽高
                content: '<div id="cropContainer" style="text-align:center"><img id="showedImg"   src="' + url + '" alt="" class="show-image-zoom"></div>'
            ,btn1:function(){
            	rotateImg(90);
            	return false;
            },btn2:function(){
            	rotateImg(-90);
            	return false;
            }});
        }
    });
    /*$('.imageUpload,.show-img').on('click', function () {
        var url = $(this).find("img").attr('src');
        if(url){
            layer.open({
                title:'图片',
                type: 1,
                skin: 'layui-layer-rim',
                closeBtn: 2,
                area: ['90%', '90%'], //宽高
                content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
            });
        }
    });*/

    $('.ssr-view').on('click', function () {
        let tradeId = $(this).attr('data-trade-id');
        layer.open({
            type: 2,
            area: ['820px', '450px'],
            title: '分销记录',
            scrollbar: true,
            content: ['/sg/registerBill/tradeBillSsRecord.html?id='+tradeId], //iframe的url
            yes: function (index, layero) {
            }
        });
    });
</script>
