<#bodyOrigin>
<div class="main-container">
    <div class="topicTop">
        <!--<div class="toppic-title">
            <span class="topic-title-text maincolor">货品信息详情</span>
            <button class="btn-greyweak btn-sm topic-back-btn" onclick="parent.window['RegisterBillGridObj'].removeAllAndLoadData()">返回</button>
        </div>-->
    </div>
    <div class="form-box border">
        <form id="createRecordForm" class="form-inline" role="form">
            <div class="form-item-group">
                <h4 class="form-item-title">基础信息</h4>

                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>报备时间</label>
                    <input class="form-control input-sm" value="<%if(null!= registerBill.created!){%>${registerBill.created,dateFormat='yyyy-MM-dd HH:mm:ss'}<%}else{%>-<%}%>" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>报备编号</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.code!}"  readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>状态</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.verifyStatusName!}" required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>报备单类型</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.registTypeName!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>业户名称</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.name!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>企业名称</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.corporateName!}" required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>车牌号</label>
                    <input type="text" class="form-control input-sm"  value="${registerBill.plate!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>商品</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.productName!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>品牌</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.brandName!}" required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>重量/KG</label>
                    <input type="text" class="form-control input-sm"  value=" <% if(displayWeight! == true){ %>${registerBill.weight!}<%}else{%>---<%}%>" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>产地</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.originName!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>件数</label>
                    <input type="text" class="form-control input-sm" value="${pieceNum!}" required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>件重</label>
                    <input type="text" class="form-control input-sm" value="${pieceWeight!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>合计</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= pieceNum! && null!= pieceWeight){%>${pieceNum*pieceWeight}<%}else{%>-<%}%>" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>到货时间</label>
                    <input type="text" class="form-control input-sm" value=" " required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测报告</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.hasDetectReportName!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>产地证明</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.hasOriginCertifiyName!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>采样时间</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= detectRequest.sampleTime!){%>${detectRequest.sampleTime,dateFormat='yyyy-MM-dd HH:mm:ss'}<%}else{%>-<%}%>" required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>采样编号</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.sampleCode!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测时间</label>
                    <input type="text" class="form-control input-sm" value="<%if(null!= detectRequest.detectTime!){%>${detectRequest.detectTime,dateFormat='yyyy-MM-dd HH:mm:ss'}<%}else{%>-<%}%>" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测结果</label>
                    <input type="text" class="form-control input-sm" value="${detectRequest.detectResult!}" required readonly/>
                </div>
                <br>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>检测员</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.isDeletedName!}" required readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>是否删除</label>
                    <input type="text" class="form-control input-sm" value="${registerBill.isDeletedName!}" required readonly/>
                </div>
            </div>
            <div class="form-item-group">
            		<h4 class="form-item-title">检测报告</h4>
                          <%if((registerBill.imageCerts.~size!0)>0){
                        	for(img in registerBill.imageCerts){
                            if(img.certType == @com.dili.trace.enums.ImageCertTypeEnum.DETECT_REPORT.getCode()){
                        	%>
                        	  <div class="fileimg-box"  style="display:inline-block;margin: 5px;width:8%;">
                    				<img class="magnifying show-image"   style="width: 100%" src="${imageViewPathPrefix}/${img.uid!}" >
							</div>
                        <%	} }
                        }%>
            </div>
        </form>
    </div>

</div>
</#bodyOrigin>
<style>
.layui-layer-btn0{
border:1px solid #dedede!important;
background-color:#f1f1f1!important;
color:#333!important;
}

</style>
<script type="text/javascript" src="${contextPath!}/resources/js/jquery.rotate.js"></script>
<script>
	function showCheckSheet(checkSheetId){
		var url="${contextPath}/checkSheet/view.html?id="+checkSheetId;
		$(window.parent.document.body).append('<iframe id="checksheet_view_win" name="view_win" src="'+url+'" style="border:0px;width:100%;height:100%;position:fixed;left:0;top:0;z-index:99999"></iframe>');
	}
	function rotateImg(angle){
		$('#showedImg').rotate($('#showedImg').getRotateAngle()[0]+angle);
	}
    $('.show-image').on('click', function () {
    	debugger;
        var url = $(this).attr('src');
       // url='http://gss0.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/241f95cad1c8a786d814d6eb6709c93d70cf501c.jpg'
        if(url){
            layer.open({
                title:'图片',
                type: 1,
                skin: 'layui-layer-rim',
               // closeBtn: 2,
                btn:["顺时针旋转","逆时针旋转"],
                btnAlign: 'c',
                area: ['90%', '90%'], //宽高
                content: '<div id="cropContainer" style="text-align:center"><img id="showedImg"   src="' + url + '" alt="" class="show-image-zoom"></div>'
            ,btn1:function(){
            	rotateImg(90);
            	return false;
            },btn2:function(){
            	rotateImg(-90);
            	return false;
            }});
        }
    });
    /*$('.imageUpload,.show-img').on('click', function () {
        var url = $(this).find("img").attr('src');
        if(url){
            layer.open({
                title:'图片',
                type: 1,
                skin: 'layui-layer-rim',
                closeBtn: 2,
                area: ['90%', '90%'], //宽高
                content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
            });
        }
    });*/

    $('.ssr-view').on('click', function () {
        let tradeId = $(this).attr('data-trade-id');
        layer.open({
            type: 2,
            area: ['820px', '450px'],
            title: '分销记录',
            scrollbar: true,
            content: ['/sg/registerBill/tradeBillSsRecord.html?id='+tradeId], //iframe的url
            yes: function (index, layero) {
            }
        });
    });
</script>
