<#bs4Body>
<div class="container-fluid pb-5" id="app">
    <form   id="saveForm" label-width="150px" >
        <div class="row row-cols-1">
            <% if (@filedNameRetMap.containsKey('name') && @filedNameRetMap.get('name').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">业户名称</label>
                <% if (@filedNameRetMap.get('name').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="text" class="form-control isWord" name="name" required/>
                <% } else { %>
                <input type="text" class="form-control isWord" name="name"/>
                <% } %>
            </div>
            <% } %>

            <% if (@filedNameRetMap.containsKey('corporateName') && @filedNameRetMap.get('corporateName').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">企业名称</label>
                <% if (@filedNameRetMap.get('corporateName').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="text" class="form-control isWord" name="corporateName" required/>
                <% } else { %>
                <input type="text" class="form-control isWord" name="corporateName"/>
                <% } %>
            </div>
            <% } %>

            <div class="form-group col">
                <label for="">商品品类</label>
                <input type="text"
                       class="form-control input-sm "
                       data-rule-depends="input[name='productName'],input[name='productId']"
                       name="categoryInput" data-value-type="skip" required />
                <input type="hidden" name="productName" required />
                <input type="hidden" name="productId" required />
            </div>


            <% if (@filedNameRetMap.containsKey('productAliasName') && @filedNameRetMap.get('productAliasName').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">商品别名</label>
                <% if (@filedNameRetMap.get('productAliasName').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="text" class="form-control isWord" name="productAliasName" required/>
                <% } else { %>
                <input type="text" class="form-control isWord" name="productAliasName"/>
                <% } %>
            </div>
            <% } %>
            <% if (@filedNameRetMap.containsKey('originId') && @filedNameRetMap.get('originId').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">产地</label>
                <% if (@filedNameRetMap.get('originId').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="text"
                       class="form-control input-sm "
                       data-rule-depends="input[name='originId'],input[name='originName']"
                       name="originInput" data-value-type="skip" required />
                <% } else { %>
                <input type="text"
                       class="form-control input-sm "
                       data-rule-depends="input[name='originId'],input[name='originName']"
                       name="originInput" data-value-type="skip" />
                <% } %>
                <input type="hidden" name="originId" required />
                <input type="hidden" name="originName" required />
            </div>
            <% } %>
            <% if (@filedNameRetMap.containsKey('weight') && @filedNameRetMap.get('weight').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">商品重量</label>
                <% if (@filedNameRetMap.get('weight').getRequired() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
                <input type="number" class="form-control isNaturalNum" min="1" name="weight" required/>
                <% } else { %>
                <input type="number" class="form-control isNaturalNum" min="1" name="weight"/>
                <% } %>
            </div>
            <% } %>

            <% if (@filedNameRetMap.containsKey('isPrintCheckReport') && @filedNameRetMap.get('isPrintCheckReport').getDisplayed() == @com.dili.commons.glossary.YesOrNoEnum.YES.getCode()) { %>
            <div class="form-group col">
                <label for="">是否打印检测报告: </label>
                是<input type="radio" class="" min="1" name="isPrintCheckReport" value="1" />
                否<input type="radio" class="" min="1" name="isPrintCheckReport" value="=0" checked/>
            </div>
            <% } %>

        </div>
        <div class="modal-footer-wrap">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-5" id="cancelBtn" onclick="parent.bs4pop&&parent.bs4pop.removeAll();">取消</button>
                <button type="button" class="btn btn-primary px-5" id="saveBtn">确认新增</button>
            </div>
        </div>
    </form>
</div>
<#webGlobalConfig/>

<script src="${contextPath!}/resources/assets/dep/jquery/jquery.validate.js"></script>
<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js"></script>
<script src="${contextPath!}/resources/js/WebConfig.js?v=${v}"></script>
<script src="${contextPath!}/resources/js/CategoryController.js"></script>
<script src="${contextPath!}/resources/js/CityController.js"></script>
<script src="${contextPath!}/resources/js/BrandController.js"></script>
<script src="${contextPath!}/resources/js/UpStreamController.js"></script>
<script src="${contextPath!}/resources/js/CustomerController.js?v=${v}"></script>
<script src="${contextPath!}/resources/js/RegisterHeadController.js"></script>
<script src="${contextPath!}/resources/js/CommissionDetectRequest.create.js?v=${v}"></script>
<script type="text/javascript">
    $(function () {
    jQuery.validator.addMethod("depends", function (t, a) {
            let selector=$(a).data('rule-depends');
            let isAnyEmpty=_.chain($(selector)).map(item=>{return $(item).val();}).any(_.isEmpty).value();
            return !isAnyEmpty;
        }, "请选择下拉框选项");

        new CommissionDetectRequestCreate($('#saveForm'), $('#saveBtn'));
    });

    /*lay('.laydatetime').each(function(){
        laydate.render({
            elem: this
            ,type: 'datetime'
            ,trigger: 'click'
        });
    });*/

</script>
</#bs4Body>
