<#bs4Body>

<div class="container-fluid pb-5" id="app">
    <form id="saveForm" role="form" novalidate>
        <input type="hidden" name="moduleType" value="1">

        <div class="">
            <div class="row row-cols-12">
                <div class="form-group col-4">
                    <label for="firmName">管理员所属市场</label>
                    <input type="text" class="form-control" id="firmName" name="firmName" value="${currentFirm.name}" data-value-type="skip" readonly />
                    <input type="hidden" class="form-control"  name="marketId" value="${currentFirm.id}"   />

                </div>
            </div>
            <%if (@defaultFieldNameIdMap.containsKey('truckTareWeight')){%>
                <div class="row row-cols-12">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckTareWeight']}][fieldName]" value="truckTareWeight">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckTareWeight']}][jsonPath]" value="$.truckTareWeight">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckTareWeight']}][defaultId]" value="${defaultFieldNameIdMap['truckTareWeight']}">
                    <div class="form-group col-2">
                        <input type="checkbox" name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckTareWeight']}][displayed]" value="1" <%if(filedNameRetMap['truckTareWeight'].displayed!1==1){%>checked<%}%> >
                        <label for="">皮重</label>
                    </div>
                    <div class="form-group col-1">
                        <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckTareWeight']}][required]" value="1" checked>
                        <label for="">必填</label>
                    </div>
                    <div class="form-group col-1">
                        <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckTareWeight']}][required]" value="0">
                        <label for="">非必填</label>
                    </div>
                </div>
            <%}%>

            <%if (@defaultFieldNameIdMap.containsKey('truckType')){%>
                <div class="row row-cols-12">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckType']}][fieldName]" value="truckType">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckType']}][jsonPath]" value="$.truckType">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckType']}][defaultId]" value="${defaultFieldNameIdMap['truckType']}">
                    <div class="form-group col-2">
                        <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckType']}][displayed]" value="0">
                        <input type="checkbox" name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckType']}][displayed]" value="1" <%if(filedNameRetMap['truckType'].displayed!1==1){%>checked<%}%> >
                        <label for="">是否拼车</label>
                    </div>
                    <div class="form-group col-1">
                        <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckType']}][required]" value="1" checked>
                        <label for="">必填</label>
                    </div>
                    <div class="form-group col-1">
                        <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckType']}][required]" value="0">
                        <label for="">非必填</label>
                    </div>
                    <div class="form-group col-6">
                        <select class="form-control" <%if(filedNameRetMap['truckType'].displayed!1==1){%>required<%}%> multiple="multiple"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['truckType']}][availableValues][]">
                        <%for(truckType in truckTypeEnumList){%>
                        <option value="${truckType.code}" <%if(@filedNameRetMap.get('truckType').getAvailableValueList().contains(truckType.code+'')){%>selected<%}%>>${truckType.name}</option>
                        <%}%>
                        </select>
                    </div>
                </div>
            <%}%>


            <%if (@defaultFieldNameIdMap.containsKey('plate')){%>
                <div class="row row-cols-12">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['plate']}][fieldName]" value="plate">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['plate']}][jsonPath]" value="$.plate">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['plate']}][defaultId]" value="${defaultFieldNameIdMap['plate']}">
                    <div class="form-group col-2">
                        <input type="checkbox" name="fieldConfigDetailList[${defaultFiledNameIndexMap['plate']}][displayed]" disabled value="1" <%if(filedNameRetMap['plate'].displayed!1==1){%>checked<%}%> >
                        <label for="">车牌号</label>
                    </div>
                    <div class="form-group col-1">
                        <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['plate']}][required]" value="1"  checked>
                        <label for="">必填</label>
                    </div>
                    <div class="form-group col-1">
                        <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['plate']}][required]" value="0">
                        <label for="">非必填</label>
                    </div>
                </div>
            <%}%>




            <%if (@defaultFieldNameIdMap.containsKey('unitPrice')){%>
                <div class="row row-cols-12">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['unitPrice']}][fieldName]" value="unitPrice">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['unitPrice']}][jsonPath]" value="$.unitPrice">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['unitPrice']}][defaultId]" value="${defaultFieldNameIdMap['unitPrice']}">
                    <div class="form-group col-2">
                        <input type="checkbox" name="fieldConfigDetailList[${defaultFiledNameIndexMap['unitPrice']}][displayed]" value="1" <%if(filedNameRetMap['unitPrice'].displayed!1==1){%>checked<%}%> >
                        <label for="">商品单价</label>
                    </div>
                    <div class="form-group col-1">
                        <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['unitPrice']}][required]" value="1" checked>
                        <label for="">必填</label>
                    </div>
                    <div class="form-group col-1">
                        <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['unitPrice']}][required]" value="0">
                        <label for="">非必填</label>
                    </div>
                </div>
            <%}%>

            <%if (@defaultFieldNameIdMap.containsKey('specName')){%>
                <div class="row row-cols-12">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['specName']}][fieldName]" value="specName">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['specName']}][jsonPath]" value="$.specName">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['specName']}][defaultId]" value="${defaultFieldNameIdMap['specName']}">
                    <div class="form-group col-2">
                        <input type="checkbox" name="fieldConfigDetailList[${defaultFiledNameIndexMap['specName']}][displayed]" value="1" <%if(filedNameRetMap['specName'].displayed!1==1){%>checked<%}%> >
                        <label for="">商品规格</label>
                    </div>
                    <div class="form-group col-1">
                        <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['specName']}][required]" value="1" checked>
                        <label for="">必填</label>
                    </div>
                    <div class="form-group col-1">
                        <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['specName']}][required]" value="0">
                        <label for="">非必填</label>
                    </div>
                </div>
            <%}%>


            <%if (@defaultFieldNameIdMap.containsKey('brandName')){%>
                <div class="row row-cols-12">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['brandName']}][fieldName]" value="brandName">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['brandName']}][jsonPath]" value="$.brandName">
                    <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['brandName']}][defaultId]" value="${defaultFieldNameIdMap['brandName']}">
                    <div class="form-group col-2">
                        <input type="checkbox" name="fieldConfigDetailList[${defaultFiledNameIndexMap['brandName']}][displayed]" value="1" <%if(filedNameRetMap['brandName'].displayed!1==1){%>checked<%}%> >
                        <label for="">品牌</label>
                    </div>
                    <div class="form-group col-1">
                        <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['brandName']}][required]" value="1" checked>
                        <label for="">必填</label>
                    </div>
                    <div class="form-group col-1">
                        <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['brandName']}][required]" value="0">
                        <label for="">非必填</label>
                    </div>
                </div>
            <%}%>


            <%if (@defaultFieldNameIdMap.containsKey('imageCertList')){%>
            <div class="row row-cols-12">
                <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['imageCertList']}][fieldName]" value="imageCertList">
                <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['imageCertList']}][jsonPath]" value="$.imageCertList.certType">
                <input type="hidden" name="fieldConfigDetailList[${defaultFiledNameIndexMap['imageCertList']}][defaultId]" value="${defaultFieldNameIdMap['imageCertList']}">
                <div class="form-group col-2">
                    <input type="checkbox" name="fieldConfigDetailList[${defaultFiledNameIndexMap['imageCertList']}][displayed]" value="1" <%if(filedNameRetMap['imageCertList'].displayed!1==1){%>checked<%}%> >
                    <label for="">产地证明</label>
                </div>
                <div class="form-group col-1">
                    <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['imageCertList']}][required]" value="1" checked>
                    <label for="">必填</label>
                </div>
                <div class="form-group col-1">
                    <input type="radio"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['imageCertList']}][required]" value="0">
                    <label for="">非必填</label>
                </div>

                <div class="form-group col-6">
                    <select class="form-control" <%if(filedNameRetMap['imageCertList'].displayed!1==1){%>required<%}%> multiple="multiple"  name="fieldConfigDetailList[${defaultFiledNameIndexMap['imageCertList']}][availableValues][]">
                        <%for(certType in imageCertTypeList){%>
                            <option value="${certType.code}" <%if(@filedNameRetMap.get('imageCertList').getAvailableValueList().contains(certType.code+'')){%>selected<%}%>>${certType.name}</option>
                        <%}%>
                    </select>
                </div>
            </div>
            <%}%>



        </div>
    </form>
</div>
<div class="text-center">
    <button class="btn-main2 btn-sm" onclick="save()">保存</button>&nbsp;&nbsp;
</div>
<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/assets/dep/readonly/readonly.js"></script>
<script src="${contextPath!}/resources/js/Utils.js"></script>
<script>
    async function save(){
        if($('#saveForm').validate().form() != true){
            return;
        }
        let data=$('#saveForm').serializeJSON({useIntKeysAsArrayIndex:true

            ,customTypes: {
                alwaysBoo: (strVal) => {
                    debugger
                    return "1"; },

            }
        });
        let url="${contextPath!}/fieldConfig/doUpdate.action";
        try{
            let resp=await jq.postJsonWithProcessing(url,data);
            if(!resp.success){
                //@ts-ignore
                bs4pop.alert(resp.message, {type: 'error'});
                return;
            }
            bs4pop.alert('操作成功', {type: 'info',autoClose: 600});
        }catch (e){
            debugger
            //@ts-ignore
            bs4pop.alert('远程访问失败', {type: 'error'});
        }

    }

    $(function () {

        var imageCertListDisplayed= $('input[name*="fieldName"][value*="imageCertList"]').siblings()
            .children('[name*="displayed"]')

       var imageCertListAvailableValues= $('input[name*="fieldName"][value*="imageCertList"]').siblings()
            .children('select[name*="availableValues"]');

        imageCertListAvailableValues.select2({
            placeholder: '-- 可用值 --'
        });

        imageCertListDisplayed.on('click',function(){
            var isDisplayed=$(this).is(":checked");
            if(isDisplayed==true){
                imageCertListAvailableValues.attr('required','required')
            }else{
                imageCertListAvailableValues.removeAttr('required')
            }
        });


        var truckTypeDisplayed= $('input[name*="fieldName"][value*="truckType"]').siblings()
            .children('[name*="displayed"]')
        var truckTypeAvailableValues= $('input[name*="fieldName"][value*="truckType"]').siblings()
            .children('select[name*="availableValues"]');

        truckTypeAvailableValues.select2({
            placeholder: '-- 可用值 --'
        });

        truckTypeDisplayed.on('click',function(){
            var isDisplayed=$(this).is(":checked");
            if(isDisplayed==true){
                truckTypeAvailableValues.attr('required','required')
            }else{
                truckTypeAvailableValues.removeAttr('required')
                truckTypeAvailableValues.valid();
            }

        });

        /*  .on("change",function(e){
          var selectObj=$('[name="'+$(this).attr('name')+'"]');
          selectObj.find('option').removeAttr("selected");
          selectObj.val($(this).val())

          $.each($(this).val(),function(i,v){
              selectObj.find('option[value="'+v+'"]').attr("selected", true);
          })
         // $('#my_select2').select2('val', ["value1", "value2", "value3"]);
      });*/

        $('input[name*="fieldName"][value*="plate"]')
            .siblings().children('input[name*="displayed"],input[name*="required"]')
            .readonly(true);
        $('input[name*="fieldName"][value*="truckType"]').siblings().children('input[name*="displayed"]').on('click',function(){
            var isDisplayed=$(this).is(":checked");
            var plate=$('input[name*="fieldName"][value*="plate"]').siblings().children('input[name*="displayed"][type="checkbox"]');
            if(isDisplayed==true){
                plate.attr('checked','checked');
                $('input[name*="fieldName"][value*="plate"]').siblings().children('input[name*="displayed"][type="hidden"]').removeAttr('disabled');
            }else{
                plate.removeAttr('checked');
                $('input[name*="fieldName"][value*="plate"]').siblings().children('input[name*="displayed"][type="hidden"]').attr('disabled','disabled');
            }
        });

        $('input[name*="fieldName"][value*="truckType"]').siblings().children('input[name*="required"]').on('click',function(){
            var isRequired=$(this).val();
            $('input[name*="fieldName"][value*="plate"]').siblings().children('input[type="radio"][name*="required"]').prop("checked", false);
            $('input[name*="fieldName"][value*="plate"]').siblings().children('input[type="radio"][name*="required"][value='+isRequired+']').prop("checked", true);
        });
    });



</script>
</#bs4Body>
