<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.sg.trace.dao.QualityTraceTradeBillSyncPointMapper">
  <resultMap id="BaseResultMap" type="com.dili.sg.trace.domain.QualityTraceTradeBillSyncPoint">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bill_id" jdbcType="BIGINT" property="billId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, bill_id,order_id
  </sql>
  <select id="selectByIdForUpdate" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from quality_trace_trade_bill_syncpoint
    where id = #{id,jdbcType=BIGINT}
    for update
  </select>
</mapper>