<#bodyOrigin>
<div class="main-container">
    <div class="topicTop">
        <div class="toppic-title">
            <span class="topic-title-text maincolor">签名详情</span>
            <button class="btn-greyweak btn-sm topic-back-btn" onclick="parent.closeWin('view_win')">返回</button>
        </div>
    </div>
    <div class="form-box border">
        <form id="createRecordForm" class="form-inline" role="form">
            <div class="form-item-group">
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>姓名</label>
                    <input class="form-control input-sm" value="${item.userName}" readonly/>
                </div>
                <div class="form-group">
                    <label class="label-title text-right"><span class="red">&lowast;</span>手机号</label>
                    <input type="text" class="form-control input-sm"  value="${item.phone}"  readonly/>
                </div>

                <br/>
              
            
	<table width="430px">
            <tr>
                <td style="padding:5px;">
                    <div class="fileimg-box" style="margin: 0 auto;">
                        <span class="fileimg-plus-icon">+</span>
                        <span class="fileimg-des">签名</span>
                        <img class="magnifying" src="${item.signBase64}">
                        <div class="fileimg-cover" style="display:  block;"></div>
                        <div class="fileimg-edit" style="display: block;">
                            <span class="fileimg-view">查看</span>
                        </div>
                    </div>
                </td>
                
            </tr>
        </table>
        </div>
        </form>
        
    </div>

</div>
</#bodyOrigin>
<script type="text/javascript">
<!--
$('.fileimg-view').on('click', function () {
    var url = $(this).parent().siblings(".magnifying").attr('src');
    if(url){
        layer.open({
            title:'图片',
            type: 1,
            skin: 'layui-layer-rim',
            closeBtn: 2,
            area: ['90%', '90%'], //宽高
            content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
        });
    }
});
//-->
</script>

