<#body head_title="检测登记列表">
<style>
    .textbox-text[readonly] {
        background: #ebebe4;
    }
</style>
<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center">
        <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
        </div>
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left">
            <form id="queryForm" class="easyui-form" method="post" fit="true">
                <div class="search-wrap">
                    <div class="search-item">
                        <input class="easyui-textbox" name="checkNo" id="checkNo" style="width:100%" labelAlign="right"
                               data-options="label:'检测批号:'" />
                    </div>
                    <div class="search-item">
                        <input class="easyui-textbox" name="thirdPartyCode" id="thirdPartyCode" style="width:100%" labelAlign="right"
                               data-options="label:'经营户卡号:'" />
                    </div>
                    <div class="search-item">
                        <input class="easyui-textbox" name="likeName" id="likeName" style="width:100%" labelAlign="right"
                               data-options="label:'经营户名称:'" />
                    </div>
                    <div class="search-item">
                        <input class="easyui-textbox" name="goodsCode" id="goodsCode" style="width:100%" labelAlign="right"
                               data-options="label:'产品编号:'" />
                    </div>
                    <div class="search-item">
                        <input class="easyui-textbox" name="goodsName" id="goodsName" style="width:100%" labelAlign="right"
                               data-options="label:'产品名称:'" />
                    </div>
                    <div class="search-item">
                        <input class="easyui-textbox" name="checker" id="checker" style="width:100%" labelAlign="right"
                               data-options="label:'检测人:'" />
                    </div>
                    <div class="search-item long-item">
                        <input class="easyui-datetimebox" name="checkTimeStart" id="checkTimeStart" style="width:58%"
                               labelAlign="right" data-options="label:'开始日期:'" value="${checkTimeStart}!" />
                    </div>
                    <div class="search-item long-item">
                        <input class="easyui-datetimebox" name="checkTimeEnd" id="checkTimeEnd" style="width:58%"
                               labelAlign="right" data-options="label:'结束日期:'" value="${checkTimeEnd}!" />
                    </div>
                    <div class="search-wrap-btn">
                        <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                           onclick="queryCheckBillGrid()">查询</a>&nbsp;&nbsp;
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear"
                           onclick="clearQueryForm()">清除</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" style="width:100%;" height="auto">
        <!-- =========================================================表格========================================================= -->
        <table class="easyui-datagrid" title="检测单列表" id="checkBillGrid" fitColumns="true" noheader="true"
               pagination="true" pageSize="30" pageNumber="1" pagePosition="top" border="false" loadMsg="数据加载中..."
               singleSelect="true" method="post" multiSort="false" sortName="checkNo" sortOrder="desc" align="center"
               fit="true" idField="id"
               data-options="onHeaderContextMenu:headerContextMenu,onLoadSuccess:clearGridSelectedAndChecked">
            <thead>
            <tr>
                <th width="8%"
                    data-options="field:'checkNo', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    检测批号
                </th>
                <th width="7%"
                    data-options="field:'thirdPartyCode', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    经营户卡号
                </th>
                <th width="10%"
                    data-options="field:'userName', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    经营户名称
                </th>
                <th width="5%"
                    data-options="field:'goodsCode', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    产品编号
                </th>
                <th width="7%"
                    data-options="field:'goodsName', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    产品名称
                </th>
                <th width="7%"
                    data-options="field:'project', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    检测项目
                </th>
                <th width="5%"
                    data-options="field:'normalValue', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    标准值
                </th>
                <th width="5%"
                    data-options="field:'value', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    实测值
                </th>
                <th width="7%"
                    data-options="field:'checker', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    检测人
                </th>
                <th width="7%"
                    data-options="field:'checkOrgName', sortable:false, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    检测机构
                </th>
                <th width="5%"
                    data-options="field:'checkType', _provider:'checkTypeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    检测类型
                </th>
                <th width="5%"
                    data-options="field:'checkResult',_provider:'checkResultTypeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    检测结果
                </th>
                <th width="10%"
                    data-options="field:'checkTime',_provider:'datetimeProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    检测时间
                </th>
                <th width="6%"
                    data-options="field:'inboundNo', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    进货批次号
                </th>
                <th width="6%"
                    data-options="field:'reportFlag', _provider:'checkReportProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                    是否上报
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div id="importDialog"></div>

<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script src="http://base.nong12.com/static/log/log.build.js"></script>
<link rel="stylesheet" type="text/css" href="${contextPath!}/resources/jquery-file-upload/css/jquery.fileupload.css">
<script src="${contextPath!}/resources/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="${contextPath!}/resources/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="${contextPath!}/resources/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="/resources/assets/dep/jquery/layer/layer.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializeObject.js"></script>
<#checkBill_indexJs />
</#body>