<#bodyOrigin>
    <style>
        .form-inline .table-showlist table .input-sm {
            width: 200px;
        }
        /*a  upload */
        
        .a-upload {
            padding: 4px 28px;
            position: relative;
            cursor: pointer;
            border: 1px solid #ddd;
            border-radius: 4px;
            overflow: hidden;
            display: inline-block;
            color: #fff !important;
            background-color: #3370ff;
        }
        
        .a-upload input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            cursor: pointer
        }
        
        .a-upload:hover {
            color: #444;
            background: #eee;
            border-color: #ccc;
            text-decoration: none
        }
        
        .es-list {
            max-height: 220px !important;
        }
    </style>
    <div class="main-container"  style="padding: 0;margin: 0">
        <div class="form-box border">

            <form id="createRecordForm" class="form-inline" role="form">
                <div class="form-item-group"  style="width: 1200px">
                    <h4 class="form-item-title">基础信息</h4>
                    <div class="form-group">
                        <label class="label-title text-right">业户姓名</label>
                        <input type="text" class="form-control input-sm" name="bill[name]" id="name" tabindex="-1"  maxlength="50" />
                    </div>
                    <div class="form-group">
                        <label class="label-title text-right">企业名称</label>
                        <input name="bill[corporateName]" id="corporateName" type="text" class="form-control input-sm" value="寿光地利农产品物流园" tabindex="-1" maxlength="100" />
                    </div>
                    
                    <div class="form-group">
                        <label class="label-title text-right">身份证号</label>
                        <input name="bill[idCardNo]" id="idCardNo" type="text" class="form-control input-sm isIdCard" value="" tabindex="-1" />
                    </div>
                    <div class="form-group">
                        <label class="label-title text-right">地址</label>
                        <input name="bill[addr]" id="addr" type="text" class="form-control input-sm" value="" tabindex="-1"  maxlength="50" />
                    </div>
                   <div class="form-group">
                        <label class="label-title text-right">手机号</label>
                        <input name="bill[phone]" id="phone" type="text" class="form-control input-sm isMobile" value="" tabindex="-1" />
                    </div>
                    <div class="form-group">
                        <label class="label-title text-right">车牌号</label>
                        <input name="bill[plate]" id="plate" type="text" class="form-control input-sm isPlate" value="" tabindex="-1" />
                    </div>


         			<div class="form-group">
                        <label class="label-title text-right">理货区号</label>
                        <input name="bill[sourceName]" id="sourceName" type="text" class="form-control input-sm"tabindex="-1" maxlength="3" />
                    </div>
                    
                    <div class="table-showlist" style="width: 900px">
                     <h4 class="form-item-title">货品信息</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><span class="red">&lowast;</span>商品名称</th>
                                    <th>产地</th>
                                    <th><span class="red">&lowast;</span>商品总重量/KG</th>
                                    <th>产地证明</th>
                                    <th>检测报告</th>
                                </tr>
                                 <tr>
							        <td>
							            <div class="form-group">
							                <input type="text" class="form-control input-sm isSelected" name="bill[productName]" id="productName" required />
							                <input type="text" name="bill[productId]" hidden value="" />
							            </div>
							        </td>
							        <td>
							            <div class="form-group">
							                <input type="text" name="bill[originName]" class="form-control input-sm isSelected" id="originName" />
							                <input type="text" name="bill[originId]" hidden value="" />
							            </div>
							        </td>
							        <td>
							            <div class="form-group">
							                <input type="text" class="form-control input-sm isInt" name="bill[weight]" maxlength="9" range="0 99999999"  min="1" required/>
							            </div>
							        </td>
							        <td>
							            <div class="upload-div">
							                <a href="javascript:;" class="a-upload" tabindex="-1">
							                    <input type="file" id="originCertifiyUrl" type="file" name="file" data-url="${contextPath!}/imageController/upload.action" multiple="multipart/form-data">
							                    <span>上传</span>
							                    <input type="hidden" name="bill[imageCertList][0][uid]">
                                                <input type="hidden" name="bill[imageCertList][0][certType]" value="${@com.dili.trace.enums.ImageCertTypeEnum.ORIGIN_CERTIFIY.getCode()}">
							                </a>
							            </div>
							            <div class="view-div" style="display: none;">
							                <span>已上传</span>
							                <a href="javascript:;" data-index="0" class="img-view-a">查看图片</a>
							                <a href="javascript:$('#originCertifiyUrl').trigger('click')">重新上传</a>
							                <a href="javascript:;" class="img-del-btn">删除</a>
							            </div>
							        </td>
							        
							        <td>
							            <div class="upload-div">
							                <a href="javascript:;" class="a-upload" tabindex="-1">
							                    <input type="file" id="detectReportUrl" type="file" name="file" data-url="${contextPath!}/imageController/upload.action" multiple="multipart/form-data">
							                    <span>上传</span>
                                                <input type="hidden" name="bill[imageCertList][1][uid]">
                                                <input type="hidden" name="bill[imageCertList][1][certType]" value="${@com.dili.trace.enums.ImageCertTypeEnum.DETECT_REPORT.getCode()}">
							                </a>
							            </div>
							            <div class="view-div" style="display: none;">
							                <span>已上传</span>
							                <a href="javascript:;" data-index="0" class="img-view-a">查看图片</a>
							                <a href="javascript:$('#detectReportUrl').trigger('click')">重新上传</a>
							                <a href="javascript:;" class="img-del-btn">删除</a>
							            </div>
							        </td>
							        
							    </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <!-- 表格后的统计 end -->
                        <div style="width: 1200px">
                                                                                      常用产地:<% for(city in citys){%>
                            <a href="javascript:void(0)" onclick="selectCity(this,'${city.addressId}','${city.mergedAddress}')" title="${city.mergedAddress}">${city.address}</a>
                            <%}%>
                    </div>
                    </div>
                </div>
                <div class="form-item-group">
                <h4 class="form-item-title">分销信息</h4>
                <button type="button" class="btn-main2 btn-sm" id="addSeperateItemBtn" style="width: 120px;">添加分销信息</button>
                <div class="table-showlist" style="width: 1200px">
                    <table class="table table-bordered" id="seperateTable">
                        <thead>
                        <tr>
                            <th>理货区号</th>
                            <th>业户姓名</th>
                            <th>车牌号</th>
                            <th>分销重量/KG</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- 表格后的统计 end -->
                </div>
            </div>
            </form>

        </div>
        <div class="text-center mt30">
            <button class="btn-main2 btn-sm" onclick="create()">提交</button>&nbsp;&nbsp;
            <button class="btn-greyweak btn-sm" onclick="parent.window['ECommerceBillGrid'].removeAllAndLoadData()">取消</button>
        </div>
    </div>
</#bodyOrigin>
<link rel="stylesheet" type="text/css" href="${contextPath!}/resources/jquery-file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" type="text/css" href="${contextPath!}/resources/css/jquery-editable-select.min.css">
<script src="${contextPath!}/resources/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="${contextPath!}/resources/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<script src="${contextPath!}/resources/jquery-file-upload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script id="seperateItem" type="text/html">
    <tr>
        <td>
            <div class="form-group">
                <input type="text" class="form-control input-sm  tallyAreaNoSearch" name="separateSalesRecordList[{{index}}][tallyAreaNo]" id="tallyAreaNo_{{index}}" />
                <input type="text" name="separateSalesRecordList[{{index}}][tallyAreaNo]" hidden value="" />
            </div>
        </td>
        <td>
            <div class="form-group">
                <input type="text" name="separateSalesRecordList[{{index}}][salesUserName]" class="form-control input-sm isRealName" id="salesUserName_{{index}}" />
            </div>
        </td>
        <td>
            <div class="form-group">
                <input type="text" class="form-control input-sm isPlate" name="separateSalesRecordList[{{index}}][salesPlate]"/>
            </div>
        </td>
        <td>
            <div class="form-group">
                <input type="text" class="form-control input-sm isInt" name="separateSalesRecordList[{{index}}][salesWeight]" maxlength="6" range="0 999999" value="0" />
            </div>
        </td>
  		<td><a href="javascript:;" class="split-minus-btn">删除</a></td>
    </tr>

</script>
<script type="text/javascript">

    let seperateItemCount = 0;
    $(function () {
        $('.upload-div input[type="file"]').each(function(){
            initFileUpload($(this));
        })
        initAutoComplete('#originName','${contextPath}/toll/city.action');
        initAutoComplete('#productName','${contextPath}/toll/category.action');
        // initAutoComplete('#originName','/toll/city.action');
    });

    function returnBack(){
        history.go(-1);
    }

    /* 货品表格 */
    $('.main-container').on('click', '#addSeperateItemBtn', function () {
        var index=seperateItemCount;
        $('#seperateTable tbody').append(template('seperateItem', {index: index}));
        //查询逻辑调整，user信息需要从uap过来
        tallyAreaNoAutoComplete('#tallyAreaNo_'+index,'${contextPath}/user/queryByTallyAreaNo.action');
        seperateItemCount++;
    });

    $('.main-container').on('click', '.split-minus-btn', function () {
        if ($('#seperateTable tr').length > 2) {
            $(this).closest('tr').remove();
        }
    })

    /* 选择图片 */
    $('.main-container').on('change', '.choose-image', function () {
        $('.choose-image').val()
        let filePath = $(this).val()
        if (!filePath || ! /\.(jpg|jpeg|gif|bmp|png)$/i.test(filePath)) {
            $(this).val('')
            $(this).siblings('.show-image').attr('src', '')
            return false;
        } else {
            let src = window.URL.createObjectURL(this.files[0])
            $(this).siblings('.show-image').attr('src', src)
        }
    })
    $('.main-container').on('click', '.imageUploadWrap .edit-zoom', function () {
        var url = $(this).siblings('.show-image').attr('src');
        if(url){
            layer.open({
                type: 1,
                skin: 'layui-layer-rim',
                closeBtn: 2,
                area: ['90%', '90%'], // 宽高
                content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
            });
        }
    })

    function appendCachedPlate(userplateList,editableSelector){
        var cachedPlateArray=getCachedPlateArray()
        var notInUserPlateList=$.grep(cachedPlateArray, function(v,i){
            return $.inArray(v,userplateList)==-1;
        });
        if(notInUserPlateList.length>0){
            $(editableSelector).editableSelect('add', function () {
                $(this).val('&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;');
                $(this).attr('disabled','disabled')
                $(this).text('---------------');
            });// 调用add方法 通过函数的方式绑定上val和txt

            $.each(notInUserPlateList, function (i, v) {
                $(editableSelector).editableSelect('add', function () {
                    $(this).val(v);
                    $(this).text(v);
                });// 调用add方法 通过函数的方式绑定上val和txt
            });

        }

    }
    function findUserPlateByUserId(userId,editableSelector){
        $.ajax({
            type: 'post',
            url: '${contextPath}/trade/customer/findUserPlateByUserId',
            data:{userId:userId},
            dataType: 'json',
            async: false,
            success: function (ret) {
                if (ret.code == "200") {
                    // $('#plate').empty();
                    var userplateList = $.map(ret.data,function(v,i){
                        return v.plate;
                    });
                    $(editableSelector).editableSelect('clear');// 清空现有数据
                    $.each(userplateList, function (i, v) {
                        $(editableSelector).editableSelect('add', function () {
                            $(this).val(v);
                            $(this).text(v);
                        });// 调用add方法 通过函数的方式绑定上val和txt
                    });
                    appendCachedPlate(userplateList,editableSelector);


                } else {
                    $(editableSelector).editableSelect('clear');
                }
            },
            error:function(){
                $(editableSelector).editableSelect('clear');
            }
        });
    }

    function initAutoComplete(selector,url){
        $(selector).keydown(function (e){
            if(e.keyCode == 13){
                // $(selector).data('keycode',e.keyCode);
                // console.info('keydown')
            }
        });
        $(selector).data('oldvalue','');
        // $(selector).data('keycode','');
        $(selector).on('change',function () {
            var oldvalue=$(selector).data('oldvalue');
            var val=$(this).val();
            if(oldvalue!=val){
                $(this).siblings('input').val('');
            }
        });
        // 产地联系输入
        $(selector).devbridgeAutocomplete({
            ajaxSettings:{header:{"sign":"121"}},
            noCache: 1,
            serviceUrl: url,  // 数据地址
            // lookup: countries, 本地测试模拟数据使用结合上面的var countries
            dataType: 'json',
            onSearchComplete: function (query, suggestions) {
                // console.info(2)
            },
            showNoSuggestionNotice: true,
            noSuggestionNotice: "不存在，请重输！",
            autoSelectFirst:true,
            autoFocus: true,
            onSelect: function (suggestion) {
                console.info('onSelect')
                var self = this;
                var idField = $(self).siblings('input');
                idField.val(suggestion.id);
                $(self).val(suggestion.value.trim());
                $(selector).data('oldvalue',suggestion.value);
                var v=$(self).valid();
            }
        });
    }

    /**
     * 初始化自动完成框
     */
    function tallyAreaNoAutoComplete(selector,url){
        $(selector).keyup(function (e){
            var oldvalue=$(selector).data('oldvalue');
            var val=$(this).val();
            if(oldvalue!=val){
                $(this).parents('tr').find('input[name*=salesUserName]').val('')
                $(this).parents('tr').find('input[name*=salesPlate]').val('')
            }
        });
        $(selector).data('oldvalue','');
        // $(selector).data('keycode','');
        $(selector).on('change',function () {
            var oldvalue=$(selector).data('oldvalue');
            var val=$(this).val();

            if(oldvalue!=val){

                $(this).parents('tr').find('input[name*=salesUserName]').val('')
                $(this).parents('tr').find('input[name*=salesPlate]').val('')

            }
        });
        // 产地联系输入
        $(selector).devbridgeAutocomplete({
            noCache: 1,
            serviceUrl: url,  // 数据地址
            // lookup: countries, 本地测试模拟数据使用结合上面的var countries
            dataType: 'json',
            onSearchComplete: function (query, suggestions) {

                // console.info(2)
            },
            formatResult: function (suggestion, currentValue) {
                let tallyAreaNo = suggestion.tallyAreaNo == undefined?"":suggestion.tallyAreaNo;
                let userName = suggestion.userName == undefined?"":suggestion.userName;
                let plate = suggestion.plate == undefined?"":suggestion.plate;
                return tallyAreaNo+"|"+userName+"|"+plate
            },
            transformResult: function(response, originalQuery){
                var suggestions=[]
                if(response.code=='200'){
                    $.each(response.data,function(){
                        suggestions.push({"id":this.tallyAreaNo,"value":this.tallyAreaNo,"plate":this.plate,"userName":this.userName,"tallyAreaNo":this.tallyAreaNo})
                    })
                }
                return {suggestions:suggestions}
            },
            showNoSuggestionNotice: true,
            noSuggestionNotice: "不存在，请重输！",
            autoSelectFirst:true,
            autoFocus: true,
            onSelect: function (suggestion) {
                var self = this;
                var plate=suggestion.plate;
                var userName=suggestion.userName;
                var tallyAreaNo=suggestion.tallyAreaNo;

                $(self).parents('tr').find('input[name*=salesUserName]').val(userName)
                $(self).parents('tr').find('input[name*=salesPlate]').val(plate)

                var idField = $(self).siblings('input');
                idField.val(suggestion.id);
                $(self).val(suggestion.value.trim());
            debugger
                $(selector).data('oldvalue',suggestion.value);
                //var v=$(self).valid();
            }
        });
    }


    jQuery.validator.addMethod("isPlate", function(value, element) {
        return this.optional(element) || isLicensePlate(value.toUpperCase());
    }, "请输入正确格式的车牌");


    // 正则验证车牌,验证通过返回true,不通过返回false
    function isLicensePlate(str) {
        return /^([京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领][A-Z][A-HJ-NP-Z0-9]{4,5}[A-HJ-NP-Z0-9挂学警港澳使领])$/.test(str);
    }

    function buildTableData(){
        var data=$('#createRecordForm').serializeJSON({useIntKeysAsArrayIndex:true});
        return data;
    }
    function cachePlate(plate){
        if(jQuery.type(plate) === "string"&&plate.trim().length>0){
            var plateArray=getCachedPlateArray();
            if(jQuery.inArray(plate.trim(), plateArray )==-1){
                plateArray.push(plate.trim());
                localStorage.setItem('plateArray',JSON.stringify(plateArray));
            }
        }

    }
    function getCachedPlateArray(){
        var plateArray=localStorage.getItem('plateArray');
        if(typeof(plateArray)!='undefined'&&plateArray!=null){
            return $.makeArray(JSON.parse(plateArray));
        }else{
            localStorage.setItem('plateArray',JSON.stringify([]));
        }
        return []
    }
    function cacheInputtedPlate(editableSelector){
        var inList=false;
        var plate=$(editableSelector).val();

        $(editableSelector).siblings(".es-list" ).find('li').each(function(){
            if(plate==$(this).text()){
                inList=true;
                return false;
            }
        })

        if(inList==false){
            cachePlate(plate);
        }

    }
    var resubmit = 0;
    function create(){
        if(resubmit==0){
            resubmit=1;
        }else{
            resubmit=0;
            swal(
                '错误',
                '重复提交',
                'error'
            );
            return;
        }

        if($('#createRecordForm').validate().form() != true){
            resubmit = 0;
            return;
        }

        var data = buildTableData();
        $.ajax({
            type: "POST",
            url: "/ecommerceBill/insert.action",
            data :  JSON.stringify(data),
            dataType: "json",
            async : true,
            contentType: "application/json; charset=utf-8",
            success: function (ret) {
                if(ret.success){
                    var paramStr = JSON.stringify(ret.data);
                    cacheInputtedPlate("#plate");
                    layer.alert('登记成功',{
                            type:0,
                            time : 600,
                            end :function(){
                                parent.window['ECommerceBillGrid'].removeAllAndLoadData()
                            }
                        },function () {
                            parent.window['ECommerceBillGrid'].removeAllAndLoadData()
                        }
                    );
                }else{
                    resubmit=0;
                    layer.alert("错误"+ret.message);
                }
            },
            error: function(){
                resubmit=0;
                layer.alert("错误:远程访问失败");
            }
        });
    }



    $( document ).on( "click", ".img-view-a",function () {
        var url =  $(this).parent().siblings('.upload-div').find('input[type="hidden"]').val()
        url = "${imageViewPathPrefix}/" + url;
    debugger
        if(url){
            layer.open({
                title:'图片',
                type: 1,
                skin: 'layui-layer-rim',
                closeBtn: 2,
                area: ['90%', '90%'], // 宽高
                content: '<p style="text-align:center"><img src="' + url + '" alt="" class="show-image-zoom"></p>'
            });
        }
    });
    $('.img-del-btn').click(function(){

        $(this).parent().siblings('.upload-div').show()
        $(this).parent().hide();
        $(this).parent().siblings('.upload-div').find("input:hidden[name*=uid]").val('');
        $(this).parent().siblings('.upload-div').find('.magnifying').attr('src', '').hide();
        $(this).parent().siblings('.upload-div').find('.fileimg-cover,.fileimg-edit').hide();

    })

    // 文件上传组件初始化
    function initFileUpload(selecter) {
        $(selecter).fileupload({
            dataType: 'json',
            formData: {type: 4, compress: true},
            done: function (e, res) {
                if (res.result.code == 200) {
                    var uid = res.result.data;
                    $(this).siblings("input:hidden[name*=uid]").val(uid);
                    $(this).parent().parent().hide();
                    $(this).parent().parent().next().show();
                }
            },
            add: function (e, data) {// 判断文件类型 var acceptFileTypes =
                // /\/(pdf|xml)$/i;
                var acceptFileTypes = /^gif|bmp|jpe?g|png$/i;
                var name = data.originalFiles[0]["name"];
                var index = name.lastIndexOf(".") + 1;
                var fileType = name.substring(index, name.length);
                if (!acceptFileTypes.test(fileType)) {
                    swal('错误', '请您上传图片类文件jpe/jpg/png/bmp!', 'error');
                    return;
                }
                var size = data.originalFiles[0]["size"];
                // 10M
                if (size > (1024 * 10 * 1024)) {
                    swal('错误', '上传文件超过最大限制!', 'error');
                    return;
                }
                data.submit();
            }
        });
    }
    function selectCity(cthis,id,mergeName){
        $('#originName').each(function(k,v){
            // if($(this).val()==''){
            $(this).val(mergeName);
            $(this).siblings('input:hidden').val(id)
            // }
        });
    }
</script>
