<#bs4Body>

<div class="container-fluid">
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="detectStatus">检测状态</label>
                <select id="detectStatus" name="detectStatus" class="form-control"></select>
                <#bcomboProvider _id="detectStatus" _provider="detectStatusProvider" _value="" _onLoadSuccess=""/>
            </div>
            <div class="form-group col">
                <label for="verifyStatus">审核状态</label>
                <select id="verifyStatus" name="verifyStatus" class="form-control"></select>
                <#bcomboProvider _id="verifyStatus" _provider="billVerifyStatusEnumProvider" _value="" _onLoadSuccess=""/>
            </div>
            <div class="form-group col">
                <label for="productName">商品</label>
                <input id="productName" name="productName" class="form-control" />
                <!--<select id="productId" name="productId" class="form-control"></select>-->
            </div>
            <!--_salesCityName-->
            <div class="form-group col">
                <label for="originName">产地</label>
                <input id="originName" name="originName" class="form-control" />
            </div>
            <div class="form-group col">
                <label for="detectResultSelect">检测结果</label>
                <select id="detectResultSelect" name="detectResultSelect" class="form-control" data-value-type="skip">
                    <option value='{"detectType":"","detectResult":""}'>-- 请选择 --</option>
                    <option value='{"detectType":"${@com.dili.trace.enums.DetectTypeEnum.INITIAL_CHECK.getCode()}","detectResult":"${@com.dili.trace.enums.DetectResultEnum.PASSED.getCode()}"}'>初检合格</option>
                    <option  value='{"detectType":"${@com.dili.trace.enums.DetectTypeEnum.INITIAL_CHECK.getCode()}","detectResult":"${@com.dili.trace.enums.DetectResultEnum.FAILED.getCode()}"}'>初检不合格</option>
                    <option  value='{"detectType":"${@com.dili.trace.enums.DetectTypeEnum.RECHECK.getCode()}","detectResult":"${@com.dili.trace.enums.DetectResultEnum.PASSED.getCode()}"}'>复检合格</option>
                    <option  value='{"detectType":"${@com.dili.trace.enums.DetectTypeEnum.RECHECK.getCode()}","detectResult":"${@com.dili.trace.enums.DetectResultEnum.FAILED.getCode()}"}'>复检不合格</option>
                </select>
                <input type="hidden" name="detectType" class="form-control">
                <input type="hidden" name="detectResult" class="form-control">
            </div>
            <div class="form-group col-auto">
                <label for="latestDetectTimeTimeStart">检测时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input autocomplete="off" type="text" name="latestDetectTimeTimeStart" id="latestDetectTimeTimeStart" class="form-control laydatetime laystart"/>
                        <div class="input-group-append">
                            <label for="latestDetectTimeTimeStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input autocomplete="off" type="text" name="latestDetectTimeTimeEnd" id="latestDetectTimeTimeEnd" class="form-control laydatetime layend"/>
                        <div class="input-group-append">
                            <label for="latestDetectTimeTimeEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-auto">
                <label for="createdStart">登记时间</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input autocomplete="off" type="text" name="createdStart" id="createdStart" class="form-control laydatetime laystart"/>
                        <div class="input-group-append">
                            <label for="createdStart" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group">
                        <input autocomplete="off" type="text" name="createdEnd" id="createdEnd" class="form-control laydatetime layend"/>
                        <div class="input-group-append">
                            <label for="createdEnd" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label for="code">登记编号</label>
                <input autocomplete="off" type="text" class="form-control" name="code" id="code"/>
            </div>

            <div class="col-auto align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>
    <hr>
    <div>
        <div id="toolbar" class="btn-group" role="group" aria-label="工具栏">
            <#resource code="ecommerceBill#add">
                <button id="add-btn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</button>
            </#resource>
            <#resource code="ecommerceBill#audit">
                <button id="audit-btn" type="button" class="btn btn-primary" style="display: none"><i class="fa fa-user"></i> 审核</button>
            </#resource>
            <#resource code="ecommerceBill#delete">
                <button id="delete-btn" type="button" class="btn btn-primary" style="display: none"><i class="fa fa-undo"></i> 撤销</button>
            </#resource>
            <#resource code="ecommerceBill#print">
                <button id="print-btn" type="button" class="btn btn-primary" style="display: none"><i class="fa fa-print"></i> 打印不干胶</button>
            </#resource>
            <#resource code="ecommerceBill#printSeperatePrintReport">
                <button id="printSeperatePrintReport-btn" type="button" class="btn btn-primary" style="display: none"><i class="fa fa-print"></i> 打印分销报告</button>
            </#resource>
            <#resource code="ecommerceBill#detail">
                <button id="detail-btn" type="button" class="btn btn-primary" style="display: none"><i class="fa fa-eye"></i> 查看</button>
            </#resource>
            <#resource code="ecommerceBill#export">
                <button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('ecommerceBillGrid','queryForm')"><i class="fa fa-download"></i> 导出</button>
            </#resource>
        </div>




        <table id="ecommerceBillGrid" data-toggle="table" data-title="电商登记单列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="10"
               data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="true"
               data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="created" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
               data-show-refresh="true" data-show-fullscreen="true" data-show-columns="true" data-detail-view="false">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="created" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    登记时间
                </th>
                <th data-field="code" data-sortable="true" data-align="center">
                    编号
                </th>
                <th data-field="sampleCode" data-sort-name="sample_code" data-sortable="true" data-align="center">
                    采样编号
                </th>
                <th data-field="name" data-sortable="true" data-align="center">
                    业户姓名
                </th>
                <th data-field="corporateName" data-sort-name="corporate_name" data-sortable="true" data-align="center">
                    企业姓名
                </th>
                <th data-field="productName" data-sort-name="product_name" data-sortable="true" data-align="center">
                    商品名称
                </th>
                <th data-field="weight" data-sortable="true" data-align="center">
                    重量
                </th>
                <th data-field="weightUnitName" data-sort-name="weight_unit" data-sortable="true" data-align="center">
                    重量单位
                </th>
                <!--<th data-field="detectRequest.detectResult" data-sortable="false" data-align="center">
                    检测值
                </th>-->
                <th data-field="originName" data-sort-name="origin_name" data-sortable="true" data-align="center">
                    产地
                </th>
                <th data-field="verifyStatusName" data-sort-name="verify_status" data-sortable="true" data-align="center" >
                    审核状态
                </th>
                <th data-field="detectStatusName"  data-sort-name="detect_status" data-sortable="true" data-align="center"  >
                    检测状态
                </th>
                <th data-field="detectTime" data-sort-name="detect_time" data-sortable="true" data-align="center" data-provider="datetimeProvider">
                    检测时间
                </th>
                <th data-field="detectDesc"  data-sort-name="detect_result"  data-sortable="true" data-align="center">
                    检测结果
                </th>
                <th data-field="detectorName" data-sort-name="creator_name" data-sortable="true" data-align="center">
                    检测员
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

</#bs4Body>

<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js"></script>
<script src="${contextPath!}/resources/js/WebConfig.js"></script>
<script src="${contextPath!}/resources/js/CityController.js"></script>
<script src="${contextPath!}/resources/js/CategoryController.js"></script>
<script src="${contextPath!}/resources/js/ecommercebill.index.js?v=${v}"></script>
<script src="${contextPath!}/resources/assets/dep/jquery/laydate/laydate.js"></script>
<#webGlobalConfig/>

<script>
    laydate.render({
        elem: '#latestDetectTimeTimeStart',
        type: 'datetime'
    });
    laydate.render({
        elem: '#latestDetectTimeTimeEnd',
        type: 'datetime'
    });
    laydate.render({
        elem: '#createdStart',
        type: 'datetime'
    });
    laydate.render({
        elem: '#createdEnd',
        type: 'datetime'
    });
    $(function () {
        var ecommerceBillGrid=new EcommerceBillGrid($('#ecommerceBillGrid'),$('#queryForm'),$('#toolbar'));
    });
</script>