<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.CategoryMapper">
    <!--- 联合查询分页信息 -->
    <select id="selectForPage" parameterType="com.dili.trace.domain.Category" resultType="com.dili.trace.domain.Category">
        select c.* from category c
        <include refid="QUERY_WHERE_CLAUSE" />
        GROUP BY c.id
        order by ${sort} ${order}
    </select>

    <!-- 全部条件(更多功能可以通过queryData扩展实现) -->
    <sql id="QUERY_WHERE_CLAUSE">
        <where>
            1 = 1
            <if test="name != null and name != ''">
                and c.name  LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="code != null and code != ''">
                and c.code = #{code}
            </if>
            <if test="type != null and type != ''">
                and c.type = #{type}
            </if>
            <if test="specification != null and specification != ''">
                and c.specification = #{specification}
            </if>
            <if test="isShow != null and isShow != ''">
                and c.is_show = #{isShow}
            </if>
            <if test="state != null and state != ''">
                and c.state = #{state}
            </if>
        </where>
    </sql>
</mapper>