<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.CheckBillMapper">
    <resultMap id="tableResultMap" type="com.dili.trace.domain.CheckOrder">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="id_card" jdbcType="VARCHAR" property="idCard" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="tally_area_nos" jdbcType="VARCHAR" property="tallyAreaNos" />
        <result column="check_no" jdbcType="VARCHAR" property="checkNo" />
        <result column="check_org_code" jdbcType="VARCHAR" property="checkOrgCode" />
        <result column="check_org_name" jdbcType="VARCHAR" property="checkOrgName" />
        <result column="check_result" jdbcType="TINYINT" property="checkResult" />
        <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
        <result column="check_type" jdbcType="TINYINT" property="checkType" />
        <result column="checker_id" jdbcType="BIGINT" property="checkerId" />
        <result column="checker" jdbcType="VARCHAR" property="checker" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
        <result column="market_id" jdbcType="BIGINT" property="marketId" />
        <result column="report_flag" jdbcType="TINYINT" property="reportFlag" />
        <result column="inbound_no" jdbcType="VARCHAR" property="inboundNo" />
        <association javaType="com.dili.trace.domain.CheckOrderData" property="checkOrderData">
            <id column="id"  property="id" />
            <result column="check_id"  property="checkId" />
            <result column="project"  property="project" />
            <result column="normal_value"  property="normalValue" />
            <result column="result"  property="result" />
            <result column="value"  property="value" />
        </association>
    </resultMap>

    <resultMap id="viewResultMap" type="com.dili.trace.domain.CheckOrder">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="id_card" jdbcType="VARCHAR" property="idCard" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="tally_area_nos" jdbcType="VARCHAR" property="tallyAreaNos" />
        <result column="check_no" jdbcType="VARCHAR" property="checkNo" />
        <result column="check_org_code" jdbcType="VARCHAR" property="checkOrgCode" />
        <result column="check_org_name" jdbcType="VARCHAR" property="checkOrgName" />
        <result column="check_result" jdbcType="TINYINT" property="checkResult" />
        <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
        <result column="check_type" jdbcType="TINYINT" property="checkType" />
        <result column="checker_id" jdbcType="BIGINT" property="checkerId" />
        <result column="checker" jdbcType="VARCHAR" property="checker" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
        <result column="market_id" jdbcType="BIGINT" property="marketId" />
        <result column="report_flag" jdbcType="TINYINT" property="reportFlag" />
        <result column="inbound_no" jdbcType="VARCHAR" property="inboundNo" />
        <association javaType="com.dili.trace.domain.CheckOrderData" property="checkOrderData">
            <id column="id"  property="id" />
            <result column="check_id"  property="checkId" />
            <result column="project"  property="project" />
            <result column="normal_value"  property="normalValue" />
            <result column="result"  property="result" />
            <result column="value"  property="value" />
        </association>
        <association javaType="com.dili.trace.domain.ImageCert" property="imageCert">
            <id column="id"  property="id" />
            <result column="bill_id"  property="billId" />
            <result column="url"  property="url" />
            <result column="cert_type"  property="certType" />
            <result column="created"  property="created" />
            <result column="modified"  property="modified" />
            <result column="bill_type"  property="billType" />
        </association>
    </resultMap>
    <!--- 联合查询分页信息 -->
    <select id="selectForPage" parameterType="com.dili.trace.dto.CheckOrderDto" resultType="com.dili.trace.dto.CheckOrderDto">
        select co.*,cd.check_id as check_id,cd.project as project,cd.normal_value as normal_value,cd.result as result,cd.value as value
        FROM check_order co JOIN check_data cd on co.id=cd.check_id
        <include refid="QUERY_WHERE_CLAUSE" />
        GROUP BY co.id
        order by ${sort} ${order}
    </select>

    <!-- 全部条件(更多功能可以通过queryData扩展实现) -->
    <sql id="QUERY_WHERE_CLAUSE">
        <where>
            1 = 1
            <if test="marketId != null and marketId != ''">
                and co.market_id = #{marketId}
            </if>
            <if test="checkNo != null and checkNo != ''">
                and co.check_no = #{checkNo}
            </if>
            <if test="userId != null and userId != ''">
                and co.user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and co.user_name = #{userName}
            </if>
            <if test="goodsCode != null and goodsCode != ''">
                and co.goods_code = #{goodsCode}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and co.goods_name = #{goodsName}
            </if>
            <if test="checker != null and checker != ''">
                and co.checker = #{checker}
            </if>
            <if test="checkTimeStart != null">
                and co.check_time <![CDATA[   >=  ]]> #{checkTimeStart}
            </if>
            <if test="checkTimeEnd != null">
                and co.check_time <![CDATA[   <=  ]]> #{checkTimeEnd}
            </if>
        </where>
    </sql>


    <!--- 根据id查询数据信息 -->
    <select id="selectAllInfoById" parameterType="Long" resultType="com.dili.trace.dto.CheckOrderDto">
        select co.*,cd.check_id as check_id,cd.project as project,cd.normal_value as normal_value,cd.result as result,cd.value as value,im.url
        FROM check_order co JOIN check_data cd JOIN image_cert im on co.id = cd.check_id and co.id = im.bill_id
        where 1 = 1 and im.bill_type = 2 and co.id = #{id}
    </select>

    <insert id="insertOneToCheckOrder" useGeneratedKeys="true"  keyProperty="id" keyColumn="id" parameterType="com.dili.trace.dto.CheckOrderDto">
        insert into check_order (check_no, user_id, user_name,goods_code,goods_name,checker,check_org_name,check_type,check_result,check_time,inbound_no,market_id)
        values (#{checkNo}, #{userId}, #{userName},
        #{goodsCode},
        #{goodsName},
        #{checker},#{checkOrgName},#{checkType},#{checkResult},#{checkTime},#{inboundNo},#{marketId})
    </insert>


    <insert id="saveEasyExcelMappingData" parameterType="com.dili.trace.dto.CheckExcelDto">
        <selectKey keyProperty="pid" resultType="long">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO check_order
        (
        check_no, user_id, user_name,goods_code,goods_name,checker,check_org_name,check_type,check_result,check_time,inbound_no
        )
        VALUES
        <foreach collection="checkExcelDtos" item="checkExcelDtos" separator=",">
            (
            #{checkExcelDtos.check_no},
            #{checkExcelDtos.user_id},
            #{checkExcelDtos.user_name},
            #{checkExcelDtos.goods_code},
            #{checkExcelDtos.goods_name},
            #{checkExcelDtos.checker},
            #{checkExcelDtos.check_org_name},
            #{checkExcelDtos.check_type},
            #{checkExcelDtos.check_result},
            #{checkExcelDtos.check_time},
            #{checkExcelDtos.inbound_no}
            )
        </foreach>
    </insert>

    <insert id="saveExcelData" parameterType="com.dili.trace.dto.CheckExcelDto">
        INSERT INTO check_order
        (
        check_no, user_id, user_name,goods_code,goods_name,checker,check_org_name,check_type,check_result,check_time,inbound_no
        )
        VALUES
            (
            #{checkNo},
            #{userId},
            #{userName},
            #{goodsCode},
            #{goodsName},
            #{checker},
            #{checkOrgName},
            #{checkType},
            #{checkResult},
            #{checkTime},
            #{inboundNo}
            )
    </insert>
</mapper>