<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.dili.trace.domain.Customer">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="customerID" jdbcType="VARCHAR" property="customerId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="IDNo" jdbcType="VARCHAR" property="idNo" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="printingCode" jdbcType="VARCHAR" property="printingCard" />
    <result column="active" jdbcType="INTEGER" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    customerID as customerId, name, IDNo AS idNo, address, printingCode, active
  </sql>

  <select id="findByCustomerId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from vCustomer
    where customerID = #{customerId}
  </select>
  <select id="findByPrintingCard" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from vCustomer
    where printingCode = #{printingCard}
  </select>




</mapper>