<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.FieldConfigMapper">
    <resultMap id="BaseResultMap" type="com.dili.trace.domain.FieldConfig">

    </resultMap>

    <insert id="insertOrIgnoreFieldConfig" parameterType="com.dili.trace.domain.FieldConfig">
        INSERT ignore into `field_config`
        (market_id,module_type)
       values( #{marketId},#{moduleType});
    </insert>
</mapper>