<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.HangGuoDataMapper">

    <insert id="bachInsertCommodityList" parameterType="java.util.List" useGeneratedKeys="true">
        insert into category(name,full_name,level,created,modified,market_id,type,specification,code,parent_code)
        values
        <foreach collection="list" item="co" separator=",">
            (#{co.name},#{co.fullName},#{co.level},#{co.created},#{co.modified},#{co.marketId},#{co.type},#{co.specification},#{co.code},#{co.parentCode})
        </foreach>
    </insert>

    <update id="updateHangGuoCommodityParent" parameterType="com.dili.trace.domain.Category">
       UPDATE category c,category c2
        SET c2.parent_id=c.id
        WHERE c.code=c2.parent_code
        AND c2.parent_code IS NOT NULL
        AND DATE(c2.created) = DATE(#{created})
    </update>

    <select id="getUserListByThirdPartyCode" parameterType="java.util.List"
            resultType="com.dili.trace.domain.User">
        SELECT
        u.name,
        u.id,
        u.third_party_code
        FROM
        user u
        where u.third_party_code
        <foreach collection="list" open=" IN (" close=")" item="thirdCode" separator=",">
            #{thirdCode}
        </foreach>
    </select>

    <update id="batchUpdateUserByThirdCode" parameterType="com.dili.trace.domain.User">
        update user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="cardNo != null">
                card_no = #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                addr = #{addr,jdbcType=VARCHAR},
            </if>
            <if test="cardNoUrl != null">
                card_no_url = #{cardNoUrl,jdbcType=VARCHAR},
            </if>
            <if test="tallyAreaNo != null">
                tally_area_no = #{tallyAreaNo,jdbcType=VARCHAR},
            </if>
            <if test="businessLicenseUrl != null">
                business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
            </if>
            <if test="salesCityId != null">
                sales_city_id = #{salesCityId,jdbcType=BIGINT},
            </if>
            <if test="salesCityName != null">
                sales_city_name = #{salesCityName,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=BIT},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=TIMESTAMP},
            </if>

            <if test="license != null">
                license = #{license},
            </if>
            <if test="credentialType != null">
                credential_type = #{credentialType},
            </if>
            <if test="credentialName != null">
                credential_name = #{credentialName},
            </if>
            <if test="credentialUrl != null">
                credential_url = #{credentialUrl},
            </if>
            <if test="credentialNumber != null">
                credential_number = #{credentialNumber},
            </if>
            <if test="idAddr != null">
                id_addr = #{idAddr},
            </if>
            <if test="whereis != null">
                whereis = #{whereis},
            </if>
            <if test="creditLimit != null">
                credit_limit = #{creditLimit},
            </if>
            <if test="effectiveDate != null">
                effective_date = #{effectiveDate},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="fixedTelephone != null">
                fixed_telephone = #{fixedTelephone},
            </if>
            <if test="chargeRate != null">
                charge_rate = #{chargeRate},
            </if>

            <if test="mangerRate != null">
                manger_rate = #{mangerRate},
            </if>
            <if test="storageRate != null">
                storage_rate = #{storageRate},
            </if>
            <if test="assessRate != null">
                assess_rate = #{assessRate},
            </if>
            <if test="approver != null">
                approver = #{approver},
            </if>
            <if test="supplierType != null">
                supplier_type = #{supplierType},
            </if>
        </set>
        where third_party_code
        <foreach collection="list" open=" IN (" close=")" item="thirdCode" separator=",">
            #{thirdCode}
        </foreach>
    </update>

    <select id="getCategoryListByThirdCode" parameterType="java.util.List"
            resultType="com.dili.trace.domain.Category">
        select
        id,
        parent_id,
        name,
        full_name,
        level,
        created,
        modified,
        market_id,
        code,
        is_show,
        type,
        specification,
        parent_code
        from category
        where
        code
        <foreach collection="list" open=" IN (" close=")" item="thirdCode" separator=",">
            #{thirdCode}
        </foreach>
    </select>

    <delete id="deleteHangGuoCommodityByThirdCode" parameterType="java.util.List">
        delete from category
        where
        code
        <foreach collection="list" open=" IN (" close=")" item="thirdCode" separator=",">
            #{thirdCode.code}
        </foreach>
    </delete>

    <insert id="bachInsertCacheTradeList" parameterType="java.util.List">
        insert into third_hangguo_trade_data
        (order_date,supplier_no,supplier_name,batch_no,item_number,item_name,unit,origin_no,
        origin_name,position_no,position_name,price,package_number,number,amount,weight,
        trade_no,pos_no,pay_way,member_no,member_name,total_amount,operator,payer,
        pay_no,register_no)
        values
        <foreach collection="list" item="t" separator=",">
            (#{t.orderDate},#{t.supplierNo},#{t.supplierName},#{t.batchNo},#{t.itemNumber},#{t.itemName},#{t.unit},#{t.originNo},
            #{t.originName},#{t.positionNo},#{t.positionName},#{t.price},#{t.packageNumber},#{t.number},#{t.amount},#{t.weight},
            #{t.tradeNo},#{t.posNo},#{t.payWay},#{t.memberNo},#{t.memberName},#{t.totalAmount},#{t.operator},#{t.payer},
            #{t.payNo},#{t.registerNo}
            )
        </foreach>
    </insert>

    <select id="getBillTradeDetailListByBillIds" parameterType="java.util.List"
            resultType="com.dili.trace.domain.TradeDetail">
        SELECT
        id,
        parent_id,
        bill_id,
        checkin_record_id,
        checkout_record_id,
        checkin_status,
        checkout_status,
        sale_status,
        trade_type,
        buyer_id,
        buyer_name,
        seller_id,
        seller_name,
        product_name,
        stock_weight,
        total_weight,
        weight_unit,
        product_stock_id,
        trade_request_id,
        created,
        modified,
        is_batched,
        batch_no,
        parent_batch_no,
        pushaway_weight,
        soft_weight
        FROM trade_detail
        WHERE bill_id
        <foreach collection="list" open=" IN (" close=")" item="billId" separator=",">
            #{billId}
        </foreach>
    </select>
    <select id="getProductStockListByIds" parameterType="java.util.List"
            resultType="com.dili.trace.domain.ProductStock">
        select
        id,
        preserve_type,
        stock_weight,
        total_weight,
        weight_unit,
        spec_name,
        product_name,
        product_id,
        user_name,
        user_id,
        brand_id,
        created,
        modified,
        trade_detail_num,
        brand_name,
        market_id
        from product_stock
        where
        id
        <foreach collection="list" open=" IN (" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </select>

    <update id="updateTradeReportListByBeyondAmount">
        update third_hangguo_trade_data
        set report_flag=3
        where amount >= 500000
    </update>

    <select id="selectTradeReportListByHandleFlag" parameterType="com.dili.trace.domain.hangguo.HangGuoTrade"
            resultType="com.dili.trace.domain.hangguo.HangGuoTrade">
        select
        id,order_date,supplier_no,supplier_name,batch_no,item_number,item_name,unit,origin_no,
        origin_name,position_no,position_name,price,package_number,number,amount,weight,
        trade_no,pos_no,pay_way,member_no,member_name,total_amount,operator,payer,
        pay_no,register_no,handle_flag,report_flag,handle_remark
        from third_hangguo_trade_data
        where handle_flag=#{handleFlag}
    </select>

    <update id="batchUpdateCacheTrade">
        update third_hangguo_trade_data
        set handle_flag=#{handleFlag}
        where id
        <foreach collection="list" open=" IN (" close=")" item="trade" separator=",">
            #{trade.id}
        </foreach>
    </update>
    <select id="getRegisterBillByIds" parameterType="java.util.List" resultType="com.dili.trace.domain.RegisterBill">
        select
        id,code,sample_code,name,id_card_no,addr,phone,user_id,plate,
        state,sales_type,product_name,product_id,origin_id,origin_name,weight,operator_id,
        operator_name,sample_source,detect_state,latest_detect_record_id,latest_detect_operator,
        latest_detect_time,latest_pd_result,version,created,modified,upstream_id,complete,verify_status,
        weight_unit,preserve_type,verify_type,spec_name,bill_type,brand_id,brand_name,truck_type,tally_area_no,
        reason,is_checkin,checkin_status,checkout_status,is_deleted,operation_time,market_id,register_head_code,
        third_party_code,area,measure_type,piece_num,piece_weight,remark,create_user,delete_user,delete_time,
        packaging,order_type
        from register_bill
        where
        id
        <foreach collection="list" open=" IN (" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="batchInsertTradeDetail" parameterType="java.util.List">
        insert into trade_detail(
        parent_id,bill_id,checkin_record_id,checkout_record_id,checkin_status,
        checkout_status,sale_status,trade_type,buyer_id,buyer_name,seller_id,seller_name,
        product_name,stock_weight,total_weight,weight_unit,product_stock_id,trade_request_id,created,modified,
        is_batched,batch_no,parent_batch_no,pushaway_weight,soft_weight
        )
        values
        <foreach collection="list" item="t" separator=",">
            (#{t.parentId},#{t.billId},#{t.checkinRecordId},#{t.checkoutRecordId},#{t.checkinStatus},
            #{t.checkoutStatus},#{t.saleStatus},#{t.tradeType},#{t.buyerId},#{t.buyerName},#{t.sellerId},#{t.sellerName},
            #{t.productName},#{t.stockWeight},#{t.totalWeight},#{t.weightUnit},#{t.productStockId},#{t.tradeRequestId},
            #{t.created},#{t.modified},#{t.isBatched},#{t.batchNo},#{t.parentBatchNo},#{t.pushawayWeight},#{t.softWeight})
        </foreach>
    </insert>

    <select id="getCheckOrderDataList" parameterType="java.util.List" resultType="com.dili.trace.domain.CheckOrderData">
        select
        id,
        check_id,
        project,
        normal_value,
        result,
        `value`
        from
        check_data
        where
        check_id
        <foreach collection="list" open=" IN (" close=")" item="t" separator=",">
            #{t.id}
        </foreach>
    </select>
    <select id="getReportCheckOrderList" parameterType="com.dili.trace.domain.CheckOrder"
            resultType="com.dili.trace.domain.CheckOrder">
        select
        id,
        id_card,
        check_no,
        check_org_code,
        check_org_name,
        check_result,
        check_time,
        check_type,
        checker,
        goods_name,
        goods_code,
        market_id,
        report_flag
        from check_order
        where 1=1
        <if test="report_flag != null">
           and report_flag = #{reportFlag}
        </if>
        <if test="id != null">
           and id = #{id}
        </if>
    </select>
    <select id="getReportCheckOrderDisposeList" parameterType="com.dili.trace.domain.CheckOrderDispose"
            resultType="com.dili.trace.domain.CheckOrderDispose">
        select
        id,
        check_no,
        market_id,
        dispose_date,
        dispose_desc,
        dispose_num,
        dispose_result,
        dispose_type,
        dispose_user,
        report_flag,
        from
        check_order_dispose
        where
          report_flag = #{reportFlag}
    </select>
</mapper>