<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.HangGuoDataMapper">
    <insert id="bachInsertCommodityList" parameterType="java.util.List" useGeneratedKeys="true">
        insert into
        category(name,full_name,level,created,modified,market_id,type,specification,code,parent_code,is_show)
        values
        <foreach collection="list" item="co" separator=",">
            (#{co.name},#{co.fullName},#{co.level},#{co.created},#{co.modified},#{co.marketId},#{co.type},#{co.specification},#{co.code},#{co.parentCode},#{co.isShow})
        </foreach>
    </insert>

    <update id="updateHangGuoCommodityParent" parameterType="com.dili.trace.domain.Category">

               UPDATE category c,category c2
                SET c2.parent_id=c.id
                WHERE c.code=c2.parent_code
                AND c2.parent_code IS NOT NULL
                AND c.market_id=#{marketId}
                AND c2.market_id=#{marketId}
                AND DATE(c2.created) = DATE(#{created})

    </update>

    <select id="getUserListByThirdPartyCode" parameterType="java.util.List"
            resultType="com.dili.trace.domain.UserInfo">
        SELECT
        u.name,
        u.id,
        u.third_party_code
        FROM
        user u
        where u.third_party_code
        <foreach collection="list" open=" IN (" close=")" item="thirdCode" separator=",">
            #{thirdCode}
        </foreach>
    </select>

    <update id="batchUpdateUserByThirdCode" parameterType="java.util.List">
        UPDATE user SET id = id WHERE 0=1
    </update>

    <select id="getCategoryListByThirdCode" parameterType="java.util.List"
            resultType="com.dili.trace.domain.Category">
        select
        id,
        parent_id,
        name,
        full_name,
        level,
        created,
        modified,
        market_id,
        code,
        is_show,
        type,
        specification,
        parent_code
        from category
        where
        code
        <foreach collection="list" open=" IN (" close=")" item="thirdCode" separator=",">
            #{thirdCode}
        </foreach>
    </select>

    <delete id="deleteHangGuoCommodityByThirdCode" parameterType="java.util.List">
        delete from category
        where
        code
        <foreach collection="list" open=" IN (" close=")" item="thirdCode" separator=",">
            #{thirdCode.code}
        </foreach>
    </delete>

    <insert id="bachInsertCacheTradeList" parameterType="java.util.List">
        insert into third_hangguo_trade_data
        (order_date,supplier_no,supplier_name,batch_no,item_number,item_name,unit,origin_no,
        origin_name,position_no,position_name,price,package_number,number,amount,weight,
        trade_no,pos_no,pay_way,member_no,member_name,total_amount,operator,payer,
        pay_no,register_no,create_time)
        values
        <foreach collection="list" item="t" separator=",">
            (#{t.orderDate},#{t.supplierNo},#{t.supplierName},#{t.batchNo},#{t.itemNumber},#{t.itemName},#{t.unit},#{t.originNo},
            #{t.originName},#{t.positionNo},#{t.positionName},#{t.price},#{t.packageNumber},#{t.number},#{t.amount},#{t.weight},
            #{t.tradeNo},#{t.posNo},#{t.payWay},#{t.memberNo},#{t.memberName},#{t.totalAmount},#{t.operator},#{t.payer},
            #{t.payNo},#{t.registerNo},now()
            )
        </foreach>
    </insert>

    <select id="getBillTradeDetailListByBillIds" parameterType="java.util.List"
            resultType="com.dili.trace.domain.TradeDetail">
        SELECT
        id,
        parent_id,
        bill_id,
        checkin_record_id,
        checkout_record_id,
        checkin_status,
        checkout_status,
        sale_status,
        trade_type,
        buyer_id,
        buyer_name,
        seller_id,
        seller_name,
        product_name,
        stock_weight,
        total_weight,
        weight_unit,
        product_stock_id,
        trade_request_id,
        created,
        modified,
        is_batched,
        batch_no,
        parent_batch_no,
        pushaway_weight,
        soft_weight
        FROM trade_detail
        WHERE bill_id
        <foreach collection="list" open=" IN (" close=")" item="billId" separator=",">
            #{billId}
        </foreach>
    </select>
    <select id="getProductStockListByIds" parameterType="java.util.List"
            resultType="com.dili.trace.domain.ProductStock">
        select
        id,
        preserve_type,
        stock_weight,
        total_weight,
        weight_unit,
        spec_name,
        product_name,
        product_id,
        user_name,
        user_id,
        brand_id,
        created,
        modified,
        trade_detail_num,
        brand_name,
        market_id
        from product_stock
        where
        id
        <foreach collection="list" open=" IN (" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </select>

    <update id="updateTradeReportListByBeyondAmount">

                update third_hangguo_trade_data
                set report_flag=3
                where amount >= #{maxAmount}
                and handle_flag=1

    </update>

    <select id="selectTradeReportListByHandleFlag" parameterType="com.dili.trace.domain.hangguo.HangGuoTrade"
            resultType="com.dili.trace.domain.hangguo.HangGuoTrade">
                select
                id,order_date,supplier_no,supplier_name,batch_no,item_number,item_name,unit,origin_no,
                origin_name,position_no,position_name,price,package_number,number,amount,weight,
                trade_no,pos_no,pay_way,member_no,member_name,total_amount,operator,payer,
                pay_no,register_no,handle_flag,report_flag,handle_remark
                from third_hangguo_trade_data
                where handle_flag=#{handleFlag}
                <![CDATA[AND #{createdStart}<=create_time]]>
                <![CDATA[AND create_time <=#{createdEnd}]]>
        ORDER BY create_time ASC
    </select>

    <update id="batchUpdateCacheTrade">
        update third_hangguo_trade_data
        set handle_flag=#{handleFlag}
        <if test="handleRemark != null">
            ,handle_remark = #{handleRemark}
        </if>
        where id
        <foreach collection="list" open=" IN (" close=")" item="trade" separator=",">
            #{trade.id}
        </foreach>
    </update>
    <select id="getRegisterBillByIds" parameterType="java.util.List" resultType="com.dili.trace.domain.RegisterBill">
        select
        id,code,sample_code,name,id_card_no,addr,phone,user_id,plate,
        state,sales_type,product_name,product_id,origin_id,origin_name,weight,operator_id,
        operator_name,sample_source,detect_state,latest_detect_record_id,latest_detect_operator,
        latest_detect_time,latest_pd_result,version,created,modified,upstream_id,complete,verify_status,
        weight_unit,preserve_type,verify_type,spec_name,bill_type,brand_id,brand_name,truck_type,tally_area_no,
        reason,checkin_status,checkout_status,is_deleted,operation_time,market_id,register_head_code,
        third_party_code,area,measure_type,piece_num,piece_weight,remark,create_user,delete_user,delete_time,
        packaging,order_type
        from register_bill
        where
        id
        <foreach collection="list" open=" IN (" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="batchInsertTradeDetail" parameterType="java.util.List">
        insert into trade_detail(
        parent_id,bill_id,checkin_record_id,checkout_record_id,checkin_status,
        checkout_status,sale_status,trade_type,buyer_id,buyer_name,seller_id,seller_name,
        product_name,stock_weight,total_weight,weight_unit,product_stock_id,trade_request_id,created,modified,
        is_batched,batch_no,parent_batch_no,pushaway_weight,soft_weight
        )
        values
        <foreach collection="list" item="t" separator=",">
            (#{t.parentId},#{t.billId},#{t.checkinRecordId},#{t.checkoutRecordId},#{t.checkinStatus},
            #{t.checkoutStatus},#{t.saleStatus},#{t.tradeType},#{t.buyerId},#{t.buyerName},#{t.sellerId},#{t.sellerName},
            #{t.productName},#{t.stockWeight},#{t.totalWeight},#{t.weightUnit},#{t.productStockId},#{t.tradeRequestId},
            #{t.created},#{t.modified},#{t.isBatched},#{t.batchNo},#{t.parentBatchNo},#{t.pushawayWeight},#{t.softWeight})
        </foreach>
    </insert>

    <select id="getCheckOrderDataList" parameterType="java.util.List" resultType="com.dili.trace.domain.CheckOrderData">
        select
        id,
        check_id,
        project,
        normal_value,
        result,
        `value`
        from
        check_data
        where
        check_id
        <foreach collection="list" open=" IN (" close=")" item="t" separator=",">
            #{t.id}
        </foreach>
    </select>
    <select id="getReportCheckOrderList" parameterType="com.dili.trace.domain.CheckOrder"
            resultType="com.dili.trace.domain.CheckOrder">
        select
        c.id,
        c.id_card,
        c.user_id,
        c.user_name,
        c.tally_area_nos,
        c.check_no,
        c.check_org_code,
        c.check_org_name,
        c.check_result,
        c.check_time,
        c.check_type,
        c.checker,
        c.checker_id,
        c.goods_name,
        c.goods_code,
        c.market_id,
        c.report_flag
        from check_order c
        where 1=1
        <if test="reportFlag != null">
            and c.report_flag = #{reportFlag}
        </if>
        <if test="id != null">
            and c.id = #{id}
        </if>
    </select>
    <select id="getReportCheckOrderDisposeList" parameterType="com.dili.trace.domain.CheckOrderDispose"
            resultType="com.dili.trace.domain.CheckOrderDispose">

                select
                id,
                check_no,
                market_id,
                dispose_date,
                dispose_desc,
                dispose_num,
                dispose_result,
                dispose_type,
                disposer,
                disposer_id,
                report_flag
                from
                check_order_dispose
                where
                  report_flag = #{reportFlag}

    </select>

    <select id="getThirdPartySourceData" parameterType="com.dili.trace.domain.ThirdPartySourceData"
            resultType="com.dili.trace.domain.ThirdPartySourceData">
        select
        id,
        name,
        type,
        operator_id,
        operator_name,
        data,
        created,
        modified,
        market_id
        from
        third_party_source_data
        where
        1=1
        <if test="name != null">
            AND name=#{name}
        </if>
        <if test="type != null">
            AND type=#{type}
        </if>
        <if test="id != null">
            AND id=#{id}
        </if>
    </select>

    <insert id="insertThirdPartySourceData" parameterType="com.dili.trace.domain.ThirdPartySourceData">

                insert into third_party_source_data
                (name,type,operator_id,operator_name,
                    data,created, modified,market_id)
                values (
                #{name},#{type},#{operatorId},#{operatorName},#{data},#{created},#{modified},#{marketId})

    </insert>

    <select id="getHangGuoScanOrderReport" parameterType="com.dili.trace.dto.PushDataQueryDto"
            resultType="com.dili.trace.dto.thirdparty.report.ReportScanCodeOrderDto">
        SELECT r.`created` orderTime, r.`buyer_id` thirdBuyId, r.`id` thirdOrderId, r.`seller_id` thirdSellId,r.price
        FROM trade_request r
        JOIN trade_order o ON (r.trade_order_Id = o.id AND o.order_status = 10)
        JOIN `user` u ON (r.`buyer_id` = u.`id` AND u.`source` = 20)
        WHERE r.return_status = 0
        AND r.source_type = 2
        AND r.report_flag = 1
        <if test="modifiedEnd != null">
            <![CDATA[AND o.modified <=#{modifiedEnd}]]>
        </if>
        <if test="modifiedStart != null">
            <![CDATA[AND o.modified >#{modifiedStart}]]>
        </if>
        <if test="marketId != null">
            AND r.buyer_market_id = #{marketId} AND r.seller_market_id = #{marketId}
        </if>
    </select>

    <update id="updateCheckOrderReportFlag" parameterType="java.util.List">
        update check_order
        set report_flag= 2
        where id
        <foreach collection="list" open=" IN (" close=")" item="t" separator=",">
            #{t.id}
        </foreach>
    </update>

    <update id="updateCheckOrderDisposeReportFlag" parameterType="java.util.List">
        update check_order_dispose
        set report_flag= 2
        where id
        <foreach collection="list" open=" IN (" close=")" item="t" separator=",">
            #{t.id}
        </foreach>
    </update>

    <select id="getCategoryFaultList" parameterType="com.dili.trace.domain.Category"
            resultType="com.dili.trace.domain.Category">
                SELECT
                    c.id,c.parent_id,c.name,c.full_name,c.level,c.created,c.modified,c.market_id,c.code,c.is_show,c.type,c.parent_code
                 FROM category c
                 WHERE c.parent_id is null
                 <![CDATA[ and c.level <> 1 ]]>
                 and c.market_id=#{marketId}

    </select>
    <select id="getCategoryByThirdCode" resultType="com.dili.trace.domain.Category">
        SELECT
            c.id,c.parent_id,c.name,c.full_name,c.level,c.created,c.modified,c.market_id,c.code,c.is_show,c.type,c.parent_code
         FROM category c
         WHERE c.code  = #{code}
    </select>

    <update id="batchUpdateCategoryByThirdCode" parameterType="java.util.List">
        UPDATE category
        SET name =
        <foreach collection="list" item="cate" index="index"
                 separator=" " open="case code" close="end">
            when #{cate.code} then #{cate.name}
        </foreach>
        WHERE code
        <foreach collection="list" open=" IN (" close=")" item="u" separator=",">
            #{u.code}
        </foreach>
    </update>


    <update id="updateParentByUapId" parameterType="com.dili.trace.domain.Category">
       UPDATE category ca_1,category ca_2
        SET ca_1.parent_id = ca_2.id
        WHERE ca_1.uap_parent_id = ca_2.uap_id
        AND ca_1.uap_parent_id IS NOT NULL
        AND DATE(ca_1.modified)=DATE(#{modified})
    </update>

    <insert id="insertIgnoreCategory" parameterType="com.dili.trace.domain.Category" >
      INSERT ignore into `category`
      (category_id,market_id,last_sync_success)
      values(#{categoryId},#{marketId},#{lastSyncSuccess});
  </insert>

</mapper>