<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.RegisterHeadMapper">

  <resultMap id="BaseResultMap" type="com.dili.trace.domain.RegisterHead" >
    <result column="id" property="id" />
    <result column="code" property="code" />
    <result column="bill_type" property="billType" />
    <result column="user_id" property="userId" />
    <result column="name" property="name" />
    <result column="id_card_no" property="idCardNo" />
    <result column="card_no" property="cardNo" />
    <result column="addr" property="addr" />
    <result column="phone" property="phone" />
    <result column="product_id" property="productId" />
    <result column="product_name" property="productName" />
    <result column="measure_type" property="measureType" />
    <result column="piece_num" property="pieceNum" />
    <result column="piece_weight" property="pieceWeight" />
    <result column="weight" property="weight" />
      <result column="remain_weight" property="remainWeight" />
    <result column="weight_unit" property="weightUnit" />
    <result column="spec_name" property="specName" />
    <result column="origin_id" property="originId" />
    <result column="origin_name" property="originName" />
    <result column="brand_id" property="brandId" />
    <result column="brand_name" property="brandName" />
    <result column="remark" property="remark" />
    <result column="create_user" property="createUser" />
    <result column="created" property="created" />
    <result column="modify_user" property="modifyUser" />
    <result column="modified" property="modified" />
    <result column="is_deleted" property="isDeleted" />
    <result column="delete_user" property="deleteUser" />
    <result column="delete_time" property="deleteTime" />
    <result column="version" property="version" />
    <result column="reason" property="reason" />
    <result column="active" property="active" />
    <result column="market_id" property="marketId" />
  </resultMap>

</mapper>