<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.RegisterBillMapper">
  <resultMap id="BaseResultMap" type="com.dili.trace.domain.RegisterBill">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="register_source" jdbcType="TINYINT" property="registerSource" />
    <result column="tally_area_no" jdbcType="VARCHAR" property="tallyAreaNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="trade_account" jdbcType="VARCHAR" property="tradeAccount" />
    <result column="trade_printing_card" jdbcType="VARCHAR" property="tradePrintingCard" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="plate" jdbcType="VARCHAR" property="plate" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="sales_type" jdbcType="TINYINT" property="salesType" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="origin_id" jdbcType="BIGINT" property="originId" />
    <result column="origin_name" jdbcType="VARCHAR" property="originName" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="detect_state" jdbcType="TINYINT" property="detectState" />
    <result column="latest_detect_record_id" jdbcType="BIGINT" property="latestDetectRecordId" />
    <result column="latest_detect_time" jdbcType="TIMESTAMP" property="latestDetectTime" />
    <result column="exe_machine_no" jdbcType="VARCHAR" property="exeMachineNo" />
    <result column="version" jdbcType="TINYINT" property="version" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="latest_detect_operator" jdbcType="VARCHAR" property="latestDetectOperator" />
    <result column="latest_pd_result" jdbcType="VARCHAR" property="latestPdResult" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, code, register_source, tally_area_no, name, id_card_no, addr, trade_no, user_id, 
    plate, state, sales_type, product_name, product_id, origin_id, origin_name, weight,
    detect_state, latest_detect_record_id, latest_detect_time, exe_machine_no, version, 
    created, modified,latest_detect_operator,trade_account,operator_id,operator_name,latest_pd_result
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from register_bill
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.trace.domain.RegisterBill">
    <!--
      WARNING - @mbg.generated
    -->
    update register_bill
    <set>
      <if test="code != null">
        code = #{code,jdbcType=BIGINT},
      </if>
      <if test="registerSource != null">
        register_source = #{registerSource,jdbcType=TINYINT},
      </if>
      <if test="tallyAreaNo != null">
        tally_area_no = #{tallyAreaNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null">
        id_card_no = #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null">
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeAccount != null">
        trade_account = #{tradeAccount,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="plate != null">
        plate = #{plate,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
      <if test="salesType != null">
        sales_type = #{salesType,jdbcType=BIT},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="originId != null">
        origin_id = #{originId,jdbcType=BIGINT},
      </if>
      <if test="originName != null">
        origin_name = #{originName,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="detectState != null">
        detect_state = #{detectState,jdbcType=BIT},
      </if>
      <if test="latestDetectRecordId != null">
        latest_detect_record_id = #{latestDetectRecordId,jdbcType=BIGINT},
      </if>
      <if test="latestDetectTime != null">
        latest_detect_time = #{latestDetectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exeMachineNo != null">
        exe_machine_no = #{exeMachineNo,jdbcType=VARCHAR},
      </if>
      <if test="operator_id != null">
        operator_id = #{operator_id,jdbcType=BIGINT},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=TINYINT},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="latestDetectOperator != null">
        latest_detect_operator = #{latestDetectOperator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--自定义sql-->
  <select id="findMatchDetectBind" parameterType="com.dili.trace.dto.MatchDetectParam" resultType="java.lang.Long">
    SELECT id  from register_bill
    where `trade_type_id` = #{tradeTypeId} and `product_name` = #{productName} and `id_card_no` = #{idCardNo}
    and `latest_detect_time` BETWEEN #{start} AND #{end} AND register_source = 2 AND trade_no IS NULL
    AND detect_state in(1,3)
    ORDER BY id DESC limit 1
  </select>

  <update id="matchDetectBind" >
    update register_bill  set `trade_no` = #{tradeNo},`weight` = #{weight} WHERE  id = #{id} and (trade_no is NULL or trade_no='')
  </update>
  <select id="findByExeMachineNo" resultType="com.dili.trace.domain.RegisterBill">
    select  <include refid="Base_Column_List" />
    from register_bill
    where state = 5 and exe_machine_no = #{exeMachineNo}
  </select>
  <select id="findIdsByExeMachineNo" resultType="java.lang.Long">
    select id
    from register_bill
    where state = 4 and (exe_machine_no is null or exe_machine_no='')
    ORDER BY id ASC
    limit 0,#{taskCount}
  </select>

  <update id="taskByExeMachineNo">
     update register_bill  set `exe_machine_no` = #{exeMachineNo},state = 5
      WHERE id IN  (${ids}) and (exe_machine_no is null or exe_machine_no='')
  </update>
  
    <select id="groupByState" parameterType="com.dili.trace.dto.RegisterBillDto"  resultType="com.dili.trace.dto.RegisterBillStaticsDto">
   	select sum( case when detect_state=1 then 1  when detect_state=3 then 1  else 0 end)as 'pass',
	sum( case when detect_state=2 then 1  when detect_state=4 then 1  else 0 end)as 'nopass',
	sum( case when (sample_source=2 and detect_state  in (1,2,3,4) )then 1 else 0 end)as 'check',
	sum( case when detect_state=3 then 1  when detect_state=4 then 1  else 0 end)as 'recheck'
    from register_bill
    where 1=1
    <if test="createdStart != null">
		and created>=  #{createdStart}
	</if>
    <if test="createdEnd != null">
		and #{createdEnd}>= created
	</if>
	<if test="latestDetectTimeTimeStart != null">
 		and latest_detect_time>=  #{latestDetectTimeTimeStart}
	</if>
    <if test="latestDetectTimeTimeEnd != null">
		and #{latestDetectTimeTimeEnd}>= latest_detect_time
	</if> 
  </select>
</mapper>