<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.TradeRequestMapper">

  <select id="queryListByOrderStatus" parameterType="com.dili.trace.api.input.TradeRequestInputDto" resultType="com.dili.trace.domain.TradeRequest">
    <![CDATA[
      SELECT r.id,r.buyer_id,r.buyer_name,r.code,r.created,r.modified,
      r.product_name,r.product_stock_id,r.reason,r.return_status,r.seller_id,r.seller_name,r.spec_name,
      r.trade_order_Id,r.trade_weight,r.weight_unit
      FROM trade_request r,trade_order o WHERE o.id = r.trade_order_Id
      AND (r.buyer_id = #{buyerId} OR r.seller_id = #{buyerId})
      and (r.created >= #{createdStart} and r.created <=#{createdEnd})
      and r.order_status = #{orderStatus}
      and r.seller_id is not null
     ]]>
  </select>


  <select id="selectScanOrderReport" parameterType="com.dili.trace.dto.PushDataQueryDto" resultType="com.dili.trace.dto.thirdparty.report.ReportScanCodeOrderDto">
    SELECT r.`created` orderTime, r.`buyer_id` thirdBuyId, r.`id` thirdOrderId, r.`seller_id` thirdSellId
      FROM trade_request r
      JOIN trade_order o ON (r.trade_order_Id = o.id AND o.order_status = 10)
      JOIN `user` u ON (r.`buyer_id` = u.`id` AND u.`source` = 20)
      WHERE r.return_status = 0
      AND r.source_type = 1
      <if test="modifiedEnd != null">
        <![CDATA[AND o.modified <=#{modifiedEnd}]]>
      </if>
      <if test="modifiedStart != null">
        <![CDATA[AND o.modified >#{modifiedStart}]]>
      </if>
      <if test="marketId != null">
          AND r.buyer_market_id = #{marketId} AND r.seller_market_id = #{marketId}
      </if>
  </select>

    <select id="selectDeliveryOrderReport" parameterType="com.dili.trace.dto.PushDataQueryDto"
            resultType="com.dili.trace.dto.thirdparty.report.ReportDeliveryOrderDto">
        SELECT r.`created` orderTime, r.`buyer_id` thirdDsId, r.`id` thirdOrderId, r.`seller_id` thirdAccId
        FROM trade_request r
        JOIN trade_order o ON (r.trade_order_Id = o.id AND o.order_status = 10)
        JOIN `user` u ON (r.`buyer_id` = u.`id` AND u.`source` = 10)
        WHERE r.return_status = 0
        AND r.source_type = 1
        <if test="modifiedEnd != null">
            <![CDATA[AND o.modified <=#{modifiedEnd}]]>
        </if>
        <if test="modifiedStart != null">
            <![CDATA[AND o.modified >#{modifiedStart}]]>
        </if>
        <if test="marketId != null">
            AND r.buyer_market_id = #{marketId} AND r.seller_market_id = #{marketId}
        </if>
    </select>

  <select id="selectOrderDetailReport" parameterType="com.dili.trace.dto.PushDataQueryDto" resultType="com.dili.trace.dto.thirdparty.report.ReportOrderDetailDto">
    SELECT d.`trade_request_id` requestId,d.`id` detailId, d.`total_weight` orderNum, d.`bill_id` thirdEnterId, p.`trade_request_id` thirdOrderParentId,
      d.`parent_id` thirdOrderDetailParentId, IF(d.`weight_unit`=1,'斤','公斤') unitName
    FROM `trade_detail` d
      LEFT JOIN `trade_detail` p ON d.`parent_id` = p.`id`
    WHERE d.`trade_request_id` in
      <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
        #{id}
      </foreach>
  </select>

  <select id="selectDeletedScanOrderReport" parameterType="com.dili.trace.dto.PushDataQueryDto" resultType="com.dili.trace.dto.thirdparty.report.ReportDeletedOrderDto">
    SELECT GROUP_CONCAT(r.id) thirdOrderIds
    FROM trade_request r
    JOIN `user` u ON (r.`buyer_id` = u.`id` AND u.`source` = 20)
    WHERE r.return_status = 20
    <if test="modifiedEnd != null">
      <![CDATA[AND r.modified <=#{modifiedEnd}]]>
    </if>
    <if test="modifiedStart != null">
      <![CDATA[AND r.modified >#{modifiedStart}]]>
    </if>
      <if test="marketId != null">
          AND r.buyer_market_id = #{marketId} AND r.seller_market_id = #{marketId}
      </if>
  </select>

  <select id="selectDeletedDeliveryOrderReport" parameterType="com.dili.trace.dto.PushDataQueryDto" resultType="com.dili.trace.dto.thirdparty.report.ReportDeletedOrderDto">
    SELECT GROUP_CONCAT(r.id) thirdOrderIds
    FROM trade_request r
    JOIN `user` u ON (r.`buyer_id` = u.`id` AND u.`source` = 10)
    WHERE r.return_status = 20
    <if test="modifiedEnd != null">
      <![CDATA[AND r.modified <=#{modifiedEnd}]]>
    </if>
    <if test="modifiedStart != null">
      <![CDATA[AND r.modified >#{modifiedStart}]]>
    </if>
      <if test="marketId != null">
          AND r.buyer_market_id = #{marketId} AND r.seller_market_id = #{marketId}
      </if>
  </select>

  <select id="queryPurchaseGoodsReportList" parameterType="com.dili.trace.dto.PurchaseGoodsReportQueryDto"
          resultType="com.dili.trace.dto.PurchaseGoodsReportDto">
      SELECT t.`product_name` AS product_name,
      ROUND(SUM(IF(t.weight_unit=1,t.`trade_weight`*0.0005,t.trade_weight*0.001)),3) AS weight
      FROM `trade_request` t, trade_order o, `user` u
      WHERE o.`order_status`=10
      <if test="startDate != null">
          <![CDATA[AND t.`handle_time`>=#{startDate}]]>
      </if>
      <if test="endDate != null">
          <![CDATA[AND t.`handle_time`<=#{endDate}]]>
      </if>
      <if test="productName != null and productName != ''">
          AND t.product_name LIKE #{productName}
      </if>
      <if test="marketId != null">
          AND t.buyer_market_id = #{marketId} AND t.seller_market_id = #{marketId}
      </if>
      AND t.`return_status`!=20
      AND t.trade_order_id = o.id
      AND u.id = t.buyer_id
      AND t.buyer_market_id = u.market_id
      AND u.state=1
      AND u.validate_state=40
      AND u.yn=1
      GROUP BY t.`product_name` ORDER BY weight DESC

  </select>

  <select id="queryUserPurchaseReportList" parameterType="com.dili.trace.dto.UserPurchaseReportQueryDto"
          resultType="com.dili.trace.dto.PurchaseGoodsReportDto">
      SELECT user.name AS user_name, t.`product_name` AS product_name,
      ROUND(SUM(IF(t.weight_unit=1,t.`trade_weight`*0.0005,t.trade_weight*0.001)),3) AS weight
      FROM `trade_request` t, trade_order o, `user` user
      WHERE o.`order_status`=10
      <if test="startDate != null">
          <![CDATA[AND t.`handle_time`>=#{startDate}]]>
      </if>
      <if test="endDate != null">
          <![CDATA[AND t.`handle_time`<=#{endDate}]]>
      </if>
      <if test="userName != null and userName != ''">
          and user.name like #{userName}
      </if>
      <if test="phone != null and phone != ''">
          and user.phone like #{phone}
      </if>
      <if test="marketId != null">
          AND t.buyer_market_id = #{marketId} AND t.seller_market_id = #{marketId}
      </if>
      AND t.`return_status`!=20
      AND t.trade_order_id = o.id
      AND user.id = t.buyer_id
      AND user.market_id = t.buyer_market_id
      AND user.state=1
      AND user.validate_state=40
      AND user.yn=1
      GROUP BY t.buyer_id, t.`product_name` ORDER BY user.name, weight DESC
  </select>

</mapper>