<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.TradeTypeMapper">
  <resultMap id="BaseResultMap" type="com.dili.trace.domain.TradeType">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="typeID" jdbcType="VARCHAR" property="typeId" />
    <result column="typeName" jdbcType="VARCHAR" property="typeName" />
  </resultMap>
  <select id="findAll" resultMap="BaseResultMap">
    SELECT typeID AS typeId ,typeName FROM vTradeType WHERE 1=1
  </select>
</mapper>