<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.TradeDetailMapper">
  <select id="selectTradeDetailAndBill" parameterType="com.dili.trace.dto.RegisterBillDto" resultType="com.dili.trace.api.output.TradeDetailBillOutput">
    SELECT * FROM (select bill_id,trade_detail.id as trade_detail_id,
      register_bill.verify_status,trade_detail.stock_weight,trade_detail.total_weight,
      trade_detail.weight_unit ,
      trade_detail.trade_type,
      case when trade_detail.trade_type=0 then register_bill.created else trade_detail.created end as created,
      trade_detail.product_name,
      register_bill.checkin_status,
      register_bill.bill_type,
      register_bill.truck_type,
      register_bill.regist_type,
      register_bill.is_deleted,
      register_bill.detect_status
      from trade_detail 
      left join register_bill on trade_detail.bill_id =register_bill.id 
      where buyer_id=#{userId}
      <if test="createdStart != null">
        <![CDATA[
        AND #{createdStart}<=(case when trade_detail.trade_type=0 then register_bill.created else trade_detail.created end) ]]>
      </if>
      <if test="createdEnd != null">
        <![CDATA[AND (case when trade_detail.trade_type=0 then register_bill.created else trade_detail.created end) <=#{createdEnd}]]>
      </if>
      <if test="likeProductName != null  and likeProductName != ''">
        AND trade_detail.product_name like '%${likeProductName}%'
      </if>
      <if test="isDeleted != null">
        AND register_bill.is_deleted =#{isDeleted}
      </if>
      <if test="verifyStatusList != null  and verifyStatusList.size()>0">
        AND register_bill.verify_status
        <foreach collection="verifyStatusList " open=" IN (" close=")" item="verifyStatus" separator=",">
          #{verifyStatus}
        </foreach>
      </if>
    <if test="detectStatusList != null  and detectStatusList.size()>0">
      AND register_bill.detect_status
      <foreach collection="detectStatusList " open=" IN (" close=")" item="detectStatus" separator=",">
        #{detectStatus}
      </foreach>
    </if>

    <if test="billTypes != null  and billTypes.size()>0">
      AND register_bill.bill_type
      <foreach collection="billTypes " open=" IN (" close=")" item="billType" separator=",">
        #{billType}
      </foreach>
    </if>
      <if test="marketId != null">
        AND register_bill.market_id =#{marketId}
      </if>
      union
      select id as bill_id,null as trade_detail_id,
      register_bill.verify_status,weight,weight,
      weight_unit,
      null as trade_type,
      register_bill.created,
      register_bill.product_name,
      register_bill.checkin_status,
      register_bill.bill_type,
      register_bill.truck_type,
      register_bill.regist_type,
      register_bill.is_deleted,
      register_bill.detect_status
      from register_bill
      where user_id=#{userId} and id not in(
          select bill_id from trade_detail
        where buyer_id=#{userId}
      )
      <if test="createdStart != null">
        <![CDATA[ AND #{createdStart}<=register_bill.created ]]>
      </if>
      <if test="createdEnd != null">
        <![CDATA[AND register_bill.created <=#{createdEnd}]]>
      </if>
      <if test="likeProductName != null  and likeProductName != ''">
        AND register_bill.product_name  like '%${likeProductName}%'
      </if>
      <if test="isDeleted != null">
        AND register_bill.is_deleted =#{isDeleted}
      </if>
    <if test="verifyStatusList != null  and verifyStatusList.size()>0">
      AND register_bill.verify_status
      <foreach collection="verifyStatusList " open=" IN (" close=")" item="verifyStatus" separator=",">
        #{verifyStatus}
      </foreach>
    </if>
    <if test="detectStatusList != null  and detectStatusList.size()>0">
      AND register_bill.detect_status
      <foreach collection="detectStatusList " open=" IN (" close=")" item="detectStatus" separator=",">
        #{detectStatus}
      </foreach>
    </if>
    <if test="billTypes != null  and billTypes.size()>0">
      AND register_bill.bill_type
      <foreach collection="billTypes " open=" IN (" close=")" item="billType" separator=",">
        #{billType}
      </foreach>
    </if>
    <if test="marketId != null">
      AND register_bill.market_id =#{marketId}
    </if>
    ) t order by created desc
  </select>


  <select id="groupSumWeightByProductStockId" parameterType="com.dili.trace.domain.TradeDetail"
          resultType="com.dili.trace.dto.ret.TradeDetailRetDto">
    SELECT detect_request.detect_result,sum(stock_weight)as stock_weight,sum(total_weight) as total_weight,sum(soft_weight) as soft_weight
    from trade_detail
    inner join register_bill on trade_detail.bill_id=register_bill.id
    left JOIN detect_request on register_bill.detect_request_id =detect_request.bill_id
    where product_stock_id = #{productStockId}
    group by detect_request.detect_result

  </select>

</mapper>