<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.UserQrHistoryMapper">
    <resultMap id="BaseResultMap" type="com.dili.trace.domain.UserQrHistory">

    </resultMap>
    

    <select id="selectUserInfoIdWithoutHistory"  resultType="java.lang.Long">
      select id from `user`
      where id not in(
                select user_info_id from user_qr_history uq
                where <![CDATA[( uq.created >= #{createdStart} and uq.created <= #{createdEnd})]]>
                AND is_valid=#{isValid}
            )
  </select>
    <select id="listPageByUserQrHistoryQuery" parameterType="com.dili.trace.dto.query.UserQrHistoryQueryDto" resultType="com.dili.trace.domain.UserQrHistory">
        select * from `user_qr_history` where user_info_id in(
            select id from `user` where user_id=#{userId} and market_id =#{marketId}
        )
        <if test="isValid!=null">
            and is_valid=#{isValid}
        </if>
        <if test="createdStart!=null">
            <![CDATA[AND created >= #{createdStart} ]]>
        </if>
        <if test="createdEnd!=null">
            <![CDATA[AND created <= #{createdEnd}]]>
        </if>

    </select>


</mapper>