<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.dili.trace.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="card_no_url" jdbcType="VARCHAR" property="cardNoUrl" />
    <result column="tally_area_nos" jdbcType="VARCHAR" property="tallyAreaNos" />
    <result column="business_license_url" jdbcType="VARCHAR" property="businessLicenseUrl" />
    <result column="sales_city_id" jdbcType="BIGINT" property="salesCityId" />
    <result column="sales_city_name" jdbcType="VARCHAR" property="salesCityName" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="validate_state" jdbcType="BIT" property="validateState" />
    <result column="vocation_type" jdbcType="BIT" property="vocationType" />
    <result column="qr_status" jdbcType="BIT" property="qrStatus" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="market_id" jdbcType="BIGINT" property="marketId" />
    <result column="market_name" jdbcType="VARCHAR" property="marketName" />
    <result column="business_category_ids" jdbcType="VARCHAR" property="businessCategoryIds" />
    <result column="business_categories" jdbcType="VARCHAR" property="marketName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_name, phone, card_no, addr, card_no_url, tally_area_nos, business_license_url,market_id,market_name,qr_status,
    sales_city_id, sales_city_name, state, pwd, created, modified,name,validate_state,vocation_type,business_category_ids,business_categories
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.trace.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="cardNoUrl != null">
        card_no_url = #{cardNoUrl,jdbcType=VARCHAR},
      </if>
      <if test="tallyAreaNo != null">
        tally_area_no = #{tallyAreaNo,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null">
        business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="salesCityId != null">
        sales_city_id = #{salesCityId,jdbcType=BIGINT},
      </if>
      <if test="salesCityName != null">
        sales_city_name = #{salesCityName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="countGroupByValidateState" parameterType="com.dili.trace.domain.User" resultType="com.dili.trace.api.output.UserOutput">
    SELECT validate_state validateState,COUNT(1) numbers from `user` u  GROUP BY validate_state
  </select>

  <select id="listUserByQuery" parameterType="com.dili.trace.api.input.UserInput" resultType="com.dili.trace.api.output.UserOutput">
    SELECT id,name,tally_area_nos,phone,validate_state
    from `user` u
    where 1=1
    <if test="validateState != null">
      and validate_state = #{validateState}
    </if>
    <if test="keyword != null">
      and (name LIKE CONCAT('%',#{keyword},'%')  or tally_area_nos LIKE CONCAT('%',#{keyword},'%'))
    </if>

  </select>
</mapper>