<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.trace.dao.UsualAddressMapper">
	<resultMap id="BaseResultMap"
		type="com.dili.trace.domain.UsualAddress">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="type" jdbcType="VARCHAR"	property="type" />
		<result column="address_id" jdbcType="BIGINT"		property="addressId" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="merged_address" jdbcType="VARCHAR" property="mergedAddress" />
		<result column="created" jdbcType="TIMESTAMP"		property="created" />
		<result column="modified" jdbcType="TIMESTAMP"		property="modified" />
		<result column="today_used_count" jdbcType="INTEGER" property="todayUsedCount" />
		<result column="preday_used_count" jdbcType="INTEGER" property="preDayUsedCount" />
		<result column="clear_time" jdbcType="TIMESTAMP"		property="clearTime" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbg.generated -->
		id,
		type,
		address_id,
		address,
		merged_address,
		created,
		modified,
		today_used_count,
		preday_used_count,
		clear_time
	</sql>
	<select id="findUsualAddressByType" parameterType="com.dili.trace.domain.UsualAddress"		resultMap="BaseResultMap">
		<!-- WARNING - @mbg.generated -->
		select
		<include refid="Base_Column_List" />
		from usual_address
		where 1=1
		<if test="type!=null and type!=''">
		AND type=#{type}
		</if>
		order by (today_used_count+preday_used_count) desc
		limit 30
	</select>
	<update id="checkAndUpdateCountData"  parameterType="com.dili.trace.domain.UsualAddress" >
		UPDATE usual_address set preday_used_count=today_used_count,today_used_count=0, clear_time=#{clearTime}  WHERE DATEDIFF(#{clearTime},clear_time)>0;
	</update>

</mapper>