<#bs4Body>
    <div class="container-fluid pb-2">
<!--        <input type="hidden" id="_sourceChannel" value="<#config name='ia.source.channel.earnest_order'/>">-->
        <form id="saveForm" method="post" action="" class="pb-2">
<!--            <input name="id" id="_id" type="hidden">-->

            <div class="row row-cols-2 collapse show" id="baseInfo">
                <div class="form-group col">
                    <label for="type">地址类型<i class="red">*</i></label>
                    <select id="type"  name="type" class="form-control" required></select>
                    <#bcomboProvider _id="type" _provider="usualAddressTypeProvider"/>
                </div>

                <div class="form-group col">
                    <label for="addressInput" class="">地址<i class="red">*</i></label>
                    <input type="hidden" name="addressId">
                    <input type="hidden" name="mergedAddress">
                    <input type="hidden" name="address">
                    <input id="addressInput" name="addressInput" data-value-type="skip" type="text" class="form-control"  required />
                </div>
            </div>

            <div class="modal-footer-wrap">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()">取消</button>
                    <button type="button" class="btn btn-primary px-5"  id="formSubmit">确定</button>
                </div>
            </div>
        </form>
    </div>

</#bs4Body>
<#webGlobalConfig/>
<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js"></script>
<script src="${contextPath!}/resources/js/WebConfig.js"></script>
<script src="${contextPath!}/resources/js/CityController.js"></script>
<script src="${contextPath!}/resources/js/UsualAddress.edit.js"></script>
<script>
$(function(){
    var usualAddressEdit=new UsualAddressEdit($('#saveForm'),$('#formSubmit'));

})



</script>
