<#bs4Body>

<div class="container-fluid">
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="type">分类</label>
                <select id="type" name="type" class="form-control"></select>
                <#bcomboProvider _id="type" _provider="usualAddressTypeProvider" _value="" _onLoadSuccess=""/>
            </div>

            <div class="form-group col">
                <label for="address">地址</label>
                <input type="text" class="form-control" name="address" id="address"/>
            </div>

            <div class="col-auto align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>
    <hr>
    <div>
        <div id="toolbar" class="btn-group" role="group" aria-label="工具栏">
            <#resource code="usualAddress#add">
            <button id="add-btn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</button>
        </#resource>
        <#resource code="usualAddress#edit">
            <button id="edit-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-ban"></i> 修改</button>
    </#resource>
    <#resource code="usualAddress#delete">
            <button id="delete-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-ban"></i>删除</button>
</#resource>
<#resource code="usualAddress#export">
            <button id="export" style="display: none" type="button" class="btn btn-primary" onclick="bui.util.doExport('grid','queryForm')"><i class="fa fa-download"></i> 导出</button>
</#resource>
        </div>
        <table id="grid" data-toggle="table" data-title="常用配置列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="10"
               data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="true"
               data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="id" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
               data-show-refresh="true" data-show-fullscreen="true" data-show-columns="false" data-detail-view="false">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="addressId" data-sortable="true" data-align="center">
                    ID
                </th>
                <th data-field="typeDesc" data-sortable="false" data-align="center">
                    分类
                </th>
                <th data-field="address" data-sortable="true" data-align="center">
                    地址
                </th>
                <th data-field="mergedAddress" data-sortable="true" data-align="center">
                    全地址
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

</#bs4Body>
<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js?v=${v}"></script>
<script src="${contextPath!}/resources/js/WebConfig.js"></script>
<script src="${contextPath!}/resources/js/usualAddress.index.js?v=${v}"></script>
<#webGlobalConfig/>
<script>
    $(function () {
        var usualAddressIndex=new UsualAddressIndex($('#grid'),$('#queryForm'));
    });

</script>
