<#bs4Body>

<div class="container-fluid">
    <form id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="type">分类</label>
                <select id="type" name="type" class="form-control"></select>
                <#bcomboProvider _id="type" _provider="usualAddressTypeProvider" _value="" _onLoadSuccess=""/>
            </div>

            <div class="form-group col">
                <label for="address">地址</label>
                <input type="text" class="form-control" name="address" id="address"/>
            </div>

            <div class="col-auto align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>
    <hr>
    <div>
        <div id="toolbar" class="btn-group" role="group" aria-label="工具栏">
            <button id="add-btn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</button>
            <button id="edit-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-ban"></i> 修改</button>
            <button id="delete-btn" style="display: none" type="button" class="btn btn-primary"><i class="fa fa-ban"></i>删除</button>
            <button id="export" type="button" class="btn btn-primary" onclick="bui.util.doExport('grid','queryForm')"><i class="fa fa-download"></i> 导出</button>
        </div>
        <table id="grid" data-toggle="table" data-title="常用配置列表" class="table" data-toolbar="#toolbar" data-pagination="true" data-page-number="1" data-page-size="10"
               data-query-params="queryParams" data-side-pagination="server" data-method="POST" data-content-type="application/x-www-form-urlencoded" data-single-select="true"
               data-click-to-select="true"  data-checkbox-header="true" data-unique-id="id" data-sort-name="id" data-sort-order="desc"  data-icons="bui.variable.icons" data-buttons-class="primary"
               data-show-refresh="true" data-show-fullscreen="true" data-show-columns="false" data-detail-view="false">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="addressId" data-sortable="true" data-align="center">
                    ID
                </th>
                <th data-field="typeDesc" data-sortable="false" data-align="center">
                    分类
                </th>
                <th data-field="address" data-sortable="true" data-align="center">
                    地址
                </th>
                <th data-field="mergedAddress" data-sortable="true" data-align="center">
                    全地址
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<!-- 隐藏编辑框 -->
<div style="display: none" id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="常用地址新增" style="padding:20px" modal="true" border="thin" closed="true"
     data-options="
				iconCls: 'icon-edit',
				height: 350,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="430px">
            <tr>
                <td style="padding:5px;">
                    <input  name="_type" id="_type" style="width:100%" data-options="label:'分类*:', validType:'length[2,20]',required:true,panelMaxHeight:'100',editable:false" />
                    <#bcomboProvider _id="_type" _provider="usualAddressTypeProvider" _value="" _onLoadSuccess=""/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <select class="easyui-combobox" name="_addressId" id="_addressId" style="width:100%;"
                            data-options="label:'城市*:',loader:cityLoader,
                           mode: 'remote',valueField:'value' ,textField:'text',prompt:'请输入',
                            panelWidth:'auto',panelMinWidth:'340', panelHeight:'auto',panelMaxHeight:'400',
                           editable:true,validType:'comboBoxEditvalid[\'_addressId\']',required:true">
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>

</#bs4Body>
<script src="${contextPath!}/resources/assets/dep/underscore/underscore-min.js"></script>
<script src="${contextPath!}/resources/js/jquery.serializejson.js"></script>
<script src="${contextPath!}/resources/js/Utils.js"></script>
<script src="${contextPath!}/resources/js/WebConfig.js"></script>
<script src="${contextPath!}/resources/js/usualAddress.index.js"></script>
<#webGlobalConfig/>
<script>
    $(function () {
        var usualAddressIndex=new UsualAddressIndex($('#grid'),$('#queryForm'));
    });

</script>
